
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:
-- Create date: 
-- Description: 
-- Modification Date/By/Reason: 27/08/2012 Amrendra : Added Query for PIITREF Table for Bug-4909 
-- Guid line to update Bug-4909 -->As your view may have some costomization so just manually add following in your view  
--		union then Query for PIITREF Table
-- =============================================

ALTER  VIEW [dbo].[ORDZM_VW_ITREF] AS
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM STITREF 
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM SBITREF 
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM PTITREF
UNION
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM ARITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM OBITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM BPITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM BRITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM CNITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM CPITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM IIITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM PCITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM POITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM SOITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM SQITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM SRITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM DCITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM CRITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM DNITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM EPITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM ESITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM IPITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM IRITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM JVITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM OPITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM PRITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM SSITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM EQITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM TRITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM OSITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM ITREF
UNION 
SELECT Entry_ty,[Date],Doc_no,Itserial,Tran_cd,Rentry_ty,Rdate,Rdoc_no,Itref_Tran,Ritserial, RQty FROM PIITREF
UNION 
SELECT Entry_ty,[Date]=0,Doc_no=SPACE(1),Itserial,Tran_cd,Rentry_ty,Rdate=0,Rdoc_no=SPACE(1),Itref_Tran,Ritserial, RQty FROM NEWYEAR_ITREF

GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

