
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER VIEW [dbo].[STKL_VW_ITREF] AS
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM STITREF 
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM SBITREF 
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM PTITREF
UNION
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM ARITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM OBITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM BPITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM BRITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM CNITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM CPITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM IIITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM PCITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM POITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM SOITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM SQITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM SRITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM DCITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM CRITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM DNITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM EPITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM ESITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM IPITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM IRITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM JVITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM OPITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM PRITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM SSITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM EQITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM TRITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM OSITREF
UNION 
SELECT  ENTRY_TY,DATE,TRAN_CD,ITEM,ITSERIAL,RENTRY_TY,RDATE,ITREF_TRAN,rqty,RITSERIAL,COMPID FROM ITREF
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO

