
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER VIEW [dbo].[USP_ACDET_VW]
AS
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM STACDET E 
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM SBACDET E 
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM PTACDET E 
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM ARACDET E 
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM OBACDET E 
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM BPACDET E 
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM BRACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM CNACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM CPACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM IIACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM PCACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM POACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM SOACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM SQACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM SRACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM DCACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM CRACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM DNACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM EPACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM ESACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM IPACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM IRACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM JVACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM OPACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM PRACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM SSACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM EQACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM TRACDET E
UNION
SELECT E.TRAN_CD,E.ENTRY_TY,E.DATE,E.DOC_NO,E.AC_ID,E.AMOUNT,E.AMT_TY FROM ACDET E
GO

SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO

