<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="23" connectionString="Data Source=Sachin-pc\Sachin;Initial Catalog=M011314;uid=sa;pwd=sa1985" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
	</startup>
</configuration>
