<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="connstr" connectionString="Data Source=PRO_PRIYANKA\AVERY2008R2;Initial Catalog=CustModAccUIdb;uid=sa;pwd=sa1985" providerName="System.Data.SqlClient"/>
		<add name="vfpconnstr" connectionString="Provider=vfpoledb;Data Source=E:\Project\Dotnet\CustModAccUI\CustModAccUI2.UI\bin\Debug\Files\UpdtExe\feature.dbc;Collating Sequence=machine;" providerName="System.Data.OleDb.OleDbConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />-->
	</connectionStrings>
</configuration>