set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

IF EXISTS(SELECT [NAME] FROM SYS.PROCEDURES WHERE [NAME]='NAVIGATE_SMS_PARA_MASTER')
BEGIN
	DROP PROCEDURE NAVIGATE_SMS_PARA_MASTER
END
go

--**************************************************--
-- Procedure Name	: NAVIGATE_SMS_PARA_MASTER
-- Description		: This procedure is used to get the data for navigation in the SMS Parameter Master
-- Created by/On/For: Sachin N. S. on 29/04/2014 for Bug-22077
--**************************************************--
CREATE PROCEDURE [dbo].[NAVIGATE_SMS_PARA_MASTER]
@POSITION VARCHAR(10), @SMSCODE INT
AS
BEGIN
	DECLARE @RETROW VARCHAR(4)
	SELECT @RETROW = '0000'
	IF @POSITION='FIRST'
		BEGIN
			SELECT TOP 1 A.* FROM SMSPARAMMASTER A ORDER BY SMSCODE
			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) = (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE>A.SMSCODE)) > 0
				SELECT @RETROW = '0011'
		END
	IF @POSITION='PREVIOUS'
		BEGIN
			SELECT TOP 1 A.* FROM SMSPARAMMASTER A WHERE SMSCODE<@SMSCODE ORDER BY SMSCODE DESC
			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) = (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE<A.SMSCODE) AND A.SMSCODE<@SMSCODE) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) <= (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE>=A.SMSCODE) AND A.SMSCODE>=@SMSCODE) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END
	IF @POSITION='NEXT'
		BEGIN
			SELECT TOP 1 A.* FROM SMSPARAMMASTER A WHERE SMSCODE>@SMSCODE ORDER BY SMSCODE ASC
			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) <= (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE<=A.SMSCODE) AND A.SMSCODE<=@SMSCODE) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) = (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE>A.SMSCODE) AND A.SMSCODE>@SMSCODE) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END
	IF @POSITION='LAST'
		BEGIN
			SELECT TOP 1 A.* FROM SMSPARAMMASTER A ORDER BY SMSCODE DESC
			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) = (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE<A.SMSCODE)) > 0
				SELECT @RETROW = '1100'
		END
	IF @POSITION=''
		BEGIN
			SELECT TOP 1 A.* FROM SMSPARAMMASTER A WHERE SMSCODE=@SMSCODE ORDER BY SMSCODE 
			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) = (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE<A.SMSCODE) AND A.SMSCODE<@SMSCODE) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,1,2,'00')
				END

			IF (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER A WHERE (1) = (SELECT COUNT(SMSCODE) FROM SMSPARAMMASTER B WHERE B.SMSCODE>A.SMSCODE) AND A.SMSCODE>@SMSCODE) > 0
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'11')
				END
			ELSE
				BEGIN
					SELECT @RETROW = STUFF(@RETROW,3,2,'00')
				END
		END

	SELECT @RETROW
END

