set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER     PROCEDURE [dbo].[usp_rep_sale_exciseBill]
@spFromInvno varchar(20),@spToInvno varchar(20),@pFormula varchar(50),@pProgCond varchar(50)
as
declare @spString nvarchar(3000),@@spOutput numeric (20,5)
set @spstring = ''
set @spstring = @spstring + 'select a.[date],a.party_nm,a.inv_no,a.due_dt,a.gro_amt as mGro_amt,a.tot_deduc,a.tot_add,a.examt,a.taxamt,a.tax_name,'
set @spstring = @spstring + 'a.tot_tax,a.net_amt,a.disc,a.tds,a.narr,a.tot_nontax,a.tot_fdisc,a.u_chalno,a.u_chaldt,a.u_cvdamt,a.u_cvdpay,'
set @spstring = @spstring + 'a.u_timep,a.u_timep1,a.u_pono,a.u_lrno,a.u_deliver,a.u_vehno,a.u_deli,a.u_pfor,a.U_SERVICE,a.U_SERVCESS,a.U_SERPER,'
set @spstring = @spstring + 'a.U_SERCPER,b.itserial,b.sr_no,b.item,b.qty,b.rate,b.gro_amt,b.tax_name as itTacname,b.taxamt as itTaxamt,b.examt as itexamt,b.narr as itNarr,b.disc as itdisc,b.u_asseamt,'
set @spstring = @spstring + 'b.u_batchno,b.u_cessper,b.u_cessamt,b.u_cvdper,b.u_cvdamt as itu_cvdamt,d.mailname,d.add1,d.add2,d.add3,d.zip,d.city,cast(0 as numeric(20,5)) as progtotal into ##SalesBill '
set @spstring = @spstring + 'from STMAIN A inner join STITEM B on (a.entry_ty = b.entry_ty and A.tran_cd=B.tran_cd) inner join AC_MAST C on (c.ac_name = a.party_nm) left join shipto d on (d.ac_name = a.party_nm)'
set @spstring = @spstring + ' where a.inv_no between '+char(39)+@spFromInvno+char(39)+' and '+char(39)+@spToInvno+char(39)
print @spstring 
execute SP_EXECUTESQL @spString

set @spstring = 'declare saleBillcurs cursor for (select inv_no,date from stmain where (inv_no between '+char(39)+@spFromInvno+char(39)+' and '+char(39)+@spToInvno+char(39)+'))' 
execute SP_EXECUTESQL @spString

open saleBillcurs
declare @minv_no varchar(20),@minvdate smalldatetime,@mprogtotal numeric(20,5)
set @@spOutput=0.00
fetch next from salebillcurs into @minv_no,@minvdate
print @minvdate
while @@fetch_status = 0
begin 
	execute usp_rep_progressiveTotal @pFormula,@pProgcond,@minv_no,@minvdate,@@spOutput output
	set @spString = 'update ##SalesBill set progTotal ='+cast(@@spOutput as varchar)+' where inv_no ='+char(39)+@minv_no+char(39)
	print @spString
	execute SP_EXECUTESQL @spString
	fetch next from salebillcurs into @minv_no ,@minvdate 
end
set @spstring = ''
set @spstring = @spstring + 'select * from ##salesBill'
execute SP_EXECUTESQL @spString
close saleBillcurs
deallocate saleBillcurs
drop table ##salesBill

  

