
If Exists(Select [Name] from Sysobjects where xType='P' and Id=Object_Id(N'USP_REP_AC_ANA'))
Begin
	Drop Procedure USP_REP_AC_ANA
End
Go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate ACCOUNTS 1key Balance Listing  Report .
-- Modify date: 16/05/2007
-- Modified By:date:Remark: Sandeep/19-Aug-13/for bug-18418
-- Modified By:date:Remark:
-- =============================================

create PROCEDURE [dbo].[USP_REP_AC_ANA]  
--@SDATE AS SMALLDATETIME,@EDATE AS SMALLDATETIME, @SAC AS VARCHAR(100), @EAC AS VARCHAR(100)
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
--,@LYN VARCHAR(20)
,@FINYR VARCHAR(60)
,@EXPARA  AS VARCHAR(60)= null

AS
Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000),@OPENTRY_TY as VARCHAR(50),@OPENTRIES as VARCHAR(50)--,@FINYR as  NVARCHAR(20)
	PRINT 'RR1 '+@FINYR
	Set @OPENTRY_TY = '''OB'''
	DECLARE openingentry_cursor CURSOR FOR
		SELECT entry_ty FROM lcode
		WHERE bcode_nm = 'OB'
	OPEN openingentry_cursor
	FETCH NEXT FROM openingentry_cursor into @opentries
	WHILE @@FETCH_STATUS = 0
	BEGIN
	   Set @OPENTRY_TY = @OPENTRY_TY +','''+@opentries+''''
	   FETCH NEXT FROM openingentry_cursor into @opentries
	END
	CLOSE openingentry_cursor
	DEALLOCATE openingentry_cursor

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=NULL --Chnages by sandeep for bug-18418 on 19-Aug-13
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='MN',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

print @FINYR



SELECT ENTRY_TY,BHENT=(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END) INTO #L FROM LCODE 
SELECT 
AC.TRAN_CD,AC.ENTRY_TY,AC.DATE,AC.AMOUNT,AC.AMT_TY,L.BHENT
,MN.L_YN
,AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.[TYPE]--Added by sandeep type column for bug-18418 on 19-Aug-13
INTO #AC_ANA1
FROM LAC_VW AC
INNER JOIN AC_MAST  ON (AC.AC_ID = AC_MAST.AC_ID)
INNER JOIN LMAIN_VW MN ON (AC.TRAN_CD = MN.TRAN_CD AND AC.ENTRY_TY = MN.ENTRY_TY) 
INNER JOIN #L L ON (AC.ENTRY_TY=L.ENTRY_TY)
WHERE 1=2

SET @SQLCOMMAND='INSERT INTO #AC_ANA1 SELECT '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AC.TRAN_CD,AC.ENTRY_TY,AC.DATE,AC.AMOUNT,AC.AMT_TY,L.BHENT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',MN.L_YN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',AC_MAST.AC_ID,AC_MAST.AC_NAME,AC_MAST.TYPE'--Added by sandeep type column for bug-18418 on 19-Aug-13
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM LAC_VW AC'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #L L ON (AC.ENTRY_TY=L.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST  ON (AC.AC_ID = AC_MAST.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN LMAIN_VW MN ON (AC.TRAN_CD = MN.TRAN_CD AND AC.ENTRY_TY = MN.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)

PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

/*
DELETE FROM #AC_ANA1 WHERE 
DATE < (SELECT TOP 1 DATE FROM #AC_ANA1 WHERE ENTRY_TY IN ('OB') AND L_YN = @LYN  AND [TYPE]='B')
AND AC_NAME IN (SELECT AC_NAME FROM #AC_ANA1 WHERE ENTRY_TY IN ('OB') AND L_YN = @LYN AND [TYPE]='B' GROUP BY AC_NAME  )
*/
--for bug-18418-S
SET @SQLCOMMAND='DECLARE @OPTRAN_CD as INT,@OPDATE as DATETIME,@OPACNAME as varchar(250) DECLARE openingentry_cursor CURSOR FOR'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT TRAN_CD,AC_NAME,DATE FROM #AC_ANA1'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'WHERE 	ENTRY_TY IN ('+@OPENTRY_TY+') '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'OPEN openingentry_cursor'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FETCH NEXT FROM openingentry_cursor into @OPTRAN_CD,@OPACNAME,@OPDATE'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'WHILE @@FETCH_STATUS = 0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'BEGIN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'DELETE FROM #AC_ANA1 WHERE DATE < @OPDATE'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND AC_NAME IN (SELECT AC_NAME FROM #AC_ANA1 WHERE AC_NAME = @OPACNAME AND ENTRY_TY IN (''OB'') AND TRAN_CD = @OPTRAN_CD )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FETCH NEXT FROM openingentry_cursor into @OPTRAN_CD,@OPACNAME,@OPDATE'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'END'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'CLOSE openingentry_cursor'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'DEALLOCATE openingentry_cursor'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND = 'DELETE FROM #AC_ANA1'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'WHERE L_YN !='+CHAR(39)+@FINYR+CHAR(39)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND [TYPE] !=''B'''
print @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

--select * FROM #AC_ANA1 
--for bug-18418-E

SELECT AC_NAME,AC_ID,L_YN,[TYPE]
--,OPBAL=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<=@SDATE) THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END) --Added by sandeep type column for bug-18418 on 19-Aug-13
,OPBAL=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE < @SDATE)  THEN (CASE WHEN AMT_TY IN ('DR') THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END) --Added by sandeep type column for bug-18418 on 19-Aug-13
,DAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND AMT_TY='DR' THEN AMOUNT ELSE 0 END)
,CAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)
,STAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='ST' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,SRAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='SR' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,PTAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='PT' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,PRAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='PR' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,CRAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='CR' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,CPAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='CP' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,BRAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='BR' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,BPAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='BP' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,CNAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='CN' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,DNAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='DN' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,IRAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='IR' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,IIAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) AND BHENT='II' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,PCAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='PC' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,EPAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)   AND BHENT='EP' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,JVAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE)  AND BHENT='JV' THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
,OHAMTDR=SUM(CASE WHEN NOT (ENTRY_TY='OB'OR DATE<@SDATE) AND (BHENT NOT IN ('OB','ST','SR','PT','PR','CR','CP','BR','BP','CN','DN','II','IR','JV','PC','EP')) THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE 0 END) ELSE 0 END)
,OHAMTCR=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) AND (BHENT NOT IN ('OB','ST','SR','PT','PR','CR','CP','BR','BP','CN','DN','II','IR','JV','PC','EP')) THEN (CASE WHEN AMT_TY='CR' THEN AMOUNT ELSE 0 END) ELSE 0 END)
,BALAMT=IsNull(sum(CASE WHEN AMT_TY = 'DR' THEN AMOUNT ELSE -AMOUNT END),0)
--,BALAMT=SUM(CASE WHEN AMT_TY='DR'  THEN AMOUNT ELSE -AMOUNT END)--Commented by sandeep for bug-18418 on 19-Aug-13
--,BALAMT=SUM(CASE WHEN NOT(ENTRY_TY='OB' OR DATE<@SDATE) AND AMT_TY='DR' THEN AMOUNT ELSE (CASE WHEN AMT_TY='CR' THEN -AMOUNT  END) END ) --Added by sandeep for bug-18418 on 19-Aug-13
--,BALAMT=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE BETWEEN @SDATE AND @EDATE) and [type]='B ' AND AMT_TY='DR'  THEN AMOUNT else CASE WHEN NOT(ENTRY_TY='OB' OR DATE<@SDATE) AND AMT_TY='DR' and [type]='B ' THEN AMOUNT ELSE (CASE WHEN AMT_TY='CR' THEN -AMOUNT  END) END END)--ELSE (CASE WHEN AMT_TY='CR' THEN -AMOUNT  END) END ) --Added by sandeep for bug-18418 on 19-Aug-13
--,BALAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<=@SDATE) AND AMT_TY='DR'  THEN AMOUNT ELSE (CASE WHEN AMT_TY='CR' THEN -AMOUNT  END) END ) --Added by sandeep for bug-18418 on 19-Aug-13
--,BALAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) AND AMT_TY='DR' THEN AMOUNT ELSE (CASE WHEN  (ENTRY_TY='OB' OR DATE<@SDATE) AND AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) END) --Added by sandeep for bug-18418 on 19-Aug-13
--FROM #AC_ANA1
INTO #AC_ANA2 FROM #AC_ANA1  
--LEFT JOIN #TEST1 ON #AC_ANA1.TRAN_cD=#TEST1.TRAN_CD AND  #AC_ANA1.BHENT=#TEST1.ENTRY_TY
GROUP BY AC_NAME,AC_ID,L_YN,[TYPE]
ORDER BY AC_NAME,AC_ID
SELECT * FROM #AC_ANA2 --where OPBAL<>0 AND BALAMT<>0

DROP TABLE #AC_ANA2
--DROP TABLE #TEST1
--FOR BALANCE







--SELECT AC_NAME,AC_ID
--,OPBAL=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<=@SDATE) THEN (CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END) ELSE 0 END)
--,DAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<=@SDATE) AND AMT_TY='DR' THEN AMOUNT ELSE 0 END)
--,CAMT=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<=@SDATE) AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)
--,BALAMT=SUM(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE -AMOUNT END)
--FROM LAC_VW AC
--GROUP BY AC_NAME,AC_ID


--as [Account Name]
--Select AC.Ac_id
--,A.ac_name 
--,round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2) as [Op.Bal.(Dr)]
--,round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2) as [Op.Bal.(Cr)],round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) as [Debit Amt],round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) as [Credit Amt],(case when round(sum(case when AC.amt_ty = 'DR' and (AC.date <@SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  
--then Ac.amount else 0 end),2)>=0 then round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < getdate() or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' 
--and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) else 0 end) as [Balance (Dr)],(case when round(sum(case when AC.amt_ty = 'DR' and (AC.date >@SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)<0 then round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR'  and (AC.date < @SDATE or AC.entry_ty = 'OB')  then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) else 0 end)*(-1) as [Balance (Cr)] 
--,T.gname1 as [Group Level1],T.gname2 as [Group Level2],T.gname3 as [Group Level3]
--FROM LAC_VW AC 
--INNER JOIN #1JRTMP T ON (AC.AC_ID=T.AC_ID)
--inner join ac_mast a on (ac.ac_id=a.ac_id) 
--WHERE AC.DATE<=@EDATE AND (AC.AC_NAME BETWEEN @SAC AND @EAC)
--group by a.ac_name,a.[Group],AC.ac_id,T.gname1,T.gname2 ,T.gname3  order by a.Ac_name

















