if exists (select [name] from sysobjects where [name]='usp_ent_replace_null_value' and xtype='P')
drop procedure usp_ent_replace_null_value
GO
/****** Object:  StoredProcedure [dbo].[usp_ent_replace_null_value]    Script Date: 06/15/2013 11:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------usp_ent_replace_null_value-------------
-- Author		: Birendra
-- Created on	: 14/06/2013
-- Description	: To check valid column in table scope of any database
-- Modified		:
-- Modified On	:
------------------------------------------------------
Create procedure [dbo].[usp_ent_replace_null_value]
@dbname varchar(10),@tblname nvarchar(254),@filter nvarchar(1000)
as
begin
	declare @colname varchar(100),@tmpcolvalue varchar(max),@sqlstr nvarchar(max),@updtstr varchar(max),@xtype int
	set @updtstr=''
	set @tmpcolvalue=''
	execute('declare col_cursor cursor for 
	SELECT  c.name as colname, c.xtype as xtype 
	FROM '+@dbname+'..sysobjects o
	JOIN '+@dbname+'..syscolumns c ON o.id = c.id
	WHERE o.xtype = ''U''
	AND (o.name ='''+@tblname+''')
	and c.ISNULLABLE = 1')
	open col_cursor
	fetch next from col_cursor into @colname,@xtype
	while(@@fetch_status =0)
	begin
		set @sqlstr='select @tmpcolvalue=['+@colname+'] from '+@dbname+'..'+@tblname+' where '+@filter
		EXECUTE sp_executesql @SQLStr,N'@tmpcolvalue varchar(max) output',@tmpcolvalue output
		
		if isnull(@tmpcolvalue,'A')='A'
		begin
		set @sqlstr=case when @xtype=167 or @xtype=175 or @xtype=61 or @xtype=35 then '''''' else '0' end
		set @updtstr=(case when len(@updtstr)>0 then @updtstr+', ' else @updtstr end) +@colname+'=isnull('+@colname+','+@sqlstr+')'
		end
		fetch next from col_cursor into @colname,@xtype
	end 	
if len(@updtstr)>0
begin
set @sqlstr='update '+ @dbname+'..'+@tblname+' set '+@updtstr+' where '+@filter
EXECUTE sp_executesql @SQLStr
end 
close col_cursor
deallocate col_cursor
end 

