If Exists(Select [Name] from Sysobjects where xType='P' and Id=Object_Id(N'USP_REP_WIP_RECEIPT'))
Begin
	Drop Procedure USP_REP_WIP_RECEIPT
End
Go

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- =============================================
-- Author:		Lokesh.
-- Create date: 25/04/2012
-- Description:	This Stored procedure is useful to generate Sales vs Purchase details.
-- Modify:by/date/remark:Changes done by sandeep on 19-Aug-2013 for Bug-18728    
-- =============================================

--EXECUTE USP_REP_WIP_RECEIPT '','','','08/30/2014','08/30/2014','','','','',0,0,'','','','','','','','','2013-2014',''

create procedure [dbo].[USP_REP_WIP_RECEIPT]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
---Added by sandeep on 19-Aug-2013 for Bug-18728    -->Start
Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000)

EXECUTE   USP_REP_FILTCON 

 @VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='OPMAIN',@VITFILE='ITMAST',@VACFILE=NULL
,@VDTFLD ='DATE'
,@VLYN=NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT
---Added by sandeep on 19-Aug-2013 for Bug-18728    -->End
---Commeted by sandeep on 19-Aug-2013 for Bug-18728  -->start
/*
Begin
SELECT opmain.TRAN_CD,opmain.DATE,opmain.INV_NO,opmain.[rule],AC_MAST.MAILNAME,
IT_MAST.[GROUP],opitem.QTY,
opitem.RATE,opitem.GRO_AMT,opitem.ITEM,opitem.batchno FROM opmain INNER JOIN opitem ON 
(opmain.TRAN_CD=opitem.TRAN_CD)INNER JOIN AC_MAST ON (AC_MAST.AC_ID=opmain.AC_ID)
INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=opitem.IT_CODE)
where opmain.entry_ty='WO' --mailname <> 'OUTPUT FROM PRODUCTION'  
ORDER BY opmain.DATE,opmain.INV_NO

End
*/
---Commeted by sandeep on 19-Aug-2013 for Bug-18728 -->End
---Added by sandeep on 19-Aug-2013 for Bug-18728    -->Start
SET @SQLCOMMAND='SELECT opmain.TRAN_CD,opmain.DATE,opmain.INV_NO,opmain.[rule],AC_MAST.MAILNAME,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'IT_MAST.[GROUP],opitem.QTY,opitem.RATE,opitem.GRO_AMT,opitem.ITEM,opitem.batchno'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM opmain'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN opitem ON (opmain.TRAN_CD=opitem.TRAN_CD)INNER JOIN AC_MAST ON (AC_MAST.AC_ID=opmain.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST ON (IT_MAST.IT_CODE=opitem.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'and opmain.entry_ty=''WO'' AND mailname <> ''OUTPUT FROM PRODUCTION'''  
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'ORDER BY opmain.DATE,opmain.INV_NO'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

---Added by sandeep on 19-Aug-2013 for Bug-18728    -->End 



