If Exists(Select [name] From SysObjects Where xType='P' and [Name]='USP_REP_OUTPUT_SERVICETAX_MultiService')
Begin
	Drop Procedure USP_REP_OUTPUT_SERVICETAX_MultiService
End
Go

-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 10/05/2010
-- Description:	This Stored procedure is useful to generate Output Service Tax as per invoice Report.
-- Modification Date/By/Reason:
-- Remark:
-- =============================================
CREATE procedure [dbo].[USP_REP_OUTPUT_SERVICETAX_MultiService]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Begin
	Declare @FCON as NVARCHAR(2000),@SQLCOMMAND as NVARCHAR(4000)
	
	EXECUTE USP_REP_FILTCON 
	@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
	,@VSDATE=@SDATE,@VEDATE=@EDATE
	,@VSAC =@SAC,@VEAC =@EAC
	,@VSIT=@SIT,@VEIT=@EIT
	,@VSAMT=@SAMT,@VEAMT=@EAMT
	,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
	,@VSCATE =@SCATE,@VECATE =@ECATE
	,@VSWARE =@SWARE,@VEWARE  =@EWARE
	,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
	,@VMAINFILE='m',@VITFILE=Null,@VACFILE='AC'
	,@VDTFLD ='DATE'
	,@VLYN=Null
	,@VEXPARA=@EXPARA
	,@VFCON =@FCON OUTPUT

	set @sqlcommand='select part=1,m.entry_ty,m.tran_cd,m.date,m.inv_no,al.serty,m.serrule'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',ac_mast.ac_name,ac_mast.add1,ac_mast.add2,ac_mast.add3,ac_mast.city,ac_mast.SREGN,m.net_amt,taxable_amt=al.staxable'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',bSrTax=al.serbamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',bESrTax=al.sercamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+',bHSrTax=al.serhamt'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'from sbmain m'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join acdetalloc al on (m.entry_ty=al.entry_ty and m.tran_cd=al.tran_cd)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join ac_mast on (m.ac_id=ac_mast.ac_id)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+'inner join lcode l on (m.entry_ty=l.entry_ty)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+rtrim(@fcon)
	set @sqlcommand=rtrim(@sqlcommand)+' '+' and (l.entry_ty in (''SB''))'
	--set @sqlcommand=rtrim(@sqlcommand)+' '+'order by al.serty,m.date,m.tran_cd'
	--Bug-24957 Strat
	set @sqlcommand=rtrim(@sqlcommand)+' '+' union all'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' select part=2,jvi.entry_ty,jvi.tran_cd,jvi.date,jvi.inv_no,jvm.serty,jvi.amt_ty,jvm.party_nm,a.add1,a.add2,a.add3,A.CITY,a.sregn,jvm.net_amt,jvm.net_amt,sum(case when ac.typ=''Output Service Tax'' then jvi.amount else 0 end),sum(case when ac.typ=''Output Service Tax-Ecess'' then jvi.amount else 0 end),sum(case when ac.typ=''Output Service Tax-Hcess'' then jvi.amount else 0 end) from jvacdet jvi'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' inner join jvmain jvm on (jvi.tran_cd=jvm.tran_cd) '
	set @sqlcommand=rtrim(@sqlcommand)+' '+' inner join ac_mast ac on (ac.ac_id=jvi.ac_id)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' inner join ac_mast a on (jvm.ac_id=a.ac_id)'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' where ac.typ in (''Output Service Tax'',''Output Service Tax-Ecess'',''Output Service Tax-Hcess'') AND (JVI.DATE BETWEEN '''+CAST(@SDATE AS VARCHAR)+''' AND '''+CAST(@EDATE AS VARCHAR)+''')'
	set @sqlcommand=rtrim(@sqlcommand)+' '+' group by jvi.entry_ty,jvi.tran_cd,jvi.date,jvi.inv_no,jvi.serty,jvm.serty,jvm.party_nm,jvm.net_amt,jvi.amt_ty,a.add1,a.add2,a.add3,A.CITY,a.sregn'
	--Bug-24957 End

	print @sqlcommand
	execute sp_executesql @sqlcommand 
END



