set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate ACCOUNTS 1key Balance Listing  Report .
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

ALTER     PROCEDURE [dbo].[USP_REP_1_BALLISTQ1]  
@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SAC NVARCHAR(60),@EAC NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
AS
DECLARE @AC_ID NUMERIC(9),@AC_GROUP_ID1 NUMERIC(9),@GNAME1 VARCHAR(60),@AC_GROUP_ID2 NUMERIC(9),@GNAME2 VARCHAR(60),@AC_GROUP_ID3 NUMERIC(9),@GNAME3 VARCHAR(60)
SELECT DISTINCT AC_ID=AC_GROUP_ID,AC_GROUP_ID1=AC_GROUP_ID,AC_GROUP_ID2=AC_GROUP_ID,AC_GROUP_ID3=AC_GROUP_ID,GNAME1=[GROUP],GNAME2=[GROUP],GNAME3=[GROUP] INTO #1JRTMP FROM AC_MAST WHERE 1=2


DECLARE  C1JRTMP CURSOR FOR 
SELECT  DISTINCT AC_ID FROM AC_MAST
ORDER BY AC_ID
OPEN C1JRTMP
FETCH NEXT FROM C1JRTMP INTO @AC_ID
WHILE @@FETCH_STATUS=0
BEGIN
	SELECT @AC_GROUP_ID1=AC_GROUP_ID,@GNAME1=[GROUP] FROM AC_MAST WHERE AC_ID=@AC_ID
	SELECT @AC_GROUP_ID2=GAC_ID,@GNAME2=[GROUP] FROM AC_GROUP_MAST WHERE AC_GROUP_ID=@AC_GROUP_ID1
	SELECT @AC_GROUP_ID3=GAC_ID,@GNAME3=[GROUP] FROM AC_GROUP_MAST WHERE AC_GROUP_ID=@AC_GROUP_ID2
	INSERT INTO #1JRTMP ( AC_ID,AC_GROUP_ID1,AC_GROUP_ID2,AC_GROUP_ID3,GNAME1,GNAME2,GNAME3) VALUES (@AC_ID,@AC_GROUP_ID1,@AC_GROUP_ID2,@AC_GROUP_ID3,@GNAME1,@GNAME2,@GNAME3)
	FETCH NEXT FROM C1JRTMP INTO @AC_ID
END
CLOSE C1JRTMP
DEALLOCATE C1JRTMP
--as [Account Name]
Select AC.Ac_id
,A.ac_name ,round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2) as [Op.Bal.(Dr)],round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2) as [Op.Bal.(Cr)],round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) as [Debit Amt],round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) as [Credit Amt],(case when round(sum(case when AC.amt_ty = 'DR' and (AC.date <@SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  
then Ac.amount else 0 end),2)>=0 then round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < getdate() or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' 
and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) else 0 end) as [Balance (Dr)],(case when round(sum(case when AC.amt_ty = 'DR' and (AC.date >@SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)<0 then round(sum(case when AC.amt_ty = 'DR' and (AC.date < @SDATE or AC.entry_ty = 'OB') then AC.amount else 0 end),2)-round(sum(case when AC.amt_ty = 'CR'  and (AC.date < @SDATE or AC.entry_ty = 'OB')  then AC.amount else 0 end),2)+round(sum(case when Ac.amt_ty='DR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2)-round(sum(case when Ac.amt_ty='CR' and Ac.date >= @SDATE and  Ac.entry_ty <>'OB'  then Ac.amount else 0 end),2) else 0 end)*(-1) as [Balance (Cr)] 
,T.gname1 as [Group Level1],T.gname2 as [Group Level2],T.gname3 as [Group Level3]
 FROM LAC_VW AC 
INNER JOIN #1JRTMP T ON (AC.AC_ID=T.AC_ID)
inner join ac_mast a on (ac.ac_id=a.ac_id) 
WHERE AC.DATE<=@EDATE AND (AC.AC_NAME BETWEEN @SAC AND @EAC)
group by a.ac_name,a.[Group],AC.ac_id,T.gname1,T.gname2 ,T.gname3  order by a.Ac_name


Select * From #1JRTMP


