If Exists(Select [Name] from Sysobjects where xType='P' and Id=Object_Id(N'USP_REP_DatewisePurReg'))
Begin
	Drop Procedure USP_REP_DatewisePurReg
End

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author: Vasant M. Shettigar		
-- Create date: 24/01/2014
-- Description:	Datewise Purchase Register
-- Remark:
-- =============================================
Create    PROCEDURE [dbo].[USP_REP_DatewisePurReg]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS

Declare @FCON as NVARCHAR(2000),@SQLCOMMAND AS NVARCHAR(4000)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='PTMAIN',@VITFILE='PTITEM',@VACFILE=null
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTMAIN.DATE,PTMAIN.INV_NO,PTMAIN.INCEXCISE,
AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.STATE,AC_MAST.S_TAX,AC_MAST.C_TAX,
IT_MAST.[GROUP],IsTaxItem=CAST(0 as bit),IsExciseItem=CAST(0 as bit),
PTITEM.ITEM,PTITEM.ITSERIAL,PTITEM.QTY,PTITEM.RATE,PTITEM.U_ASSEAMT,
TOT_DEDUCI=PTITEM.TOT_DEDUC,TOT_TAXI=PTITEM.TOT_TAX,TOT_ADDI=PTITEM.TOT_ADD,
TOT_NONTAXI=PTITEM.TOT_NONTAX,TOT_FDISCI=PTITEM.TOT_FDISC,TAXAMTI=PTITEM.TAXAMT,
TAX_NAMEI=PTITEM.TAX_NAME,TOT_EXAMTI=PTITEM.TOT_EXAMT,GRO_AMTI=PTITEM.GRO_AMT,
TOT_DEDUCH=PTMAIN.TOT_DEDUC,TOT_TAXH=PTMAIN.TOT_TAX,TOT_ADDH=PTMAIN.TOT_ADD,
TOT_NONTAXH=PTMAIN.TOT_NONTAX,ROUNDOFFH=PTMAIN.ROUNDOFF,TOT_FDISCH=PTMAIN.TOT_FDISC,
TAXAMTH=PTMAIN.TAXAMT,TAX_NAMEH=PTMAIN.TAX_NAME,
TOT_EXAMTH=PTMAIN.TOT_EXAMT,NET_AMTH=PTMAIN.NET_AMT
INTO #PTMAIN FROM PTMAIN
LEFT JOIN PTITEM ON PTMAIN.TRAN_CD=PTITEM.TRAN_CD  
INNER JOIN AC_MAST ON PTMAIN.AC_ID=AC_MAST.AC_ID    
INNER JOIN IT_MAST ON PTITEM.IT_CODE=IT_MAST.IT_CODE 
Where 1=2
 
SET @SQLCOMMAND=' '
SET @SQLCOMMAND='INSERT INTO #PTMAIN 
	SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTMAIN.DATE,PTMAIN.INV_NO,PTMAIN.INCEXCISE,
	AC_MAST.AC_NAME,AC_MAST.MAILNAME,AC_MAST.STATE,AC_MAST.S_TAX,AC_MAST.C_TAX,
	IT_MAST.[GROUP],IsTaxItem=CAST(0 as bit),IsExciseItem=CAST(0 as bit),
	PTITEM.ITEM,PTITEM.ITSERIAL,PTITEM.QTY,PTITEM.RATE,PTITEM.U_ASSEAMT,
	TOT_DEDUCI=PTITEM.TOT_DEDUC,TOT_TAXI=PTITEM.TOT_TAX,TOT_ADDI=PTITEM.TOT_ADD,
	TOT_NONTAXI=PTITEM.TOT_NONTAX,TOT_FDISCI=PTITEM.TOT_FDISC,TAXAMTI=PTITEM.TAXAMT,
	TAX_NAMEI=PTITEM.TAX_NAME,TOT_EXAMTI=PTITEM.TOT_EXAMT,GRO_AMTI=PTITEM.GRO_AMT,
	TOT_DEDUCH=PTMAIN.TOT_DEDUC,TOT_TAXH=PTMAIN.TOT_TAX,TOT_ADDH=PTMAIN.TOT_ADD,
	TOT_NONTAXH=PTMAIN.TOT_NONTAX,ROUNDOFFH=PTMAIN.ROUNDOFF,TOT_FDISCH=PTMAIN.TOT_FDISC,
	TAXAMTH=PTMAIN.TAXAMT,TAX_NAMEH=PTMAIN.TAX_NAME,
	TOT_EXAMTH=PTMAIN.TOT_EXAMT,NET_AMTH=PTMAIN.NET_AMT
	FROM PTMAIN
	LEFT JOIN PTITEM ON PTMAIN.TRAN_CD=PTITEM.TRAN_CD  
	INNER JOIN AC_MAST ON PTMAIN.AC_ID=AC_MAST.AC_ID    
	INNER JOIN IT_MAST ON PTITEM.IT_CODE=IT_MAST.IT_CODE '+@FCON
EXEC SP_EXECUTESQL  @SQLCOMMAND
 
Update #PTMAIN Set MailName = Ac_Name Where IsNull(MailName,'') = ''

Update #PTMAIN Set IsTaxItem = 1 
	From #PTMAIN a,LCODE b 
	Where a.Entry_ty = b.Entry_ty and b.STAX_ITEM=1

Update #PTMAIN Set IsExciseItem = 1 
	From #PTMAIN a,Dcmast b 
	Where a.Entry_ty = b.Entry_ty and b.fld_nm = 'EXAMT' and b.att_file = 0

SELECT * FROM #PTMAIN ORDER BY DATE,INV_NO,ISNULL(itserial,'')
DROP TABLE #PTMAIN

