set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[USP_REP_PRICELIST]   
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS



select ir.it_name as [Item Description],it.rateunit as [Rate Unit],ir.it_rate as [Rate],it.type as [Item Type],a.mailname as [Party Name]  
,ir.Rlevel as [Rate Level],ir.Type,(case when ir.ptype='I' then 'Itemwise' else 'Partywise' end) as [Itemwise/Partywise]  
from it_rate ir   
inner join it_mast it on (ir.it_code=it.it_code)   
inner join ac_mast a on(a.ac_id=ir.ac_id)  
WHERE   (ir.AC_NAME BETWEEN @SAC AND @EAC) 
AND (IR.IT_NAME BETWEEN @SIT AND @EIT)  
order by ir.ptype,a.ac_name,it.it_name,ir.rlevel
  
  
  

