set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER     PROCEDURE [dbo].[USP_REP_OUTSTANDINGDR]  
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE=Null,@VACFILE='AC'
,@VDTFLD ='DATE'
,@VLYN=Null
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT


--DECLARE @DAYS1 AS INT,@DAYS2 AS INT,@DAYS3 AS INT
--SET @DAYS1=60
--SET @DAYS2=70
--SET @DAYS3=90

DECLARE @GRPID AS INT,@MCOND AS BIT,@LVL  AS INT,@GRP AS VARCHAR(100)
SET @GRP='SUNDRY DEBTORS'

CREATE TABLE #ACGRPID (GACID DECIMAL(9),LVL DECIMAL(9))
SET @LVL=0
INSERT INTO #ACGRPID SELECT AC_GROUP_ID,@LVL  FROM AC_GROUP_MAST WHERE AC_GROUP_NAME=@GRP
SET @MCOND=1
WHILE @MCOND=1
BEGIN
	IF EXISTS (SELECT AC_GROUP_ID FROM AC_GROUP_MAST WHERE GAC_ID IN (SELECT DISTINCT GACID  FROM #ACGRPID WHERE LVL=@LVL)) --WHERE LVL=@LVL
	BEGIN
		PRINT @LVL
		INSERT INTO #ACGRPID SELECT AC_GROUP_ID,@LVL+1 FROM AC_GROUP_MAST WHERE GAC_ID IN (SELECT DISTINCT GACID  FROM #ACGRPID WHERE LVL=@LVL)
		SET @LVL=@LVL+1
	END
	ELSE
	BEGIN
		SET @MCOND=0	
	END
END

SELECT AC_ID,AC_NAME INTO #ACMAST FROM AC_MAST WHERE  AC_GROUP_ID IN (SELECT DISTINCT GACID FROM #ACGRPID)
--select * from #ACMAST

Declare @SQLCOMMAND as nvarchar(4000)
SET @SDATE=GETDATE()
SET @SQLCOMMAND=' '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT AC_MAST.AC_NAME,M.INV_NO,M.DATE,M.DUE_DT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',BILLAMT=AC.AMOUNT' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',RECAMT=(ML.NEW_ALL+ML.TDS)' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',BALAMT=AC.AMOUNT-((CASE WHEN ML.NEW_ALL IS NOT NULL THEN ML.NEW_ALL ELSE 0 END) +(CASE WHEN ML.TDS IS NOT NULL THEN ML.TDS ELSE 0 END))' 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DAYS1AMT=CASE WHEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+'-M.DUE_DT<=60 THEN (AC.AMOUNT-((CASE WHEN ML.NEW_ALL IS NOT NULL THEN ML.NEW_ALL ELSE 0 END) +(CASE WHEN ML.TDS IS NOT NULL THEN ML.TDS ELSE 0 END))) ELSE 0 END'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DAYS2AMT=CASE WHEN (('+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+'-M.DUE_DT>60) AND ('+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+'-M.DUE_DT<=90)) THEN (AC.AMOUNT-((CASE WHEN ML.NEW_ALL IS NOT NULL THEN ML.NEW_ALL ELSE 0 END) +(CASE WHEN ML.TDS IS NOT NULL THEN ML.TDS ELSE 0 END))) ELSE 0 END'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DAYS3AMT=CASE WHEN (('+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+'-M.DUE_DT>90) AND ('+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+'-M.DUE_DT<=120)) THEN (AC.AMOUNT-((CASE WHEN ML.NEW_ALL IS NOT NULL THEN ML.NEW_ALL ELSE 0 END) +(CASE WHEN ML.TDS IS NOT NULL THEN ML.TDS ELSE 0 END))) ELSE 0 END'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DAYS4AMT=CASE WHEN (('+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+'-M.DUE_DT >120)) THEN (AC.AMOUNT-((CASE WHEN ML.NEW_ALL IS NOT NULL THEN ML.NEW_ALL ELSE 0 END) +(CASE WHEN ML.TDS IS NOT NULL THEN ML.TDS ELSE 0 END))) ELSE 0 END'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM LAC_VW AC '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST  ON (AC_MAST.AC_ID=AC.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN LMAIN_VW M ON (AC.TRAN_CD=M.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN LCODE L ON (AC.ENTRY_TY=L.ENTRY_TY)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN MAINALL_VW ML ON (M.entry_ty=ML.entry_all and M.tran_cd =ML.main_tran and M.PARTY_NM=AC.AC_NAME)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #ACMAST AM  ON (AC_MAST.AC_ID=AM.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND AC.AMOUNT-((CASE WHEN ML.NEW_ALL IS NOT NULL THEN ML.NEW_ALL ELSE 0 END) +(CASE WHEN ML.TDS IS NOT NULL THEN ML.TDS ELSE 0 END)) > 0'

PRINT @SQLCOMMAND

EXECUTE SP_EXECUTESQL @SQLCOMMAND



