set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER PROCEDURE [dbo].[USP_DTS_ITBal]
AS
IF EXISTS(SELECT name FROM sysobjects WHERE  name = 'IT_BALW' AND type = 'U')
BEGIN
	drop table IT_BALW
END
SELECT ENTRY_TY,BCODE_NM,BHENT=(CASE WHEN BCODE_NM IS NOT NULL AND BCODE_NM <> ' ' THEN BCODE_NM ELSE ENTRY_TY END) INTO #LCODE FROM LCODE 
SELECT A.IT_CODE,WARE_NM,DATE,
STQTY=SUM(CASE WHEN C.BHENT='ST' THEN A.QTY ELSE 0 END),
PTQTY=SUM(CASE WHEN C.BHENT='PT' THEN A.QTY ELSE 0 END),
ARQTY=SUM(CASE WHEN C.BHENT='AR' THEN A.QTY ELSE 0 END),
OSQTY=SUM(CASE WHEN C.BHENT='OS' THEN A.QTY ELSE 0 END),
BPQTY=SUM(CASE WHEN C.BHENT='BP' THEN A.QTY ELSE 0 END),
BRQTY=SUM(CASE WHEN C.BHENT='BR' THEN A.QTY ELSE 0 END),
CNQTY=SUM(CASE WHEN C.BHENT='CN' THEN A.QTY ELSE 0 END),
CPQTY=SUM(CASE WHEN C.BHENT='CP' THEN A.QTY ELSE 0 END),
IIQTY=SUM(CASE WHEN C.BHENT='II' THEN A.QTY ELSE 0 END),
PCQTY=SUM(CASE WHEN C.BHENT='PC' THEN A.QTY ELSE 0 END),
POQTY=SUM(CASE WHEN C.BHENT='PO' THEN A.QTY ELSE 0 END),
SOQTY=SUM(CASE WHEN C.BHENT='SO' THEN A.QTY ELSE 0 END),
SQQTY=SUM(CASE WHEN C.BHENT='SQ' THEN A.QTY ELSE 0 END),
SRQTY=SUM(CASE WHEN C.BHENT='SR' THEN A.QTY ELSE 0 END),
DCQTY=SUM(CASE WHEN C.BHENT='DC' THEN A.QTY ELSE 0 END),
CRQTY=SUM(CASE WHEN C.BHENT='CR' THEN A.QTY ELSE 0 END),
DNQTY=SUM(CASE WHEN C.BHENT='DN' THEN A.QTY ELSE 0 END),
EPQTY=SUM(CASE WHEN C.BHENT='EP' THEN A.QTY ELSE 0 END),
ESQTY=SUM(CASE WHEN C.BHENT='ES' THEN A.QTY ELSE 0 END),
IPQTY=SUM(CASE WHEN C.BHENT='IP' THEN A.QTY ELSE 0 END),
IRQTY=SUM(CASE WHEN C.BHENT='IR' THEN A.QTY ELSE 0 END),
JVQTY=SUM(CASE WHEN C.BHENT='JV' THEN A.QTY ELSE 0 END),
OPQTY=SUM(CASE WHEN C.BHENT='OP' THEN A.QTY ELSE 0 END),
PRQTY=SUM(CASE WHEN C.BHENT='PR' THEN A.QTY ELSE 0 END),
SSQTY=SUM(CASE WHEN C.BHENT='SS' THEN A.QTY ELSE 0 END),
EQQTY=SUM(CASE WHEN C.BHENT='EQ' THEN A.QTY ELSE 0 END),
OBQTY=SUM(CASE WHEN C.BHENT='OB' THEN A.QTY ELSE 0 END),
TRQTY=SUM(CASE WHEN C.BHENT='TR' THEN A.QTY ELSE 0 END),
QTY=SUM(CASE WHEN C.BHENT NOT IN  ('ST','PT','AR','OB','BP','BR','CN','CP','II','PC','PO','SO','SQ','SR','DC','CR','DN','EP','ES','IP','IR','JV','OP','PR','SS','EQ','TR','OS') THEN A.QTY ELSE 0 END)
INTO IT_BALW 
FROM STKL_VW_ITEM A 
INNER JOIN #LCODE C ON (A.ENTRY_TY=C.ENTRY_TY)
GROUP BY A.IT_CODE,A.WARE_NM,A.DATE
ORDER BY A.IT_CODE
IF @@Error < 0
BEGIN
	Print 'IT_BAL Created Succussfully'
	DROP TABLE #LCODE
END
