IF EXISTS(SELECT * FROM SYS.OBJECTS WHERE [NAME]='usp_Ent_Emp_Monthly_Muster')
BEGIN
DROP PROCEDURE usp_Ent_Emp_Monthly_Muster
END
GO
-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 
-- Description:	
-- Modification Date/By/Reason: Sachin N. S. on 04/07/2014 for Bug-21114
-- Modification Date/By/Reason:
-- Remark: 
-- =============================================


Create procedure [dbo].[usp_Ent_Emp_Monthly_Muster]
@Pay_Year varchar(60),@Pay_Month int,@Loc_Nm varchar(100),@FiltPara varchar(4000),  @EmpNm varchar(100)
as
begin
	print ''
	Declare @SqlCommand nvarchar(4000)
	Declare @Lv_Code varchar(30),@SortOrd int
	
	--Select e.EmployeeName,e.EmployeeCode From EmployeeMast e
	--select * from Emp_Leave_Maintenace
	Set @SqlCommand='select Sel=cast(0 as bit),Pay_Year=isnull(M.Pay_Year,0),Id=isnull(M.Id,0),Pay_Month=isnull(M.Pay_Month,0),isnull(datename(month,dateadd(month,M.Pay_Month - 1, 0)),'''') as cMonth,e.EmployeeName,e.EmployeeCode,e.WrkHrs,e.CalcPeriod'	-- Changed by Sachin N. S. on 04/07/2014 for Bug-21114
--	Set @SqlCommand='select Sel=cast(0 as bit),Pay_Year=isnull(M.Pay_Year,0),Id=isnull(M.Id,0),Pay_Month=isnull(M.Pay_Month,0),isnull(datename(month,dateadd(month,M.Pay_Month - 1, 0)),'''') as cMonth,e.EmployeeName,e.EmployeeCode'		-- Changed by Sachin N. S. on 04/07/2014 for Bug-21114
--	select @SqlCommand=rtrim(@SqlCommand)+''+',e.Department,e.Category,Loc_Code=isnull(Lc.Loc_Code,''''),Loc_Desc=isnull(Lc.Loc_Desc,'''')'
	Declare cur_lv cursor for select Distinct att_Code,SortOrd From Emp_Attendance_Setting where LDeactive=0 order by SortOrd
	Open cur_lv
	Fetch Next From cur_lv into @Lv_Code,@SortOrd
	While (@@Fetch_Status=0)
	Begin
		select @SqlCommand=rtrim(@SqlCommand)+',isNull(M.'+@Lv_Code+',0) as '+ @Lv_Code
		Fetch Next From cur_lv into @Lv_Code,@SortOrd
	End
	Close cur_lv
	DeAllocate cur_lv
--	print @SqlCommand

	Declare @Lv_Codebal varchar(30),@SortOrdbal int  /*Ramya for leave balance*/

	Declare cur_lvbal cursor for select Distinct att_Code,SortOrd From Emp_Attendance_Setting where isleave=1 and LDeactive=0 order by SortOrd
	Open cur_lvbal
	Fetch Next From cur_lvbal into @Lv_Codebal,@SortOrdbal
	While (@@Fetch_Status=0)
	Begin
		select @SqlCommand=rtrim(@SqlCommand)+',isNull(L.'+@Lv_Codebal+'_Balance'+',0) as ['+ @Lv_Codebal+'_Balance]'
		Fetch Next From cur_lvbal into @Lv_Codebal,@SortOrdbal
	End
	Close cur_lvbal
	DeAllocate cur_lvbal                          /*Ramya for leave balance*/

	Set @SqlCommand=rtrim(@SqlCommand)+' '+',Loc_Desc=isnull(lc.Loc_Desc,'''') '
	Set @SqlCommand=rtrim(@SqlCommand)+' '+'From EmployeeMast e '
    set @SqlCommand=rtrim(@SqlCommand)+' '+'Left Join Emp_Leave_Maintenance L on (e.EmployeeCode=L.EmployeeCode and L.Pay_Year='+char(39)+@Pay_Year+char(39) +'and L.Pay_Month='+cast(@Pay_Month as varchar)+')'  /*Ramya*/
	set @SqlCommand=rtrim(@SqlCommand)+' '+'Left Join Emp_Monthly_Muster M on (e.EmployeeCode=M.EmployeeCode)'
	set @SqlCommand=rtrim(@SqlCommand)+' '+'Left Join Loc_Master Lc on (Lc.Loc_Code=E.Loc_Code)'
	set @SqlCommand=rtrim(@SqlCommand)+' '+' where 1=1'



	if isnull(@Pay_Year,'')<>''
	Begin
		set @SqlCommand=rtrim(@SqlCommand)+' '+' and M.Pay_Year='+char(39)+@Pay_Year+char(39)  /*cast(@Pay_Year as varchar)*/
	end
	if isnull(@Pay_Month,0)<>0
	Begin
		set @SqlCommand=rtrim(@SqlCommand)+' '+' and M.Pay_Month='+cast(@Pay_Month as varchar)
	end
	if isnull(@Loc_Nm,'')<>''
	Begin
		set @SqlCommand=rtrim(@SqlCommand)+' '+' and Lc.Loc_Desc='+Char(39)+@Loc_Nm+Char(39)
	end

    if isnull(@EmpNm,'')<>''   /*Ramya 08/08/12*/
	Begin
		set @SqlCommand=rtrim(@SqlCommand)+' '+' and e.EmployeeName='+Char(39)+@EmpNm+Char(39)
	end

--	Print @SqlCommand

	Execute Sp_ExecuteSql @SqlCommand

end




