set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER     PROCEDURE [dbo].[USP_REP_LBK_PAY]
@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
@SAMT NUMERIC,@EAMT NUMERIC,@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
AS

	---TAKING ALL BANK PAYMENTS FROM VIEW & BPMAIN
	DECLARE @QueryStr NVARCHAR(500)
	SET @QueryStr='SELECT VW.*,BPMAIN.CHEQ_NO,BPMAIN.NARR'+
			' FROM BPMAIN INNER JOIN UVW_ACDET VW'+
			' ON (BPMAIN.TRAN_CD = VW.TRAN_CD)'+
			' WHERE BPMAIN.DATE BETWEEN '+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' AND '+CHAR(39)+CAST(@EDATE AS VARCHAR)+CHAR(39)+
			' AND VW.AMT_TY='+CHAR(39)+'CR'+CHAR(39)+
			' AND BPMAIN.BANK_NM BETWEEN '+CHAR(39)+@SNAME+CHAR(39)+' AND '+CHAR(39)+@ENAME+CHAR(39)

	IF len(@EDEPT)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.DEPT BETWEEN '+CHAR(39)+@SDEPT+CHAR(39)+' AND '+CHAR(39)+@EDEPT+CHAR(39)
	END
	IF len(@ECAT)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.CATE BETWEEN '+CHAR(39)+@SCAT+CHAR(39)+' AND '+CHAR(39)+@ECAT+CHAR(39)
	END
	IF len(@EWARE)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.WARE_NM BETWEEN '+CHAR(39)+@SWARE+CHAR(39)+' AND '+CHAR(39)+@EWARE+CHAR(39)
	END
	IF len(@EINVSR)<>0
	BEGIN
		SET @QueryStr=@QueryStr+' AND VW.INV_SR BETWEEN '+CHAR(39)+@SINVSR+CHAR(39)+' AND '+CHAR(39)+@EINVSR+CHAR(39)
	END

	EXECUTE(@QueryStr)

