if exists (select [name] from sysobjects where [name]='USP_REP_FORM27EQ_1STJUL2013' AND XTYPE='P')
BEGIN 
DROP PROCEDURE USP_REP_FORM27EQ_1STJUL2013
END
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_FORM27EQ_1STJUL2013]    Script Date: 07/06/2015 13:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- AUTHOR:		Shrikant S.
-- CREATE DATE: 
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE TCS FORM 27EQ CHALLAN AND ANNEXURE BOTH REPORT.
-- MODIFIED BY:DATE:REASON:
-- REMARK:
-- Modified By Kishor A. for Bug-26391 on 02/07/2015
-- =============================================
CREATE PROCEDURE  [dbo].[USP_REP_FORM27EQ_1STJUL2013]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS
SET QUOTED_IDENTIFIER OFF
DECLARE @FCON AS NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)

DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(2000),@FDATE VARCHAR(10),@RCNO VARCHAR(15)

EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE='',@VACFILE='AC'
,@VDTFLD ='U_CLDT'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @DATE SMALLDATETIME,@U_CHALNO VARCHAR(10),@U_CHALDT SMALLDATETIME,@SECTION VARCHAR(10),@MENTRY_TY VARCHAR(10),@MTRAN_CD VARCHAR(10),@CSRNO NUMERIC(10),@DSRNO NUMERIC(10),@CSRNO1 NUMERIC(10)
DECLARE @DATE1 SMALLDATETIME,@U_CHALNO1 VARCHAR(10),@SECTION1 VARCHAR(10),@MENTRY_TY1 VARCHAR(10),@MTRAN_CD1 VARCHAR(10)
SET @RCNO=''
IF CHARINDEX('RCNO1=',@EXPARA)>0
BEGIN	
	SET @RCNO=SUBSTRING(@EXPARA,CHARINDEX('RCNO1=',@EXPARA)+6,15)
END 

--SELECT DISTINCT SVC_CATE,SECTION=SEC_CODE INTO #TDSMASTER FROM TDSMASTER 
	select svc_cate
		,(Select top 1 sec_code from TDSMASTER where svc_cate=a.svc_cate and fromdt <=@SDATE Order by fromdt desc) as Section
	Into #TDSMASTER from TDSMASTER a 
				group by a.svc_cate


SELECT tan=space(15),AddressChange=space(2),RAddressChange=space(2),IsReturnFiled=space(3),TDSAcknowNo=space(15) --Added by Kishor A. for Bug-26391 on 02/07/2015
,AC_MAST.AC_ID,M.CHEQ_NO,M.U_CHALNO,M.U_CHALDT,M.BSRCODE  /*M.ENTRY_TY,M.TRAN_CD,AC.ACSERIAL,MALL.NEW_ALL,*/
,M.SVC_CATE,M.TDSONAMT,M.DATE,TM.SECTION,TDSPAY=M.NET_AMT
,TDSAMT=MALL.NEW_ALL,SCAMT=MALL.NEW_ALL,ECAMT=MALL.NEW_ALL,HCAMT=MALL.NEW_ALL
,ATOTAMT=MALL.NEW_ALL,ATDSAMT=MALL.NEW_ALL,ASCAMT=MALL.NEW_ALL,AECAMT=MALL.NEW_ALL
,TATOTAMT=MALL.NEW_ALL,INTEREST=MALL.NEW_ALL,OTHERSAMT=MALL.NEW_ALL
,DED_RATE=CAST(0 AS DECIMAL(12,4))
,DEPBYBOOK='N',PAIDBYBOOK='N',REASONFOR=SPACE(90)
,MALL.ENTRY_ALL,MALL.MAIN_TRAN /*,MALL.ACSERI_ALL*/
,CSRNO=99999,DSRNO=99999
,M.UTN
INTO #ETDS26Q
FROM TDSMAIN_VW M
INNER JOIN LAC_VW AC ON (M.ENTRY_TY=AC.ENTRY_TY AND M.TRAN_CD=AC.TRAN_CD) 
INNER JOIN MAINALL_VW MALL ON (AC.ENTRY_TY=MALL.ENTRY_TY AND AC.TRAN_CD=MALL.TRAN_CD AND AC.ACSERIAL=MALL.ACSERIAL)
INNER JOIN AC_MAST ON (AC_MAST.AC_ID=AC.AC_ID)
INNER JOIN #TDSMASTER TM ON (M.SVC_CATE=TM.SVC_CATE)
WHERE 1=2
 
-- tan='''',AddressChange='''',RAddressChange='''',IsReturnFiled='''',TDSAcknowNo='''' --Added by Kishor A. for Bug-26391 on 02/07/2015 
SET @SQLCOMMAND = 'INSERT INTO #ETDS26Q SELECT tan='''',AddressChange='''',RAddressChange='''',IsReturnFiled='''',TDSAcknowNo='''' ,AC_MAST.AC_ID,M.CHEQ_NO,M.U_CHALNO,M.U_CHALDT,M.BSRCODE' /*M.ENTRY_TY,M.TRAN_CD,AC.ACSERIAL,MALL.NEW_ALL,*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M1.SVC_CATE,M1.TDSONAMT,M1.DATE,TM.SECTION,TDSPAY=M1.NET_AMT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',TDSAMT=0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',SCAMT=0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ECAMT=0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',HCAMT=0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ATOTAMT=SUM(CASE WHEN AC_MAST1.TYP IN (''TCS'',''TCS-SUR'',''TCS-ECESS'',''TCS-HCESS'') THEN NEW_ALL ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ATDSAMT=SUM(CASE WHEN AC_MAST1.TYP IN (''TCS'') THEN NEW_ALL ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ASCAMT=SUM(CASE WHEN  AC_MAST1.TYP IN (''TCS-SUR'') THEN NEW_ALL ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',AECAMT=SUM(CASE WHEN  AC_MAST1.TYP IN (''TCS-ECESS'',''TCS-HCESS'') THEN NEW_ALL ELSE 0 END)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',TATOTAMT=0,INTEREST=0,OTHERSAMT=0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DED_RATE=CAST(   (M1.TDS_TP)+   ( (M1.TDS_TP*M1.SC_TP)/100 ) + ( (( (M1.TDS_TP*M1.SC_TP)/100 )*M1.EC_TP)/100  ) + ( (( (M1.TDS_TP*M1.SC_TP)/100 )*M1.HC_TP)/100  ) AS NUMERIC(17,2))'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',DEPBYBOOK=''N'',PAIDBYBOOK=''N'',REASONFOR='''' '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',MALL.ENTRY_ALL,MALL.MAIN_TRAN'/*,MALL.ACSERI_ALL*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',CSRNO=0,DSRNO=0'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M.UTN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM TDSMAIN_VW M'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN LAC_VW AC ON (M.ENTRY_TY=AC.ENTRY_TY AND M.TRAN_CD=AC.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN MAINALL_VW MALL ON (AC.ENTRY_TY=MALL.ENTRY_TY AND AC.TRAN_CD=MALL.TRAN_CD AND AC.ACSERIAL=MALL.ACSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=AC.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN TDSMAIN_VW M1 ON (M1.ENTRY_TY=MALL.ENTRY_ALL AND M1.TRAN_CD=MALL.MAIN_TRAN)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST ON (AC_MAST.AC_ID=M1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN #TDSMASTER TM ON (M1.SVC_CATE=TM.SVC_CATE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND ISNULL(MALL.NEW_ALL,0)>0 '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND AC_MAST1.TYP IN (''TCS'',''TCS-ECESS'',''TCS-HCESS'',''TCS-SUR'')'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' GROUP BY AC_MAST.AC_ID,M.CHEQ_NO,M.U_CHALNO,M.U_CHALDT,M.BSRCODE'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M1.SVC_CATE,M1.TDSONAMT,M1.DATE,TM.SECTION,M1.NET_AMT,M1.TDS_TP,M1.SC_TP,M1.EC_TP,M1.HC_TP'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',MALL.ENTRY_ALL,MALL.MAIN_TRAN'/*,MALL.ACSERI_ALL*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M.UTN'
PRINT @SQLCOMMAND  
EXECUTE SP_EXECUTESQL @SQLCOMMAND 

SELECT M.ENTRY_TY,M.TRAN_CD
,TDSAMT=SUM(CASE WHEN AC_MAST1.TYP IN ('TCS') THEN AMOUNT ELSE 0 END)
,SCAMT=SUM(CASE WHEN AC_MAST1.TYP IN ('TCS-SUR') THEN AMOUNT ELSE 0 END)
,ECAMT=SUM(CASE WHEN AC_MAST1.TYP IN ('TCS-ECESS') THEN AMOUNT ELSE 0 END)
,HCAMT=SUM(CASE WHEN AC_MAST1.TYP IN ('TCS-HCESS') THEN AMOUNT ELSE 0 END)
INTO #LAC1
FROM TDSMAIN_VW M 
INNER JOIN LAC_VW AC ON (M.ENTRY_TY=AC.ENTRY_TY AND M.TRAN_CD=AC.TRAN_CD)
INNER JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=AC.AC_ID)
WHERE AC.DATE<=@EDATE AND AC.AMT_TY='CR'
GROUP BY M.ENTRY_TY,M.TRAN_CD

UPDATE A SET A.TDSAMT=B.TDSAMT,A.SCAMT=B.SCAMT,A.ECAMT=B.ECAMT,A.HCAMT=B.HCAMT
FROM #ETDS26Q A INNER JOIN #LAC1 B ON (B.ENTRY_TY=A.ENTRY_ALL AND B.TRAN_CD=A.MAIN_TRAN)

PRINT 'R'

SELECT @U_CHALNO1='0' ,@SECTION1='',@MENTRY_TY1='',@MTRAN_CD1=0
SELECT @CSRNO=0,@DSRNO=0
DECLARE CUR_ETDS26Q CURSOR FOR SELECT U_CHALDT,DATE,U_CHALNO,SECTION FROM #ETDS26Q ORDER BY U_CHALDT,U_CHALNO,SECTION


OPEN CUR_ETDS26Q
FETCH NEXT FROM CUR_ETDS26Q INTO @U_CHALDT,@DATE,@U_CHALNO,@SECTION
WHILE(@@FETCH_STATUS=0)
BEGIN
	--IF (@U_CHALNO1<>@U_CHALNO OR @SECTION1<>@SECTION)	
	IF (@U_CHALNO1<>@U_CHALNO )	
	BEGIN
		SET @CSRNO=@CSRNO+1
		SELECT @U_CHALNO1=@U_CHALNO,@SECTION1=@SECTION
	END

	UPDATE #ETDS26Q SET CSRNO=@CSRNO WHERE (U_CHALNO=@U_CHALNO) AND (SECTION=@SECTION)
	
	FETCH NEXT FROM CUR_ETDS26Q INTO @U_CHALDT,@DATE,@U_CHALNO,@SECTION
END
CLOSE CUR_ETDS26Q
DEALLOCATE CUR_ETDS26Q
PRINT 'R1--------'
SELECT @MENTRY_TY=' ',@MTRAN_CD1=0

DECLARE CUR_ETDS26Q CURSOR FOR SELECT CSRNO,ENTRY_ALL,MAIN_TRAN FROM #ETDS26Q ORDER BY CSRNO,ENTRY_ALL,MAIN_TRAN 
OPEN CUR_ETDS26Q
FETCH NEXT FROM CUR_ETDS26Q INTO @CSRNO,@MENTRY_TY,@MTRAN_CD
SET @CSRNO1=@CSRNO
SET @DSRNO=0
WHILE(@@FETCH_STATUS=0)
BEGIN
	PRINT @CSRNO
	IF (   @CSRNO1=@CSRNO )
	BEGIN
		IF NOT ( @MENTRY_TY1=@MENTRY_TY AND @MTRAN_CD1=@MTRAN_CD )
		BEGIN
			SET @DSRNO=@DSRNO+1
			PRINT 'CHG'
			SELECT @MENTRY_TY1=@MENTRY_TY,@MTRAN_CD1=@MTRAN_CD
		END 
	END
	ELSE
	BEGIN
		SET @DSRNO=1
		SET @CSRNO1=@CSRNO
		IF NOT ( @MENTRY_TY1=@MENTRY_TY AND @MTRAN_CD1=@MTRAN_CD )
		BEGIN
			PRINT 'CHG1'
			SELECT @MENTRY_TY1=@MENTRY_TY,@MTRAN_CD1=@MTRAN_CD
		END 
	END
	UPDATE #ETDS26Q SET DSRNO=@DSRNO WHERE ENTRY_ALL=@MENTRY_TY AND MAIN_TRAN=@MTRAN_CD AND CSRNO=@CSRNO
	FETCH NEXT FROM CUR_ETDS26Q INTO @CSRNO,@MENTRY_TY,@MTRAN_CD
END
CLOSE CUR_ETDS26Q
DEALLOCATE CUR_ETDS26Q


SELECT CSRNO,TATOTAMT=SUM(ATOTAMT) INTO #T3 FROM #ETDS26Q GROUP BY CSRNO

UPDATE A SET A.TATOTAMT=B.TATOTAMT FROM #ETDS26Q A INNER JOIN #T3 B ON (A.CSRNO=B.CSRNO)


SELECT RCNO=ISNULL(@RCNO,0),EDATE=@EDATE
,A.*
,DED_CODE=(CASE WHEN AC_MAST.DED_TYPE='COMPANY' THEN 1 ELSE 2 END)
,DDATE=A.DATE,NET_AMT=TDSPAY
,PARTY_NM=AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.ZIP,AC_MAST.I_TAX
,Fees=convert(decimal(10,2),0),minor_Head=200 ,certino=case when reasonfor <>'' then Isnull(c.TDS_ReasonEL,'') else '' end ,ded_refno	
FROM #ETDS26Q A
INNER JOIN AC_MAST ON (A.AC_ID=AC_MAST.AC_ID)
left Join ac_mast_tds c on (c.Ac_Id=AC_MAST.Ac_id)
ORDER BY CSRNO,DSRNO



DROP TABLE #TDSMASTER
DROP TABLE #ETDS26Q
DROP TABLE #LAC1
DROP TABLE #T3
