if exists(select [type] from sys.objects where name='USP_REP_BANKRECO' and [type]='P')
begin
	drop procedure USP_REP_BANKRECO
end
GO
/****** Object:  StoredProcedure [dbo].[USP_REP_BANKRECO]    Script Date: 03/07/2016 11:40:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Sachin N. S.
-- Create date: Monday, November 26, 2007
-- Description:	BANK RECONCILIATION
-- =============================================

CREATE PROCEDURE [dbo].[USP_REP_BANKRECO]
	@BANKNAME VARCHAR(50), @SDATE SMALLDATETIME, @EDATE SMALLDATETIME
AS
DECLARE @BDCOPBAL NUMERIC(12,2),@BDCDEBIT NUMERIC(12,2),@BDCCREDIT NUMERIC(12,2),
		@STCOPBAL NUMERIC(12,2),@STCDEBIT NUMERIC(12,2),@STCCREDIT NUMERIC(12,2),
		@TTCOPBAL NUMERIC(12,2),@TTCDEBIT NUMERIC(12,2),@TTCCREDIT NUMERIC(12,2),
		@_MOPBAL NUMERIC(12,2),@CLAUSEBP VARCHAR(50),@CLAUSEBR VARCHAR(50),@CNT NUMERIC(10)

SELECT	@BDCOPBAL=SUM(CASE WHEN ENTRY_TY='OB' AND DATE<=@SDATE THEN DEBIT-CREDIT ELSE 0 END) +SUM(CASE WHEN ENTRY_TY<>'OB' AND DATE<@SDATE THEN DEBIT ELSE 0 END)-SUM(CASE WHEN ENTRY_TY<>'OB' AND DATE<@SDATE THEN CREDIT ELSE 0 END ), 
		@BDCDEBIT=SUM(CASE WHEN ENTRY_TY<>'OB' AND DATE>=@SDATE THEN DEBIT ELSE 0 END),
		@BDCCREDIT=SUM(CASE WHEN ENTRY_TY<>'OB' AND DATE>=@SDATE THEN CREDIT ELSE 0 END)
	FROM BANKRECO WHERE DATE<=@EDATE AND AC_NAME = @BANKNAME

SELECT	@STCOPBAL=SUM((CASE WHEN DATE<@SDATE AND AMT_TY='DR' THEN -AMOUNT ELSE 0 END)+(CASE WHEN DATE<@SDATE AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)+(CASE WHEN CL_DATE<@SDATE AND CL_DATE IS NOT NULL AND YEAR(CL_DATE)>1900 AND AMT_TY='DR' THEN AMOUNT ELSE 0 END)-(CASE WHEN CL_DATE<@SDATE AND CL_DATE IS NOT NULL AND YEAR(CL_DATE)>1900 AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)),
		@STCDEBIT=SUM(CASE WHEN CL_DATE BETWEEN @SDATE AND @EDATE AND AMT_TY='DR' THEN AMOUNT ELSE 0 END),
		@STCCREDIT=SUM(CASE WHEN CL_DATE BETWEEN @SDATE AND @EDATE AND AMT_TY='CR' THEN AMOUNT ELSE 0 END)
	FROM RECOSTAT WHERE ENTRY_TY<>'OB' AND AC_NAME = @BANKNAME

SELECT	@TTCOPBAL=SUM(CASE WHEN ENTRY_TY='OB' AND CL_DATE<=@SDATE THEN DEBIT-CREDIT ELSE 0 END)+
		SUM(CASE WHEN ENTRY_TY<>'OB' AND CL_DATE<@SDATE THEN DEBIT ELSE 0 END)-
		SUM(CASE WHEN ENTRY_TY<>'OB' AND CL_DATE<@SDATE THEN CREDIT ELSE 0 END),
		@TTCDEBIT=SUM(CASE WHEN ENTRY_TY<>'OB' AND CL_DATE>=@SDATE THEN DEBIT ELSE 0 END),
		@TTCCREDIT=SUM(CASE WHEN ENTRY_TY<>'OB' AND CL_DATE>=@SDATE THEN CREDIT ELSE 0 END)
	FROM BANKRECO WHERE (CL_DATE<=@EDATE AND ENTRY_TY<>'OB' AND (CL_DATE IS NOT NULL AND YEAR(CL_DATE)>1900)) AND AC_NAME = @BANKNAME

SELECT	@_MOPBAL=SUM(CASE WHEN ENTRY_TY='OB' AND DATE<=@SDATE THEN DEBIT-CREDIT ELSE 0 END)
	FROM BANKRECO WHERE DATE<=@EDATE AND AC_NAME = @BANKNAME

SELECT @CLAUSEBP=CLAUSE FROM L_CLAUSE WHERE RTRIM(LTRIM(CLAUSEDEFA)) = 'BP'
SELECT @CLAUSEBR=CLAUSE FROM L_CLAUSE WHERE RTRIM(LTRIM(CLAUSEDEFA)) = 'BR'

SET @BDCOPBAL=CASE WHEN @BDCOPBAL IS NULL THEN 0 ELSE @BDCOPBAL END
SET @BDCDEBIT=CASE WHEN @BDCDEBIT IS NULL THEN 0 ELSE @BDCDEBIT END
SET @BDCCREDIT=CASE WHEN @BDCCREDIT IS NULL THEN 0 ELSE @BDCCREDIT END

SET @STCOPBAL=CASE WHEN @STCOPBAL IS NULL THEN 0 ELSE @STCOPBAL END
SET @STCDEBIT=CASE WHEN @STCDEBIT IS NULL THEN 0 ELSE @STCDEBIT END
SET @STCCREDIT=CASE WHEN @STCCREDIT IS NULL THEN 0 ELSE @STCCREDIT END

SET @TTCOPBAL=CASE WHEN @TTCOPBAL IS NULL THEN 0 ELSE @TTCOPBAL END
SET @TTCDEBIT=CASE WHEN @TTCDEBIT IS NULL THEN 0 ELSE @TTCDEBIT END
SET @TTCCREDIT=CASE WHEN @TTCCREDIT IS NULL THEN 0 ELSE @TTCCREDIT END

SET @_MOPBAL=CASE WHEN @_MOPBAL IS NULL THEN 0 ELSE @_MOPBAL END
SET @CLAUSEBP=CASE WHEN @CLAUSEBP IS NULL THEN '' ELSE @CLAUSEBP END
SET @CLAUSEBR=CASE WHEN @CLAUSEBR IS NULL THEN '' ELSE @CLAUSEBR END

 
SELECT	AC_NAME,CL_DATE,ENTRY_TY,DATE,INV_NO,CHEQ_NO,PARTY_NM,DEBIT,CREDIT,DOC_NO,TRAN_CD,DB,AMT_TY, 
		BDCOPBAL=@BDCOPBAL, BDCDEBIT=@BDCDEBIT, BDCCREDIT=@BDCCREDIT, STCOPBAL=@STCOPBAL, STCDEBIT=@STCDEBIT, 
		STCCREDIT=@STCCREDIT, TTCOPBAL=@TTCOPBAL, TTCDEBIT=@TTCDEBIT, TTCCREDIT=@TTCCREDIT, _MOPBAL=@_MOPBAL,
--		CLAUSE=(CASE WHEN (CLAUSE='' OR CLAUSE IS NULL) AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) THEN (CASE WHEN ENTRY_TY='BR' THEN (CASE WHEN @CLAUSEBR='' THEN 'Cheque Deposited But Not Cleared' ELSE @CLAUSEBR END) ELSE (CASE WHEN ENTRY_TY='BP' THEN (CASE WHEN @CLAUSEBP='' THEN 'Cheque Issued But Not Cleared' ELSE @CLAUSEBP END) ELSE '' END) END) ELSE CLAUSE END), --commented by Ruchit for bug 27681
		CLAUSE=(CASE WHEN (CLAUSE='' OR CLAUSE IS NULL) AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) THEN (CASE WHEN ENTRY_TY='BR' THEN (CASE WHEN @CLAUSEBR='' THEN 'Chq/DD/NEFT/RTGS Deposited But Not Cleared' ELSE @CLAUSEBR END) ELSE (CASE WHEN ENTRY_TY='BP' THEN (CASE WHEN @CLAUSEBP='' THEN 'Chq/DD/NEFT/RTGS Issued But Not Cleared' ELSE @CLAUSEBP END) ELSE '' END) END) ELSE CLAUSE END), --27681
		AMTTYPE=(CASE WHEN AMT_TY='CR' THEN 'A' ELSE 'B' END) INTO #TMPBANKRECO
	FROM BANKRECO WHERE ENTRY_TY<>'OB' AND AC_NAME = @BANKNAME AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) AND DATE<=@EDATE
UNION ALL
SELECT	AC_NAME, CL_DATE, ENTRY_TY, DATE, INV_NO=SPACE(10), CHEQ_NO, PARTY_NM=SUBSTRING(OAC_NAME,1,50), 
		DEBIT=(CASE WHEN AMT_TY='DR' THEN AMOUNT ELSE 0 END),CREDIT=(CASE WHEN AMT_TY='CR' THEN AMOUNT ELSE 0 END),
		DOC_NO, TRAN_CD, DB='RE', AMT_TY, BDCOPBAL=@BDCOPBAL, BDCDEBIT=@BDCDEBIT, BDCCREDIT=@BDCCREDIT, 
		STCOPBAL=@STCOPBAL, STCDEBIT=@STCDEBIT, STCCREDIT=@STCCREDIT, TTCOPBAL=@TTCOPBAL, TTCDEBIT=@TTCDEBIT, TTCCREDIT=@TTCCREDIT, _MOPBAL=@_MOPBAL,
--		CLAUSE=(CASE WHEN (CLAUSE='' OR CLAUSE IS NULL) AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) THEN (CASE WHEN ENTRY_TY='BR' THEN (CASE WHEN @CLAUSEBR='' THEN 'Cheque Deposited But Not Cleared' ELSE @CLAUSEBR END) ELSE (CASE WHEN ENTRY_TY='BP' THEN (CASE WHEN @CLAUSEBP='' THEN 'Cheque Issued But Not Cleared' ELSE @CLAUSEBP END) ELSE '' END) END) ELSE CLAUSE END), --commented by Ruchit for bug 27681
		CLAUSE=(CASE WHEN (CLAUSE='' OR CLAUSE IS NULL) AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) THEN (CASE WHEN ENTRY_TY='BR' THEN (CASE WHEN @CLAUSEBR='' THEN 'Chq/DD/NEFT/RTGS Deposited But Not Cleared' ELSE @CLAUSEBR END) ELSE (CASE WHEN ENTRY_TY='BP' THEN (CASE WHEN @CLAUSEBP='' THEN 'Chq/DD/NEFT/RTGS Issued But Not Cleared' ELSE @CLAUSEBP END) ELSE '' END) END) ELSE CLAUSE END), --27681
		AMTTYPE=(CASE WHEN AMT_TY='CR' THEN 'A' ELSE 'B' END)
	FROM RECOSTAT WHERE ENTRY_TY<>'OB' AND AC_NAME = @BANKNAME AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) AND DATE<=@EDATE
ORDER BY 25,24,4

SELECT @CNT=COUNT(INV_NO) FROM #TMPBANKRECO
IF @CNT=0
BEGIN
SELECT	TOP 1 AC_NAME=@BANKNAME,CL_DATE='',ENTRY_TY='',DATE='',INV_NO='',CHEQ_NO='',PARTY_NM='',DEBIT=0,CREDIT=0,DOC_NO='',TRAN_CD=0,DB='',AMT_TY='', 
		BDCOPBAL=@BDCOPBAL, BDCDEBIT=@BDCDEBIT, BDCCREDIT=@BDCCREDIT, STCOPBAL=@STCOPBAL, STCDEBIT=@STCDEBIT, 
		STCCREDIT=@STCCREDIT, TTCOPBAL=@TTCOPBAL, TTCDEBIT=@TTCDEBIT, TTCCREDIT=@TTCCREDIT, _MOPBAL=@_MOPBAL,
--		CLAUSE=(CASE WHEN (CLAUSE='' OR CLAUSE IS NULL) AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) THEN (CASE WHEN ENTRY_TY='BR' THEN (CASE WHEN @CLAUSEBR='' THEN 'Cheque Deposited But Not Cleared' ELSE @CLAUSEBR END) ELSE (CASE WHEN ENTRY_TY='BP' THEN (CASE WHEN @CLAUSEBP='' THEN 'Cheque Issued But Not Cleared' ELSE @CLAUSEBP END) ELSE '' END) END) ELSE CLAUSE END), --commented by Ruchit for bug 27681
		CLAUSE=(CASE WHEN (CLAUSE='' OR CLAUSE IS NULL) AND (CL_DATE > @EDATE OR CL_DATE='' OR CL_DATE IS NULL) THEN (CASE WHEN ENTRY_TY='BR' THEN (CASE WHEN @CLAUSEBR='' THEN 'Chq/DD/NEFT/RTGS Deposited But Not Cleared' ELSE @CLAUSEBR END) ELSE (CASE WHEN ENTRY_TY='BP' THEN (CASE WHEN @CLAUSEBP='' THEN 'Chq/DD/NEFT/RTGS Issued But Not Cleared' ELSE @CLAUSEBP END) ELSE '' END) END) ELSE CLAUSE END),
		AMTTYPE=(CASE WHEN AMT_TY='CR' THEN 'A' ELSE 'B' END)
	FROM BANKRECO 
END
ELSE
BEGIN
	SELECT * FROM #TMPBANKRECO
END
DROP TABLE #TMPBANKRECO
