set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



---<<    USP_REP_CT3REGP This Stored Procedure useful to generate Export CT-3 Register  Report   >>

ALTER PROCEDURE [dbo].[USP_REP_CT3REGP] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
SET QUOTED_IDENTIFIER OFF

Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='POMAIN',@VITFILE='POITEM',@VACFILE='POACDET'
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000), @VCOND NVARCHAR(2000)

SET @SQLCOMMAND=' SELECT POITEM.TRAN_CD,POITEM.ENTRY_TY,POITEM.INV_NO,POITEM.DATE,AC_MAST.AC_NAME,IT_MAST.IT_NAME,POITEM.QTY,POITEM.ITEM_NO '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,IT_MAST1.IT_NAME,POITREF.RQTY '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.RANGE,AC_MAST.DIVISION,AC_MAST.CITY,AC_MAST.COLL '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,IT_MAST.CHAPNO,IT_MAST.RATEUNIT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,PTMAIN.U_AR3ANO,PTMAIN.U_EXARE3DT,PTMAIN.DATE,PTMAIN.U_PINVNO,PTMAIN.U_PINVDT,PTMAIN.GRO_AMT,PTMAIN.NET_AMT'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM POITEM'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN POMAIN ON(POITEM.TRAN_CD=POMAIN.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST ON (POITEM.IT_CODE=IT_MAST.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST ON (POMAIN.AC_ID=AC_MAST.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN POITREF ON (POITEM.TRAN_CD=POITREF.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN PTITEM PTITEM ON (POITREF.ITREF_TRAN=PTITEM.TRAN_CD AND POITREF.RITEM_NO=PTITEM.ITEM_NO)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN PTMAIN PTMAIN ON (PTITEM.TRAN_CD=PTMAIN.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IT_MAST IT_MAST1 ON (PTITEM.IT_CODE=IT_MAST1.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN AC_MAST AC_MAST1 ON (PTMAIN.AC_ID=AC_MAST1.AC_ID)'

SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY POITEM.TRAN_CD,POITEM.ITEM_NO'
EXECUTE SP_EXECUTESQL @SQLCOMMAND


