IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_Get_QC_Item_NEW]') AND type in (N'P', N'PC'))
begin
	DROP PROCEDURE [dbo].[USP_Get_QC_Item_NEW]
end

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go







Create procedure [dbo].[USP_Get_QC_Item_NEW]
@table varchar(25),@Invoice_No VARCHAR(25),@Validin varchar(2)
as

declare @SQLCMD NVARCHAR (4000),@colList varchar(1000),@colName varchar(30)

if @table=''
begin
set @table='ITEM'
end

SET @SQLCMD=''
--SET @SQLCMD='select 
--	
--	IT_CODE,		
--	ITEM,
--	QC_PROCESS,
--	QC_PROCESS_ID,
--	QC_SAMPLE_QTY,
--	FAIL_IF_QTY ,
--	batchno,
--	QTY,	
--	0 REJECTED_QTY,
--	0 ACCEPTED_QTY,
--	cast('''' as varchar(50)) QC_STATUS
--  from ('
set @colList='cast('''' as varchar(10)) supbatchno,
convert(smalldatetime,0) supmfgdt,
convert(smalldatetime,0) supexpdt,
cast('''' as varchar(10)) batchno,
convert(smalldatetime,0) mfgdt,
convert(smalldatetime,0) expdt,
0 QcHoldQty,0 QcAceptQty,0 QcRejQty,
0 QcRturnQty,0 QcWasteQty,0 QcProcLoss,
0 LastQc_by,convert(smalldatetime,0) LastQc_dt,0 QcSampQty'			--Added by Shrikant S. on 15/10/2014 for Bug-23879
--0 LastQc_by,convert(smalldatetime,0) LastQc_dt'		--Commented by Shrikant S. on 15/10/2014 for Bug-23879

--declare currColList cursor for select c.[name] from syscolumns c inner join sysobjects o on c.id=o.id where o.[name]=@TABLE and c.[name]in ('supbatchno','supmfgdt','supexpdt','batchno','mfgdt','expdt','QcHoldQty','QcRejQty','QcAceptQty','QcRturnQty','QcWasteQty','QcProcLoss','LastQc_by','LastQc_dt')		--Commented by Shrikant S. on 15/10/2014 for Bug-23879
declare currColList cursor for select c.[name] from syscolumns c inner join sysobjects o on c.id=o.id where o.[name]=@TABLE and c.[name]in ('supbatchno','supmfgdt','supexpdt','batchno','mfgdt','expdt','QcHoldQty','QcRejQty','QcAceptQty','QcSampQty','QcRturnQty','QcWasteQty','QcProcLoss','LastQc_by','LastQc_dt')		--Added by Shrikant S. on 15/10/2014 for Bug-23879
open currColList
fetch next from currColList into @colName
while(@@fetch_status=0)
begin
	if @colName='supbatchno'
	begin
	set @colList=replace(@colList,'cast('''' as varchar(10)) supbatchno','supbatchno')
	end
	if (@colName='supmfgdt')
	begin
	set @colList=replace(@colList,'convert(smalldatetime,0) supmfgdt','supmfgdt')
	end
	if (@colName='supexpdt')
	begin
	set @colList=replace(@colList,'convert(smalldatetime,0) supexpdt','supexpdt')
	end
	if (@colName='batchno')
	begin
	set @colList=replace(@colList,'cast('''' as varchar(10)) batchno','batchno')
	end
	if (@colName='mfgdt')
	begin
	set @colList=replace(@colList,'convert(smalldatetime,0) mfgdt','mfgdt')
	end
	if (@colName='expdt')
	begin
	set @colList=replace(@colList,'convert(smalldatetime,0) expdt','expdt')
	end
	if (@colName='QcHoldQty')
	begin
	set @colList=replace(@colList,'0 QcHoldQty','s.QcHoldQty')
	end
	if (@colName='QcAceptQty')
	begin
	set @colList=replace(@colList,'0 QcAceptQty','s.QcAceptQty')
	end
	if (@colName='QcRejQty')
	begin
	set @colList=replace(@colList,'0 QcRejQty','s.QcRejQty')
	end
-- Added by Shrikant S. on 15/10/2014 for Bug-23879				&& Start	
	if (@colName='QcSampQty')
	begin
	set @colList=replace(@colList,'0 QcSampQty','s.QcSampQty')
	end
-- Added by Shrikant S. on 15/10/2014 for Bug-23879				&& End	
	if (@colName='QcRturnQty')
	begin
	set @colList=replace(@colList,'0 QcRturnQty','s.QcRturnQty')
	end
	if (@colName='QcWasteQty')
	begin
	set @colList=replace(@colList,'0 QcWasteQty','s.QcWasteQty')
	end
	if (@colName='QcProcLoss')
	begin
	set @colList=replace(@colList,'0 QcProcLoss','s.QcProcLoss')
	end
	if (@colName='LastQc_by')
	begin
	set @colList=replace(@colList,'0 LastQc_by','s.LastQc_by')
	end
	if (@colName='LastQc_dt')
	begin
	set @colList=replace(@colList,'convert(smalldatetime,0) LastQc_dt','s.LastQc_dt')
	end

print @colName+'    Found'
print ' '
print @colList


	fetch next from currColList into @colName
end
close currColList
deallocate currColList
SET @SQLCMD='SELECT 
	insp_id=0,s.tran_cd,s.entry_ty,s.inv_no,
	S.itserial,
	S.IT_CODE,S.ITEM,
	MAP.QC_PROCESS_ID,
	QC_MAST.QC_PROCESS,
	QC_MAST.QC_SAMPLE_QTY,
	QC_MAST.FAIL_IF_QTY,
	S.QTY,'+@colList+',
	cast('''' as varchar(50)) QC_STATUS,IT.it_alias FROM  '+ @TABLE			--Added by Shrikant S. on 26/09/2014 for Bug-23879
--cast('''' as varchar(50)) QC_STATUS FROM  '+ @TABLE 						--Commented by Shrikant S. on 26/09/2014 for Bug-23879
SET @SQLCMD=@SQLCMD+' S INNER JOIN ITEM_QC_PROCESS_MASTER MAP ON S.IT_CODE=MAP.IT_CODE '
SET @SQLCMD=@SQLCMD+' INNER JOIN QC_PROCESS_MASTER QC_MAST ON MAP.QC_PROCESS_ID=QC_MAST.QC_PROCESS_ID '
SET @SQLCMD=@SQLCMD+' inner join It_Advance_Setting adv on map.it_code=adv.it_code '
SET @SQLCMD=@SQLCMD+' INNER JOIN IT_MAST IT ON (IT.IT_CODE=S.IT_CODE)'		--Added by Shrikant S. on 26/09/2014 for Bug-23879
SET @SQLCMD=@SQLCMD+' where S.inv_no= '+CHAR(39)+ @Invoice_no+CHAR(39)
SET @SQLCMD=@SQLCMD+ ' and MAP.VALIDITY like '+char(39)+'%'+@ValidIn+'%'+char(39)
SET @SQLCMD=@SQLCMD+ ' and adv.QcProcess=1 and S.ENTRY_TY<>''OS'' and s.QcHoldQty>0'

--SET @SQLCMD=@SQLCMD+'  ) a '
---group by a.it_code,a.qc_process,a.ITEM,QC_PROCESS_ID,a.QC_SAMPLE_QTY,a.FAIL_IF_QTY '

PRINT @SQLCMD
EXECUTE SP_EXECUTESQL @SQLCMD