-- =============================================
-- Author:		Birendra Prasad.
-- Create date: 08/12/2010
-- Description:	This Stored procedure is useful to Generate data for Proforma Invoice in sales transation.
-- =============================================

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE   [dbo].[USP_REP_PI_BILLP]
	@ENTRYCOND NVARCHAR(254)
	AS
DECLARE @SQLCOMMAND AS NVARCHAR(4000),@TBLCON AS NVARCHAR(4000)
DECLARE @CHAPNO VARCHAR(30),@EIT_NAME  VARCHAR(100),@MCHAPNO VARCHAR(250),@MEIT_NAME  VARCHAR(250)
	
	--->ENTRY_TY AND TRAN_CD SEPARATION
		DECLARE @ENT VARCHAR(2),@TRN INT,@POS1 INT,@POS2 INT,@POS3 INT--,@ENTRYCOND NVARCHAR(254)
		
		PRINT @ENTRYCOND
		SET @POS1=CHARINDEX('''',@ENTRYCOND,1)+1
		SET @ENT= SUBSTRING(@ENTRYCOND,@POS1,2)
		SET @POS2=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS1))+1
		SET @POS3=CHARINDEX('=',@ENTRYCOND,CHARINDEX('''',@ENTRYCOND,@POS2))+1
		SET @TRN= SUBSTRING(@ENTRYCOND,@POS2,@POS2-@POS3)
		--SELECT * FROM BPMAIN WHERE ENTRY_TY=@ENT AND TRAN_CD=@TRN
	---<---ENTRY_TY AND TRAN_CD SEPARATION
	SET @TBLCON=RTRIM(@ENTRYCOND)
	
	
	-- 	

	SELECT 'REPORT HEADER' AS REP_HEAD,PIMAIN.INV_SR,PIMAIN.TRAN_CD,PIMAIN.ENTRY_TY,PIMAIN.INV_NO,PIMAIN.DATE
	,PIMAIN.U_TIMEP,PIMAIN.U_TIMEP1 ,PIMAIN.U_REMOVDT,PIMAIN.U_EXPLA,PIMAIN.U_EXRG23II,PIMAIN.U_RG2AMT
	,PIITEM.EXAMT,PIITEM.U_BASDUTY,PIITEM.U_CESSPER,PIITEM.U_CESSAMT,PIITEM.U_HCESSPER,PIITEM.U_HCESAMT
	,AC_MAST1.AC_NAME AS U_DELIVER,PIMAIN.DUE_DT,PIMAIN.U_CLDT,U_CHALNO=SPACE(1),U_CHALDT=PIMAIN.DATE,PIMAIN.U_PONO,PIMAIN.U_PODT,PIMAIN.U_LRNO,PIMAIN.U_LRDT,PIMAIN.U_DELI,PIMAIN.U_VEHNO,PIMAIN.GRO_AMT GRO_AMT1,PIMAIN.TAX_NAME,PIMAIN.TAXAMT,PIMAIN.NET_AMT,PIMAIN.U_PLASR,PIMAIN.U_RG23NO,PIMAIN.U_RG23CNO
	,PIITEM.U_PKNO,PIITEM.QTY,PIITEM.RATE,PIITEM.U_ASSEAMT,PIITEM.U_MRPRATE,PIITEM.U_EXPDESC,PIITEM.U_EXPMARK,PIITEM.U_EXPGWT 
	,PIMAIN.U_FDESTI
	,PIMAIN.U_PAYMENT
	,PIITEM.U_EXPNWT
	,IT_MAST.IT_NAME
	,CAST(IT_MAST.IT_DESC AS VARCHAR(4000)) AS IT_DESC 
	,IT_MAST.EIT_NAME
	,IT_MAST.CHAPNO
	,IT_MAST.IDMARK,IT_MAST.RATEUNIT 
	,AC_MAST.AC_NAME,AC_MAST.ADD1,AC_MAST.ADD2,AC_MAST.ADD3,AC_MAST.CITY,AC_MAST.ZIP,AC_MAST.S_TAX,AC_MAST.I_TAX
	,AC_MAST.ECCNO ,AC_MAST1.ADD1 ADD11,AC_MAST1.ADD2 ADD22,AC_MAST1.ADD3 ADD33,AC_MAST1.CITY CITY1
	,AC_MAST1.ZIP ZIP1,AC_MAST1.S_TAX S_TAX1,AC_MAST1.I_TAX I_TAX1,AC_MAST1.ECCNO ECCNO1,PIITEM.ITSERIAL  
	INTO #PIMAIN
	FROM PIMAIN  INNER JOIN PIITEM ON (PIMAIN.TRAN_CD=PIITEM.TRAN_CD) 
	INNER JOIN IT_MAST ON (PIITEM.IT_CODE=IT_MAST.IT_CODE) 
	INNER JOIN AC_MAST ON (AC_MAST.AC_ID=PIMAIN.AC_ID) 
	LEFT JOIN AC_MAST AC_MAST1 ON (AC_MAST1.AC_ID=PIMAIN.CONS_ID) 
	WHERE  PIMAIN.ENTRY_TY= @ENT  AND PIMAIN.TRAN_CD=@TRN
	ORDER BY PIMAIN.INV_SR,CAST(PIMAIN.INV_NO  AS INT)
	SET @MCHAPNO=' '
	SET @MEIT_NAME=' '
	DECLARE CUR_PIBILL CURSOR FOR SELECT DISTINCT CHAPNO FROM #PIMAIN
	OPEN CUR_PIBILL 
	FETCH NEXT FROM CUR_PIBILL INTO @CHAPNO
	WHILE(@@FETCH_STATUS=0)
	BEGIN
		SET @MCHAPNO=RTRIM(@MCHAPNO)+','+RTRIM(@CHAPNO)
		FETCH NEXT FROM CUR_PIBILL INTO @CHAPNO
	END
	CLOSE CUR_PIBILL
	DEALLOCATE CUR_PIBILL
	
	DECLARE CUR_PIBILL CURSOR FOR SELECT DISTINCT EIT_NAME FROM #PIMAIN
	OPEN CUR_PIBILL 
	FETCH NEXT FROM CUR_PIBILL INTO @EIT_NAME
	WHILE(@@FETCH_STATUS=0)
	BEGIN
		SET @MEIT_NAME=RTRIM(@MEIT_NAME)+','+RTRIM(@EIT_NAME)
		FETCH NEXT FROM CUR_PIBILL INTO @EIT_NAME
	END
	CLOSE CUR_PIBILL
	DEALLOCATE CUR_PIBILL	
	
	SET @MCHAPNO=CASE WHEN LEN(@MCHAPNO)>1 THEN SUBSTRING(@MCHAPNO,2,LEN(@MCHAPNO)-1) ELSE '' END
	SET @MEIT_NAME=CASE WHEN LEN(@MEIT_NAME)>1 THEN SUBSTRING(@MEIT_NAME,2,LEN(@MEIT_NAME)-1) ELSE '' END
	SELECT * 
	,MCHAPNO=ISNULL(@MCHAPNO,'')
	,MEIT_NAME=ISNULL(@MEIT_NAME,'')
	FROM #PIMAIN

