IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USP_REP_TDS_CHALLAN]') AND type in (N'P', N'PC'))
begin
	DROP PROCEDURE [USP_REP_TDS_CHALLAN]
end
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR:		RUEPESH PRAJAPATI
-- CREATE DATE: 20/04/2009
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE TDS CHALLAN REPORT.
-- MODIFY DATE/BY/Reason: 18/01/2011 Rupesh TKT-5692 Add TCS
-- REMARK:
-- =============================================
CREATE PROCEDURE   [dbo].[USP_REP_TDS_CHALLAN]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS
SET QUOTED_IDENTIFIER OFF
DECLARE @SQLCOMMAND NVARCHAR(4000),@FCON AS NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='M',@VITFILE='AC',@VACFILE=' '
,@VDTFLD ='DATE'
,@VLYN =NULL
,@VEXPARA=NULL
,@VFCON =@FCON OUTPUT

PRINT @FCON 
SET @FCON =REPLACE(@FCON,'EPMAIN.DATE','EPMAIN.U_PINVDT')


SELECT DISTINCT TM.SVC_CATE,TM.SECTION,SEC_CODE,M.L_YN
,CHALNO=M.U_CHALNO
,CHALDT=M.U_CHALDT
,M.CHEQ_NO,M.DATE,M.BANK_NM
,TDS=AC.AMOUNT
,TDSSUR=AC.AMOUNT
,TDSECESS=AC.AMOUNT
,TDSHCESS=AC.AMOUNT,DRAWN_ON
INTO #TDSCHAL1
FROM BPMAIN M
INNER JOIN LAC_VW AC ON (M.ENTRY_TY=AC.ENTRY_TY AND M.TRAN_CD=AC.TRAN_CD)
INNER JOIN TDSMASTER TM ON (M.SVC_CATE=TM.SVC_CATE)
WHERE 1=2


SET @SQLCOMMAND=' INSERT INTO #TDSCHAL1 '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT DISTINCT TM.SVC_CATE,TM.SECTION,TM.SEC_CODE,M.L_YN'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',CHALNO=(  CASE WHEN ISNULL(M2.U_CHALNO,'''')<>'''' THEN M2.U_CHALNO ELSE ((CASE WHEN ISNULL(M3.U_CHALNO,'''')<>'''' THEN M3.U_CHALNO ELSE '''' END )) END   )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',CHALDT=(  CASE WHEN ISNULL(M2.U_CHALDT,'''')<>'''' THEN M2.U_CHALDT ELSE ((CASE WHEN ISNULL(M3.U_CHALDT,'''')<>'''' THEN M3.U_CHALDT ELSE '''' END )) END   )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',M.CHEQ_NO,M.DATE,BANK_NM=ISNULL(M2.BANK_NM,'''')'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',TDS=(CASE WHEN A.TYP in (''TDS'',''TCS'') THEN AC.AMOUNT ELSE 0 END)' /*TKT-5692 Add TCS*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',TDSSUR=(CASE WHEN A.TYP in (''TDS-SUR'',''TCS-SUR'') THEN AC.AMOUNT ELSE 0 END)'/*TKT-5692 Add TCS-SUR*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',TDSECESS=(CASE WHEN A.TYP in (''TDS-ECESS'',''TCS-ECESS'') THEN AC.AMOUNT ELSE 0 END)'/*TKT-5692 Add TCS-ECESS*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',TDSHCESS=(CASE WHEN A.TYP in (''TDS-HCESS'',''TCS-HCESS'') THEN AC.AMOUNT ELSE 0 END),DRAWN_ON=ISNULL(M2.DRAWN_ON,'''')'/*TKT-5692 Add TCS-HCESS*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM LMAIN_VW M'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN LAC_VW AC ON (M.ENTRY_TY=AC.ENTRY_TY AND M.TRAN_CD=AC.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST A ON (AC.AC_ID=A.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN BPMALL MALL ON (AC.ENTRY_TY=MALL.ENTRY_TY AND AC.TRAN_CD=MALL.TRAN_CD AND AC.ACSERIAL=MALL.ACSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN TDSMain_vw M1 ON (MALL.ENTRY_ALL=M1.ENTRY_TY AND MALL.MAIN_TRAN=M1.TRAN_CD)' /*Replace EpMain with TDSMain_vw TKT-5692*/
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN AC_MAST A1 ON (M1.AC_ID=A1.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN TDSMASTER TM ON (M1.SVC_CATE=TM.SVC_CATE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN BPMAIN M2 ON (M.ENTRY_TY=M2.ENTRY_TY AND M.TRAN_CD=M2.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'LEFT JOIN CPMAIN M3 ON (M.ENTRY_TY=M3.ENTRY_TY AND M.TRAN_CD=M3.TRAN_CD)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+@FCON 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND ISNULL(M1.SVC_CATE,'''')<>'''''
PRINT @SQLCOMMAND 
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SELECT SVC_CATE,SECTION,SEC_CODE,CHALNO,CHALDT,CHEQ_NO,DATE,BANK_NM,L_YN
,TDS=SUM(TDS),TDSSUR=SUM(TDSSUR),TDSECESS=SUM(TDSECESS),TDSHCESS=SUM(TDSHCESS),DRAWN_ON
FROM #TDSCHAL1
GROUP BY SVC_CATE,SECTION,SEC_CODE,CHALNO,CHALDT,CHEQ_NO,DATE,BANK_NM,L_YN,DRAWN_ON

