if exists(select * from sysobjects where name='USP_REP_PURCHASE_REGISTER' and xtype='P')
begin
drop procedure USP_REP_PURCHASE_REGISTER
end

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:	Birendra
-- Create date: 20/10/2011
-- Description:	This Strored procedure is useful for Purchase Register.
-- Modify date:  16/04/2012/changes in qty column / Sandeep for the bug 1724 
-- Modify date:  26/08/2013/added filter Parameters/ Sandeep for the bug 18638
-- Remark:
-- =============================================

create PROCEDURE [dbo].[USP_REP_Purchase_Register]
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20),@expara NVARCHAR(1000)
	AS

Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)

EXECUTE USP_REP_FILTCON 
		@VTMPAC=@TMPAC,@VTMPIT=@TMPIT,@VSPLCOND=@SPLCOND, 
		@VSDATE=@SDATE,@VEDATE=@EDATE,    --Added @sdate para. by sandeep for bug-18638 on 26-Aug-13
		@VSAC =@SNAME,@VEAC =@ENAME, --Added @SNAME & @ENAME para. by sandeep for bug-18638 on 26-Aug-13  
		@VSIT=@SITEM,@VEIT=@EITEM,
		@VSAMT=@SAMT,@VEAMT=@EAMT, --Added @SAMT & @EAMT para. by sandeep for bug-18638 on 26-Aug-13  
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =@SWARE,@VEWARE  =@EWARE,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='PTMAIN',@VITFILE=null,@VACFILE=null,
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@expara,
		@VFCON =@FCON OUTPUT

	declare @RuleCondition varchar(1000)
	set @RuleCondition=''
	if charindex('$>Rule',@expara)<>0
	begin
		set @RuleCondition=@expara
		SET @RuleCondition=REPLACE(@RuleCondition, '`','''')
		set @RuleCondition=substring(@RuleCondition,charindex('$>Rule',@RuleCondition)+6,len(@RuleCondition)-(charindex('$>Rule',@RuleCondition)+5))
		set @RuleCondition=substring(@RuleCondition,1,charindex('<$Rule',@RuleCondition)-1)
	end
	/*
		REPLACE TPMAIN.TOT_ADD TO PTITEM.TOT_ADD FOR BUG-24675  ADDED BY SURAJ K. ON 05-12-2014
	*/
	SET @SQLCOMMAND = ''
	SET @SQLCOMMAND = 'SELECT PTMAIN.ENTRY_TY,PTMAIN.TRAN_CD,PTMAIN.DATE,PTMAIN.INV_NO,AC_MAST.S_TAX,C_TAX,
						AC_MAST.MAILNAME,AC_MAST.STATE,IT_MAST.[GROUP],qty=(case when isnull(ptitem.dc_no,'+''''''+')<>'+'''DI'''+' then PTITEM.QTY else 0 end) 
						,PTITEM.RATE,PTITEM.GRO_AMT,PTITEM.TOT_DEDUC,PTITEM.TOT_TAX,PTITEM.TOT_ADD,PTITEM.TAX_NAME,PTITEM.TAXAMT,PTITEM.ITEM,
						PTITEM.U_ASSEAMT,PTITEM.TOT_NONTAX,PTITEM.TOT_EXAMT,PTITEM.TOT_FDISC,PTMAIN.NET_AMT
						FROM   PTMAIN LEFT JOIN PTITEM  ON PTMAIN.TRAN_CD=PTITEM.TRAN_CD  INNER JOIN
						AC_MAST ON PTMAIN.AC_ID=AC_MAST.AC_ID  INNER JOIN IT_MAST ON PTITEM.IT_CODE=IT_MAST.IT_CODE '
	SET @SQLCOMMAND =RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)+' '+@RuleCondition
	SET @SQLCOMMAND =RTRIM(@SQLCOMMAND)+' ORDER BY PTMAIN.DATE,PTMAIN.INV_NO'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
