set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 
-- Description:	This Stored procedure is useful in Item Selection in uereport.app with it_group selection.
-- Modified By: 
-- Modify By/Date/Reason: Rupesh Prajapati. 26/06/2008 to repalce charindex() because, it was not not filtering perfectly.
-- Modify By/Date/Reason: Rupesh Prajapati. 19/02/2010 to Add It_Desc Column. TKT-110.
-- Remark:
-- =============================================
ALTER procedure [dbo].[Usp_Item_SubGroups]
@itemname as nvarchar(4000)=''
as
declare @reccount integer
--select it_group_name,[group] into #groups from item_group where charindex(rtrim(it_group_name),@itemname,1)<>0 &&Rup 26/06/2008
select it_group_name,[group] into #groups from item_group where 1=2

declare @str varchar(100),@cnt int ,@pos1 int ,@pos2 int,@cond int
set @cond=1



print @pos1
--->Group & Sub Group List
while (@cond=1)
begin
	set @pos1 = CHARINDEX(',',@itemname,1)
	if @pos1<>0
	begin
		set @str=substring(@itemname,1,@pos1-1)
		set @itemname=substring(@itemname,@pos1+1,len(@itemname)-@pos1+1)
	end
	else
	begin
		set @cond=0	
	end
	insert into #groups (it_group_name,[group]) select it_group_name,[group]  from item_group where it_group_name=@str
	print @str
	--print @x
end
insert into #groups (it_group_name,[group]) select it_group_name,[group]  from item_group where it_group_name= @itemname
print @itemname
---<--Group & Sub Group List

--select * from #groups order by it_group_name
select it_group_name,[group] into #group1 from #groups
set @reccount = 2
while @reccount>1
begin
	select it_group_name,[group] into #group2 from item_group 
		where [group] in (select it_group_name from #group1)
	insert into #groups select * from #group2
	delete from #group1
	insert into #group1 select it_group_name,[group] from #group2
	drop table #group2
	set @reccount = (select count(it_group_name) from #group1)
end
drop table #group1
select it_name,[group] as [it_group],it_alias as [It_Desc] from it_mast where [group] in (select it_group_name from #groups group by it_group_name) order by it_name
drop table #groups

