set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



ALTER PROCEDURE [dbo].[USP_REP_Annexure_18]
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
	AS
Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)
	Declare @OPENTRIES as VARCHAR(50),@OPENTRY_TY as VARCHAR(50)
	Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50),@TBLNAME3 as VARCHAR(50)
	
	Set @OPENTRY_TY = '''OB'''
	Set @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
					+ (DATEPART(ss, GETDATE()) * 1000 )
					+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No)
	Set @TBLNAME1 = '##TMP1'+@TBLNM
	Set @TBLNAME2 = '##TMP2'+@TBLNM
	Set @TBLNAME3 = '##TMP3'+@TBLNM

	DECLARE openingentry_cursor CURSOR FOR
		SELECT entry_ty FROM lcode
		WHERE bcode_nm = 'OB'
	OPEN openingentry_cursor
	FETCH NEXT FROM openingentry_cursor into @opentries
	WHILE @@FETCH_STATUS = 0
	BEGIN
	   Set @OPENTRY_TY = @OPENTRY_TY +','''+@opentries+''''
	   FETCH NEXT FROM openingentry_cursor into @opentries
	END
	CLOSE openingentry_cursor
	DEALLOCATE openingentry_cursor

	EXECUTE USP_REP_FILTCON 
		@VTMPAC=@TMPAC,@VTMPIT=null,@VSPLCOND=@SPLCOND,
		@VSDATE=null,@VEDATE=@EDATE,
		@VSAC =@SNAME,@VEAC =@ENAME,
		@VSIT=null,@VEIT=null,
		@VSAMT=@SAMT,@VEAMT=@EAMT,
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =null,@VEWARE  =null,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='MVW',@VITFILE=null,@VACFILE='AVW',
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@EXTPAR,
		@VFCON =@FCON OUTPUT



	SELECT OBMAIN.ENTRY_TY,OBMAIN.TRAN_CD,OBACDET.AMT_TY,OBMAIN.DATE,ARENO='',AREDATE=0,CTNO='',CTDATE=0,CTDESC='',AREDESC='',OBMAIN.NET_AMT,OBMAIN.GRO_AMT,U_SBDT='',TOT_EXAMT=0,U_EXBAMT=0,TOT_QTY=0,OBMAIN.U_PINVDT,OBMAIN.U_CLDT,OBMAIN.BOND_AMT,OBMAIN.BOND_NO,OBMAIN.PARTY_NM 
	INTO #TMP_B17BOND
	FROM OBMAIN 
	INNER JOIN OBACDET ON (OBACDET.ENTRY_TY=OBMAIN.ENTRY_TY AND OBACDET.TRAN_CD=OBMAIN.TRAN_CD AND OBACDET.AC_ID=OBMAIN.AC_ID)
	WHERE OBMAIN.ENTRY_TY='BB' AND OBMAIN.BOND_TY='B-17 BOND' AND OBMAIN.DATE BETWEEN @SDATE AND @EDATE
	UNION ALL
	SELECT A.ENTRY_TY,A.TRAN_CD,AMT_TY='',DATE,ARENO,AREDATE,CTNO,CTDATE,CTDESC,AREDESC,NET_AMT,GRO_AMT,U_SBDT,TOT_EXAMT,A.U_EXBAMT,B.TOT_QTY,U_PINVDT=0,U_CLDT=0,BOND_AMT=0,A.BOND_NO,A.PARTY_NM FROM STMAIN A
	INNER JOIN 
	(SELECT TRAN_CD,TOT_QTY=SUM(QTY)FROM STITEM GROUP BY TRAN_CD) B ON (A.TRAN_CD=B.TRAN_CD)
	INNER JOIN (SELECT BOND_NO,BOND_TY FROM OBMAIN WHERE BOND_TY='B-17 BOND') C ON (A.BOND_NO=C.BOND_NO)
	WHERE A.BOND_NO<>''  AND DATE BETWEEN @SDATE AND @EDATE
	UNION ALL
	SELECT BPMAIN.ENTRY_TY,BPMAIN.TRAN_CD,BPACDET.AMT_TY,BPMAIN.DATE,ARENO='',AREDATE=0,CTNO='',CTDATE=0,CTDESC='',AREDESC='',NET_AMT=0,GRO_AMT=BPACDET.AMOUNT,U_SBDT='',TOT_EXAMT=0,U_EXBAMT=0,TOT_QTY=0,U_PINVDT=0,U_CLDT=0,BOND_AMT=0,BPMAIN.BOND_NO,PARTY_NM=BPACDET.AC_NAME 
	from BPMAIN
	Inner join BPACDET on (BPMAIN.entry_ty=BPACDET.entry_ty and BPMAIN.tran_cd=BPACDET.tran_cd)
	inner join (SELECT BOND_NO,BOND_TY FROM OBMAIN WHERE BOND_TY='B-17 BOND') C ON (BPMAIN.BOND_NO=C.BOND_NO)
	where BPACDET.ac_name='BALANCE WITH B1-BOND' and BPMAIN.bond_no<>'' and C.bond_ty='B-17 BOND'
	AND BPMAIN.DATE BETWEEN @SDATE AND @EDATE AND BPMAIN.ENTRY_TY='BC'
	UNION ALL
	SELECT BRMAIN.ENTRY_TY,BRMAIN.TRAN_CD,BRACDET.AMT_TY,BRMAIN.DATE,ARENO='',AREDATE=0,CTNO='',CTDATE=0,CTDESC='',AREDESC='',NET_AMT=0,GRO_AMT=BRACDET.AMOUNT,U_SBDT='',TOT_EXAMT=0,U_EXBAMT=0,TOT_QTY=0,U_PINVDT=0,U_CLDT=0,BOND_AMT=0,BRMAIN.BOND_NO,PARTY_NM=BRACDET.AC_NAME 
	from BRMAIN
	Inner join BRACDET on (BRMAIN.entry_ty=BRACDET.entry_ty and BRMAIN.tran_cd=BRACDET.tran_cd)
	inner join (SELECT BOND_NO,BOND_TY FROM OBMAIN WHERE BOND_TY='B-17 BOND') C ON (BRMAIN.BOND_NO=C.BOND_NO)
	where BRACDET.ac_name='BALANCE WITH B1-BOND' and BRMAIN.bond_no<>'' and C.bond_ty='B-17 BOND'
	AND BRMAIN.DATE BETWEEN @SDATE AND @EDATE AND BRMAIN.ENTRY_TY='BD'
	

	SELECT * FROM #TMP_B17BOND ORDER BY DATE,CASE WHEN AMT_TY='DR' THEN 'A' ELSE 'B' END


