/****** Object:  StoredProcedure [dbo].[USP_REP_SINGLE_CO_DATA]    Script Date: 04/23/2014 14:36:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Description:	taking then reference of Stored Procedure is useful to Fetch Single Co.
-- Remark: Changes done by sandeep on 06/11/2013 for bug-20342 (capture Bank payment for 'TDS'  )

-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_SINGLE_CO_DATA]
 @TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
 ,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
 ,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
 ,@SAMT FLOAT,@EAMT FLOAT
 ,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
 ,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
 ,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
 ,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
 ,@LYN VARCHAR(20)
 ,@EXPARA  AS VARCHAR(60)= null
 ,@MFCON NVARCHAR(2000) OUTPUT
 AS
----Changed by Sandeep s. for TKT-9508-- S
DECLARE @vatfltopt VARCHAR(25)
select @vatfltopt=vat_flt_opt from manufact
print @vatfltopt
----Changed by Sandeep s. for TKT-9508-- E
 BEGIN
 
 Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)

 EXECUTE   USP_REP_FILTCON 

 @VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
 ,@VSDATE=@SDATE
 ,@VEDATE=@EDATE
 ,@VSAC =@SAC,@VEAC =@EAC
 ,@VSIT=@SIT,@VEIT=@EIT
 ,@VSAMT=@SAMT,@VEAMT=@EAMT
 ,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
 ,@VSCATE =@SCATE,@VECATE =@ECATE
 ,@VSWARE =@SWARE,@VEWARE  =@EWARE
 ,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
 ,@VMAINFILE='M',@VITFILE=NULL,@VACFILE=NULL
 ,@VDTFLD ='DATE'
 ,@VLYN=NULL
 ,@VEXPARA=@EXPARA
 ,@VFCON =@FCON OUTPUT

DECLARE @SQLCOMMAND NVARCHAR(4000)
Declare @NetEff as numeric (12,2), @NetTax as numeric (12,2)

Declare @Balance Numeric(17,2),@TBLNM VARCHAR(50),@TBLNAME1 Varchar(50),
        @TBLNAME2 Varchar(50) ,@TBLNAME3 Varchar(50),@TBLNAME4 Varchar(50)
 
Select @TBLNM = (SELECT substring(rtrim(ltrim(str(RAND( (DATEPART(mm, GETDATE()) * 100000 )
		+ (DATEPART(ss, GETDATE()) * 1000 )+ DATEPART(ms, GETDATE())) , 20,15))),3,20) as No),
		@Balance = 0,@SQLCOMMAND = ''

Select @TBLNAME1 = '##TMP1'+@TBLNM,@TBLNAME2 = '##TMP2'+@TBLNM
Select @TBLNAME3 = '##TMP3'+@TBLNM,@TBLNAME4 = '##TMP4'+@TBLNM

SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) INTO #VATAC_MAST FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''
INSERT INTO #VATAC_MAST SELECT DISTINCT AC_NAME=SUBSTRING(AC_NAME1,2,CHARINDEX('"',SUBSTRING(AC_NAME1,2,100))-1) FROM STAX_MAS WHERE AC_NAME1 NOT IN ('"SALES"','"PURCHASES"') AND ISNULL(AC_NAME1,'')<>''

SELECT ENTRY_TY,BCODE=(CASE WHEN EXT_VOU=1 THEN BCODE_NM ELSE ENTRY_TY END),STAX_ITEM  INTO #LCODE FROM LCODE --for bug-6755,LUBRI

--SET @SQLCOMMAND = ' SELECT BHENT=''PT'',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0)
--   ,STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1
--   ,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
--   ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),M.TRAN_CD
--   ,VATONAMT=99999999999.99,DBNAME=space(20),ItemType=space(1),It_Code=999999999999999999-999999999999999999,ItSerial=space(5)
--   ,STM.RFORM_NM,AMT4=0,AMT5=0 --Added by Priyanka on 25022014
--   INTO '+@TBLNAME1+'  FROM PTACDET A 
--   INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
--   INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
--   INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
--   INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
--   WHERE 1=2'
--EXECUTE sp_executesql @SQLCOMMAND
--,Ac_Name=case when isnull(A.MailName,'''') = '''' then A.Ac_Name else A.MailName end
--,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end
 ----Temporary Cursor1
--SET @SQLCOMMAND = ' SELECT BHENT=''PT'',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0)
SET @SQLCOMMAND = ' SELECT BHENT=''PT'',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0)
   ,STM.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=M.GRO_AMT+M.TOT_DEDUC+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1
   ,MTAXAMT=M.TAXAMT,TAXAMT=A.AMOUNT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM
   ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),M.TRAN_CD
   ,VATONAMT=99999999999.99,DBNAME=space(20),ItemType=space(1),It_Code=999999999999999999-999999999999999999,ItSerial=space(5)
   INTO '+@TBLNAME1+'  FROM PTACDET A 
   INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)
   INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME)
   INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)
   INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)
   WHERE 1=2'
EXECUTE sp_executesql @SQLCOMMAND
----Changed by Sandeep s. for TKT-9508-- S
SET @FCON = case when (@vatfltopt)='Bill Date      ' then Replace(@FCON,'M.DATE','M.U_PINVDT') else  Replace(@FCON,'M.U_PINVDT','M.DATE') end 
----Changed by Sandeep s. for TKT-9508-- E

 ----Insert Data in Cursor2 from ST, PT, SR, PR
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=LTRIM(AC1.ADD1)+ '' '' + LTRIM(AC1.ADD2) + '' '' + LTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),DBNAME=space(20),ItemType=space(1)' --commented Hetal Dt 26/04/2010
---Same Changes are done in all sql commands below but not commented Hetal Dt 26/04/2010
---Changes done For MailName Dt 01/06/2010
--- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT='+'''PT'''+',M.INV_NO,M.Date,A.AC_NAME,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,PARTY_NM=AC1.AC_NAME,AC1.S_TAX,M.U_IMPORM'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
--round (((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-d.taxamt-M.TOT_NONTAX-D.TOT_NONTAX))/M.Gro_amt,2) bug-1062

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,M.U_IMPORM'
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt-m.tot_fdisc)*(D.Gro_amt-d.taxamt-M.TOT_NONTAX-D.TOT_NONTAX))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --FOR 27-OCT of bengal vat-14
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN #LCODE lc  ON (lc.ENTRY_TY=D.ENTRY_TY)'-- for bug-4832 added 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And (Rtrim(M.U_IMPORM) NOT in ('+'''Branch Transfer'''+','+'''High Seas Purchases'''+','+'''Direct Imports'+''') or M.[Rule] = '+'''EOU EXPORT'''+'  or Ac.S_TAX <> '+''' '')'-- ADD BY SANDEEP FOR BUG-533
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND M.ENTRY_TY IN (''PT'') OR LC.BCODE IN (''P1'')'
--changes by sandeep for TKT-533--S
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN #LCODE lc  ON (lc.ENTRY_TY=D.ENTRY_TY)'-- for bug-4832 added  
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX = '+''' '''
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And (Rtrim(M.U_IMPORM) NOT in ('+'''Branch Transfer'''+','+'''High Seas Purchases'''+','+'''Direct Imports'+''') or M.[Rule] = '+'''EOU EXPORT'''+'  or Ac.S_TAX = '+''' '')'-- ADD BY SANDEEP FOR BUG-533
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND M.ENTRY_TY IN (''PT'') OR LC.BCODE IN (''P1'')'
--changes by sandeepsfor TKT-533--E
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND

SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
----Changed by Sandeep s. for TKT-9508-- S
 SET @FCON = Replace(@FCON,'M.U_CLDT','M.DATE')
----Changed by Sandeep s. for TKT-9508-- E
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='''',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round(((M.Net_amt)*D.Gro_amt)/(M.Gro_amt),2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT= D.TAXAMT ,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,M.U_IMPORM'
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT = round(((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-M.TOT_NONTAX-D.Tot_NonTax-D.TAXAMT))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'  --changes for bug-1060	 --commented for bug-4832																																		
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT = CASE WHEN Lc.STAX_ITEM=1 THEN round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/D.Gro_amt,2) ELSE round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2) END ,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'  --changes for bug-1060,libri
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT = CASE WHEN Lc.STAX_ITEM=1 THEN round (((M.Net_amt+m.tot_fdisc-M.TOT_TAX-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2) ELSE round (((M.Net_amt+m.tot_fdisc-M.TOT_TAX-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2) END ,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'  --changes for bug-1060,libri,bug-5315
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT = CASE WHEN Lc.STAX_ITEM=1 THEN  round(((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-M.TOT_TAX-M.TOT_NONTAX-D.Tot_NonTax-D.TAXAMT))/M.Gro_amt,2) ELSE round (((M.Net_amt+m.tot_fdisc-M.TOT_TAX-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2) END ,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'  --changes for bug-1060,libri,bug-5315,bug-17565
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD )'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN #LCODE lc  ON (lc.ENTRY_TY=D.ENTRY_TY)'-- for bug-4832 added 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) AND Ac1.S_TAX <> '+''' '' AND M.[Rule] not in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''')'
  PRINT @SQLCOMMAND
  PRINT 'SSSS'
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
 
--SET @SQLCOMMAND='select * from '+@TBLNAME1 +' where bhent = ''ST'' '
 --EXECUTE SP_EXECUTESQL @SQLCOMMAND
 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((d.qty*d.rate)+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'	 --changes for bug-1060	  
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round((d.qty*d.rate)+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX+m.tot_tax)*(D.Gro_amt))/(M.Gro_amt),2)-(m.tot_tax),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM EPACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
--SB TRANSACTION--START
-- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX+m.tot_tax)*(D.Gro_amt))/(M.Gro_amt),2)-(m.tot_tax),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SBACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SBMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SBITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' ---And A.Amount = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
 PRINT @SQLCOMMAND
 PRINT'SB'
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
--SB TRANSACTION--END 
 ----Added By Hetal on Dt 31/07/09 To Get Export,Branch Transfer Records
 --- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-d.taxamt-M.TOT_NONTAX-D.TOT_NONTAX))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL' --bug-6755
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'And (Rtrim(M.U_IMPORM) in ('+'''Branch Transfer'''+','+'''High Seas Purchases'''+','+'''Direct Imports'+''') or M.[Rule] = '+'''EOU EXPORT'''+' )'-- or Ac.S_TAX = '+''' '' && changes for the bug-15540 by sandeep on 08-jun-13
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND M.ENTRY_TY IN (''PT'',''P1'')'

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
-- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT =round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2) ,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --changes for bug-1060
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL' --bug-6755
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'-- And M.TaxAmt = D.TaxAmt)' --6755
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
  SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND (rtrim(M.U_Imporm) = '+'''Branch Transfer'''+' or M.[Rule] in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''')  or Ac.S_TAX = '+''' '')' + ''-- and STM.set_app=1 ' --6755
 PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND


--LR TRANSACTION--START
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM IRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 -- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
--LR TRANSACTION--END

--VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2)
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((d.qty*d.rate)+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND (M.[Rule] in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''')  or Ac.S_TAX = '+''' '')'

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM=STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --changes for bug-1060
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN LCODE  L  ON (L.ENTRY_TY=M.ENTRY_TY)' --add for bug-1060
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND (M.[Rule] in ('+'''CT-1'''+','+'''CT-3'''+','+'''EOU EXPORT'+''') or Ac.S_TAX = '+''' '')' + 'And STM.Tax_name='+''' '''
PRINT 'PRIYANKA'
 PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
--Commented by sandeep Shah on 04/08/2011 for TKT-9064
------Changed to Get Bank Payment Record for VAT Payable-- S
-- SET @FCON = Replace(@FCON,'M.DATE','M.U_CLDT')
------Changed to Get Bank Payment Record for VAT Payable-- E

--Add by sandeep S. for JV transaction of  VAT & CST Adjustment---S
----Changed to Get Bank Payment Record for VAT & CST Adjustment-- S
SET @FCON = Replace(@FCON,'M.U_CLDT','M.DATE')
----Changed to Get Bank Payment Record for VAT & CST Adjustment---E
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='''',TAX_NAME='''',SET_APP=0,AC.ST_TYPE,NET_AMT=A.amount,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM='''',M.PARTY_NM,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=space(1),IT_CODE=999999999999999999-999999999999999999,ITSERIAL=space(5)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM JVACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN JVMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ RTRIM(@FCON) by sandeep on 15/09/2011 for TKT-8610
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' and (M.VAT_ADJ<>'''')'
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  And (M.Party_nm like''%VAT%'' OR M.Party_nm like ''%CST%'' OR M.VAT_ADJ<>'''')'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
----Changed to Get Bank Payment Record for VAT Payable-- S
 SET @FCON = Replace(@FCON,'M.DATE','M.U_CLDT')
----Changed to Get Bank Payment Record for VAT Payable-- E
--Add by sandeep S. for JV transaction of  VAT & CST Adjustment---S
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,DATE=M.U_CLDT,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',TAX_NAME='''',SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM_NM='''',PARTY_NM=M.BANK_NM,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=space(1),IT_CODE=999999999999999999-999999999999999999,ITSERIAL=space(5)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM BPMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'  And (M.Party_nm like''%VAT%'' OR M.Party_nm like ''%CST%'' OR M.Party_nm like ''%WCT%'' OR M.Party_nm like ''%TDS%'' )'  --ADD 'tds' by sandeep on 06/11/2013 for bug-20342
 --PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

----Changed to Default Setting -- S
 SET @FCON = Replace(@FCON,'M.U_CLDT','M.DATE')
----Changed to default Setting -- D
----Insert Data in Cursor2 from PT,ST,SR,PR,EP where SET_APP of Stax_mas is Zero or Set off not available
----Dt 18*08*2009
----Added to include Tax Bills where setoff is not available&& Dt 18/08/2009
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
--'OUT OF STATE' condition added in sales transaction by Sandeep for TKT-8385

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),D.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT =round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/D.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --changes for bug-1060
  --SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=case when d.gro_amt<>0 then round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/D.Gro_amt,2) else round (((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-d.taxamt-M.TOT_NONTAX-D.TOT_NONTAX))/M.Gro_amt,2)end ,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --changes for bug-1060 , chnages for divide by zero DL-VAT-bug-6755
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL' --chnages for divide by zero DL-VAT-bug-6755,lubr,wb-14
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD )'--And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN #LCODE lc  ON (lc.ENTRY_TY=D.ENTRY_TY)'-- for bug-6755 added 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' and STM.Set_App = 0 and STM.St_Type = ''Local'' or STM.St_Type = ''OUT OF STATE'' and stm.level1=0 or STM.St_Type = ''OUT OF COUNTRY'' and stm.level1=0  '--and RTRIM(M.Tax_name) <> ''E - 2'' or RTRIM(D.Tax_name) <> ''E - 2''' --changes for bug-996 commented by sandep for bug-1062
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'  --changes for bug-1060
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN #LCODE lc  ON (lc.ENTRY_TY=D.ENTRY_TY)'-- for bug-6755 added 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local''or STM.St_Type = ''OUT OF STATE'' and stm.level1=0 or STM.St_Type = ''OUT OF COUNTRY'' and stm.level1=0 '--and RTRIM(M.Tax_name) <> ''E - 1'' or RTRIM(D.Tax_name) <> ''E - 1'''  --changes for bug-996 commented by sandep for bug-1062 
 print 'lll' 
PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
--SET @SQLCOMMAND='select * from '+@TBLNAME1 +' where bhent = ''ST'' '
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

 
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --changes for bug-1060
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round((d.qty*d.rate)+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL' --changes for bug-1060
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=CASE WHEN D.U_VATONAMT <> 0 THEN D.U_VATONAMT ELSE D.GRO_AMT END,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM EPMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
  SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''
 ----
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 ---Added By Hetal To Get Records with Tax Name Blank
--- SET @SQLCOMMAND='INSERT INTO ##FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM=M.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round(d.u_asseamt+d.tot_examt+d.tot_add-d.tot_deduc,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'  --bug-6755
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM STMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' and M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'' '-- or RTRIM(M.Tax_name) = ''E - 2'' or RTRIM(D.Tax_name) = ''E - 2'''	Pankaj 18/03/2014.
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM=M.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,M.U_IMPORM'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=CASE WHEN D.GRO_AMT<>0 THEN round (((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-d.taxamt-M.TOT_NONTAX-D.TOT_NONTAX))/M.Gro_amt,2) ELSE 0 END ,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL' -- --bug-6755
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PTMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PTITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'''-- or RTRIM(M.Tax_name) = ''E - 1'' or RTRIM(D.Tax_name) = ''E - 1''' commented by sandeep for bug-1062
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND M.ENTRY_TY IN (''PT'',''P1'')'	 
PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SET @SQLCOMMAND='select * from '+@TBLNAME1 +' where bhent = ''ST'' '
--EXECUTE SP_EXECUTESQL @SQLCOMMAND


 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM SRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN SRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
  SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM PRMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN PRITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
  SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,AC.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(10)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM EPMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN EPITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
  SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'''
 ----
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
 ---
 ----Debit/Credit Note and sales entry where U_imporm is 'Purchase return' DT 09/10/2009 
--- SET @SQLCOMMAND='INSERT INTO #FORM221_1' 
 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM DNACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''
 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.Date,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,A.AMT_TY,STM.TAX_NAME,SET_APP=ISNULL(SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.LEVEL1,MTAXAMT=M.TAXAMT,TAXAMT=D.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC1.MailName,'''') = '''' then AC1.Ac_Name else AC1.MailName end,AC1.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC1.ADD1)+ '' '' + RTRIM(AC1.ADD2) + '' '' + RTRIM(AC1.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM CNACDET A '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNMAIN M ON (A.ENTRY_TY=M.ENTRY_TY AND A.TRAN_CD=M.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)' 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (D.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = A.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (A.AC_NAME=AC.AC_NAME)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC1 ON (M.AC_ID=AC1.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND A.AC_NAME IN ( SELECT AC_NAME FROM #VATAC_MAST) And Ac1.S_TAX <> '+''' '''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc-M.TAXAMT-M.TOT_NONTAX-D.TOT_NONTAX)*(D.Gro_amt))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM DNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNITEM D ON (D.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',STM.TAX_NAME,SET_APP=ISNULL(STM.SET_APP,0),STM.ST_TYPE,NET_AMT=round((M.Net_amt*D.Gro_amt)/M.Gro_amt,2),M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=STM.Level1,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,STM.FORM_NM,Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=round (((M.Net_amt+m.tot_fdisc)*(D.Gro_amt-d.taxamt-M.TOT_NONTAX-D.TOT_NONTAX))/M.Gro_amt,2),DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,D.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM CNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNITEM D ON (D.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD And M.TaxAmt = D.TaxAmt)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN STAX_MAS STM ON (M.TAX_NAME=STM.TAX_NAME) And STM.Entry_ty = M.Entry_ty'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And STM.Set_App = 0 and STM.St_Type = ''Local'''

 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM DNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN DNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'''
  
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND='INSERT INTO '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM CNMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN CNITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
   SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And M.Tax_name = '' '' or RTRIM(M.Tax_name) = ''NO-TAX''or d.Tax_name = '' '' or RTRIM(D.Tax_name) = ''NO-TAX'''


---Opening Balance Dt 01/12/2009
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' UNION ALL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' SELECT BHENT=M.ENTRY_TY,M.INV_NO,M.DATE,Ac_Name=case when isNull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AMT_TY='' '',M.TAX_NAME,SET_APP=0,Ac.ST_TYPE,M.NET_AMT,M.GRO_AMT,TAXONAMT=(M.GRO_AMT-M.TOT_DEDUC)+M.TOT_TAX+M.TOT_EXAMT+M.TOT_ADD,PER=0,MTAXAMT=M.TAXAMT,TAXAMT=M.TAXAMT,FORM='' '',Party_nm=case when isnull(AC.MailName,'''') = '''' then AC.Ac_Name else AC.MailName end,AC.S_TAX,U_IMPORM=space(1)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,ADDRESS=RTRIM(AC.ADD1)+ '' '' + RTRIM(AC.ADD2) + '' '' + RTRIM(AC.ADD3),M.TRAN_CD,VATONAMT=M.NET_AMT,DBNAME=space(20),ItemType=case when it.type = ''Machinery/Stores'' then ''C'' else ''I'' end,IT.IT_CODE,D.ITSERIAL'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM OBMAIN M '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST AC ON (M.AC_ID=AC.AC_ID)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN OBITEM D ON (M.ENTRY_TY=D.ENTRY_TY AND M.TRAN_CD=D.TRAN_CD)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST IT  ON (D.IT_CODE=IT.IT_CODE)'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' And AC.Typ = ''INPUT VAT'' Or AC.Typ = ''OUTPUT VAT'''
---OpBal
-- PRINT @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
----Added To Suppress Dulicate record coming to due link with ACDET Files S Dt 21/12/2009 Hetal Patel
 SET @SQLCOMMAND='UPDATE '+@TBLNAME1 
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' Set Ac_name = '''''
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND= 'SELECT DISTINCT * INTO '+@TBLNAME2
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM '+@TBLNAME1
 EXECUTE SP_EXECUTESQL @SQLCOMMAND

 SET @SQLCOMMAND= 'UPDATE '+@TBLNAME2 +' SET AC_NAME = L.AC_NAME FROM '+ @TBLNAME2 +' A'
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ 'INNER JOIN LAC_VW L ON (A.BHENT = L.ENTRY_TY AND A.TRAN_CD = L.TRAN_CD) '
 SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+ 'WHERE L.AC_NAME IN(SELECT AC_NAME FROM #VATAC_MAST)'
-- Print @SQLCOMMAND
 EXECUTE SP_EXECUTESQL @SQLCOMMAND
----E Dt 21/12/2009 Hetal Patel
 SET @MFCON= @TBLNAME2
  --SET @SQLCOMMAND='select * from '+@TBLNAME1 +' where bhent = ''ST'' '
 --EXECUTE SP_EXECUTESQL @SQLCOMMAND
 ---SET @SQLCOMMAND='select * from '+@TBLNAME2
 ---EXECUTE SP_EXECUTESQL @SQLCOMMAND
 
-- Print @MFCON 
 END

set ANSI_NULLS OFF

--Print 'Single Co Data NEIO'



























































