set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate ISD Service Tax Abstract Report.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

ALTER  procedure [dbo].[USP_REP_SERVICETAX_ABSTRACT_ISD]
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= nullas
as
begin
	Declare @SQLCOMMAND NVARCHAR(4000),@FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,2),@VEAMT DECIMAL(14,2)
	EXECUTE   USP_REP_FILTCON 
	@VTMPAC ='',@VTMPIT ='',@VSPLCOND =''
	,@VSDATE=NULL
	,@VEDATE=@edate
	,@VSAC ='',@VEAC =''
	,@VSIT='',@VEIT=''
	,@VSAMT=0,@VEAMT=0
	,@VSDEPT='',@VEDEPT=''
	,@VSCATE ='',@VECATE =''
	,@VSWARE ='',@VEWARE  =''
	,@VSINV_SR ='',@VEINV_SR =''
	,@VMAINFILE='m',@VITFILE='',@VACFILE=''
	,@VDTFLD ='date'
	,@VLYN=NULL
	,@VEXPARA=''
	,@VFCON =@FCON OUTPUT
	
	select entry_ty,code_nm,bcode_nm=case when ext_vou=0 then entry_ty else bcode_nm end into #lcode from lcode

	select aentry_ty,atran_cd,serbamt=sum(serbamt),sercamt=sum(sercamt),serhamt=sum(serhamt) 
	into #ISDAllocation 
	from ISDAllocation  i
	inner join #lcode l on (i.entry_ty=l.entry_ty)
	where l.bcode_nm='SD'
	group by aentry_ty,atran_cd

	


	select  
	entry_ty=(case when m.tdspaytype=2 then i.entry_ty else i.aentry_ty end)
	,tran_cd=(case when m.tdspaytype=2 then i.tran_cd else i.atran_Cd end)
	,serbamt=sum(i.serbamt),sercamt=sum(i.sercamt),serhamt=sum(i.serhamt)
	into #isdallocationR 
	from isdallocation i 
	inner join SerTaxMain_vw m on (i.entry_ty=m.entry_ty and i.tran_cd=m.tran_cd)
	inner join #lcode l on (m.entry_ty=l.entry_ty)
	where (l.bcode_nm in('BP','CP')) and m.date <=@edate
	group by i.entry_ty,i.tran_cd,i.aentry_ty,i.atran_Cd,m.tdspaytype
	
	--select * from #isdallocationR
		
	select entry_ty=l.bcode_nm,m.date,m.serty
	,pserbamt=a.serbamt,psercamt=a.sercamt,pserhamt=a.serhamt /*Service Tax Available As Per Payment*/
	,lserbamt=isnull(i.serbamt,0) /*Passed Amount*/
	,lsercamt=isnull(i.sercamt,0) /*Passed Amount*/
	,lserhamt=isnull(i.serhamt,0) /*Passed Amount*/
	,aserbamt=a.serbamt-isnull(i.serbamt,0)
	,asercamt=a.sercamt-isnull(i.sercamt,0)
	,aserhamt=a.serhamt-isnull(i.serhamt,0)
	into #isdbill
	from #isdallocationR  a
	inner join #lcode l on (a.entry_ty=l.entry_ty)
	inner join SerTaxMain_vw m on (a.entry_ty=m.entry_ty and a.tran_cd=m.tran_cd)
	inner join ac_mast ac on (m.ac_id=ac.ac_id)
	left join #ISDAllocation i on (a.entry_ty=i.aentry_ty and a.tran_cd=i.atran_cd)
	where l.bcode_nm in('EP','BP','CP') 
	order by m.date

	SELECT 
	OPBALb=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<@SDATE) THEN aserbamt ELSE 0 END)
	,DAMTb=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) THEN pserbamt ELSE 0 END)
	,CAMTb=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) THEN lserbamt ELSE 0 END)
	,BALAMTb=SUM(aserbamt)
	,OPBALc=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<@SDATE) THEN asercamt ELSE 0 END)
	,DAMTc=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) THEN psercamt ELSE 0 END)
	,CAMTc=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) THEN lsercamt ELSE 0 END)
	,BALAMTc=SUM(asercamt)
	,OPBALh=SUM(CASE WHEN (ENTRY_TY='OB' OR DATE<@SDATE) THEN aserhamt ELSE 0 END)
	,DAMTh=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) THEN pserhamt ELSE 0 END)
	,CAMTh=SUM(CASE WHEN NOT (ENTRY_TY='OB' OR DATE<@SDATE) THEN lserhamt ELSE 0 END)
	,BALAMTh=SUM(aserhamt)
	,SERTY
	into #serabs
	FROM #isdbill
	where date<=@EDATE
	GROUP BY SERTY
	delete from  #serabs where OPBALb+DAMTb+CAMTb+ OPBALc+DAMTc+CAMTc+ OPBALh+DAMTh+CAMTh=0
	--UPDATE  #serabs SET OPAMT_TY=(CASE WHEN OPBAL<0 THEN 'Cr' ELSE 'Dr' END),CLAMT_TY=(CASE WHEN BALAMT<0 THEN 'Cr' ELSE 'Dr' END)
	select * from #serabs order by SERTY 
end 





