set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go





ALTER procedure [dbo].[USP_UPLOADFILE_ANY_FORMAT]
@TrType  varchar(02),
@TrId    int,
@TrSerial int,
@filename varchar(100),
@Extension varchar(3),
@ObjImage image=null,
@ObjPath  varchar(200),
@PWhat varchar(01),
@PItSerial varChar(5)
as
declare @spcommand nvarchar(1000)
declare @parameterdefinition nvarchar(1000)
set @parameterdefinition = '@TrType varchar(02),@TrId int,@TrSerial int,@filename varchar(100),@Extension varchar(3),@ObjImage image,@ObjPath varchar(200),@pItSerial varChar(5)'

if @PWhat = 'I'
	Begin
		set @spcommand = 'Insert Into Uploadfiles(Tr_Type,Tr_Id,Tr_Serial,Filename,Extension,ObjImage,ObjPath,Tr_itSerial) values (@TrType,@TrId,@TrSerial,@Filename,@Extension,@ObjImage,@ObjPath,@pItSerial)'
	End
Else
	Begin
		set @spcommand = 'update Uploadfiles set FileName  = @Filename,
												Extension = @Extension,
												ObjImage  = @ObjImage,
												ObjPath  = @ObjPath 
						  where Tr_Type = @TrType and Tr_Id = @TrId and Tr_Serial = @TrSerial and tr_itserial = @pItSerial' 
	End
execute sp_executesql @spcommand,@parameterdefinition,@TrType=@TrType,@TrId=@TrId,
					  @TrSerial=@TrSerial,@filename=@filename,@extension=@extension,
					  @ObjImage=@ObjImage,@ObjPath=@ObjPath,@pItSerial=@pItSerial








