set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 17/04/2009
-- Description:	This Stored procedure is useful In Work Order Entry.
-- Modify date: 13/04/2010
-- Modified By: Hetal L Patel
-- Modify date: 
-- Remark: TKT-946 Bom Close Validation
-- =============================================
ALTER PROCEDURE [dbo].[USP_ENT_BOMDET] 
@qty numeric(18,4)
AS
select i.bomid,i.bomlevel,i.rmitemid,i.rmitem,i.particular,i.rmqty,req_qty=i.rmqty
into #bomdet
from bomdet i
inner join bomhead m on (m.bomid=i.bomid and m.bomlevel=i.bomlevel)
where 1=2

insert into #bomdet (bomid,bomlevel,rmitemid,rmitem,particular,rmqty,req_qty)
select i.bomid,i.bomlevel,i.rmitemid,i.rmitem,i.particular,i.rmqty,req_qty=(@qty*i.rmqty)/m.fgqty
from bomdet i
inner join bomhead m on (m.bomid=i.bomid and m.bomlevel=i.bomlevel)
Where M.Bomclose = 0 /*TKT-946 Hetal Dt 130410*/ 

select * from #bomdet
drop table #bomdet

