set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful to generate Pending Labour JOb 5 Challan Report.
-- Modification Date/By/Reason: 
-- Remark:
-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_LJLEDGER5] 
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= null
AS
Declare @FCON as NVARCHAR(2000),@VSAMT DECIMAL(14,4),@VEAMT DECIMAL(14,4)
EXECUTE   USP_REP_FILTCON 
@VTMPAC =@TMPAC,@VTMPIT =@TMPIT,@VSPLCOND =@SPLCOND
,@VSDATE=@SDATE
 ,@VEDATE=NULL
,@VSAC =@SAC,@VEAC =@EAC
,@VSIT=@SIT,@VEIT=@EIT
,@VSAMT=@SAMT,@VEAMT=@EAMT
,@VSDEPT=@SDEPT,@VEDEPT=@EDEPT
,@VSCATE =@SCATE,@VECATE =@ECATE
,@VSWARE =@SWARE,@VEWARE  =@EWARE
,@VSINV_SR =@SINV_SR,@VEINV_SR =@SINV_SR
,@VMAINFILE='IRMAIN',@VITFILE='IRITEM',@VACFILE=' ' --Changed by Shrikant S. on 13 Apr, 2010 for TKT-968
,@VDTFLD ='DATE'
,@VLYN=null --Changed by Shrikant S. on 13 Apr, 2010 for TKT-968
,@VEXPARA=@EXPARA
,@VFCON =@FCON OUTPUT

SELECT IIITEM.DATE,IIMAIN.INV_NO,IIITEM.ITSERIAL,IIITEM.ENTRY_TY,IIITEM.TRAN_CD,IIITEM.PARTY_NM,IIITEM.QTY,IIITEM.INV_SR,IIITEM.AC_ID
,QTY_USED=IIITEM.QTY,WASTAGE=IIITEM.QTY
---,AC_MAST.RANGE,AC_MAST.DIVISION ---Commented By Suraj Kumawat date on 24-04-2017 
  ,AC_MAST.GSTIN ---added By Suraj Kumawat date on 24-04-2017 
,IT_MAST.CHAPNO,IT_MAST.P_UNIT,IT_MAST.IT_NAME,IRITEM.IT_CODE LR_ITCODE,IRITEM.QTY LR_QTY, IRITEM.DATE LR_DATE,BALQTY=IIITEM.QTY-(isnull(IRRMDET.QTY_USED,0)+isnull(IRRMDET.WASTAGE,0)),LR_ACMAST.AC_NAME,FITEM=LR_ITMAST.IT_NAME,FQTY=IRITEM.QTY
,PDAYS=DATEDIFF(DAY,IIITEM.DATE,'Oct  8 2009 12:00AM' )
INTO #PENDCHALL
FROM IIITEM  
INNER JOIN IIMAIN ON  (IIITEM.TRAN_CD=IIMAIN.TRAN_CD)  
INNER JOIN AC_MAST ON (AC_MAST.AC_ID=IIITEM.AC_ID)  
INNER JOIN IT_MAST ON (IIITEM.IT_CODE=IT_MAST.IT_CODE)  
LEFT JOIN IRRMDET ON (IIITEM.TRAN_CD=IRRMDET.LI_TRAN_CD AND IIITEM.ENTRY_TY=IRRMDET.LIENTRY_TY AND IIITEM.ITSERIAL=IRRMDET.LI_ITSER)  
LEFT JOIN IRMAIN ON (IRRMDET.TRAN_CD=IRMAIN.TRAN_CD)  
LEFT JOIN IRITEM ON (IRRMDET.TRAN_CD=IRITEM.TRAN_CD AND IRITEM.ENTRY_TY=IRRMDET.ENTRY_TY AND IRRMDET.ITSERIAL=IRITEM.ITSERIAL)  
LEFT JOIN AC_MAST LR_ACMAST ON (LR_ACMAST.AC_ID=IRITEM.AC_ID)  
LEFT JOIN IT_MAST LR_ITMAST ON (LR_ITMAST.IT_CODE=IRITEM.IT_CODE)  
WHERE 1=2


DECLARE @SQLCOMMAND NVARCHAR(4000),@VCOND NVARCHAR(1000)
SET @SQLCOMMAND=' INSERT INTO #PENDCHALL SELECT IRITEM.DATE,IRMAIN.INV_NO,IRITEM.ITSERIAL,IRITEM.ENTRY_TY,IRITEM.TRAN_CD,IRITEM.PARTY_NM,IRITEM.QTY,IRITEM.INV_SR,IRITEM.AC_ID,'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' QTY_USED=isnull(IIRMDET.QTY_USED,0),WASTAGE=isnull(IIRMDET.WASTAGE,0), ' --Commented by Shrikant S. on 13 Apr, 2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' QTY_USED=CASE WHEN IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IIRMDET.QTY_USED,0) ELSE 0 END,WASTAGE=CASE WHEN IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IIRMDET.WASTAGE,0) ELSE 0 END, '
--- SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AC_MAST.RANGE,AC_MAST.DIVISION, ' ---Commented By Suraj Kumawat date on 24-04-2017 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AC_MAST.GSTIN, ' ---Added By Suraj Kumawat date on 24-04-2017 
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' IT_MAST.CHAPNO,IT_MAST.P_UNIT, IT_MAST.IT_NAME,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' IIITEM.IT_CODE LR_ITCODE,LR_QTY=CASE WHEN IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN ISNULL(IIITEM.QTY,0) ELSE 0 END, IIITEM.DATE LR_DATE,'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' BALQTY=IRITEM.QTY-(CASE WHEN IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IIRMDET.QTY_USED,0) ELSE 0 END+CASE WHEN IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN isnull(IIRMDET.WASTAGE,0) ELSE 0 END),'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LR_ACMAST.AC_NAME,FITEM=LR_ITMAST.IT_NAME,FQTY=CASE WHEN IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' THEN ISNULL(IIITEM.QTY,0) ELSE 0 END '
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' BALQTY=IRITEM.QTY-(isnull(IIRMDET.QTY_USED,0)+isnull(IIRMDET.WASTAGE,0)),' --Commented by Shrikant S. on 13 Apr, 2010 for TKT-968
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LR_ACMAST.AC_NAME,FITEM=LR_ITMAST.IT_NAME,FQTY=IIITEM.QTY ' --Commented by Shrikant S. on 13 Apr, 2010 for TKT-968
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ,PDAYS=DATEDIFF(DAY,IRITEM.DATE,'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+' )'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' FROM IRITEM '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IRMAIN ON  (IRITEM.TRAN_CD=IRMAIN.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN AC_MAST ON (AC_MAST.AC_ID=IRITEM.AC_ID) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' INNER JOIN IT_MAST ON (IRITEM.IT_CODE=IT_MAST.IT_CODE) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IIRMDET ON (IRITEM.TRAN_CD=IIRMDET.LI_TRAN_CD AND IRITEM.ENTRY_TY=IIRMDET.LIENTRY_TY AND IRITEM.ITSERIAL=IIRMDET.LI_ITSER AND IIRMDET.DATE<='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IIMAIN ON (IIRMDET.TRAN_CD=IIMAIN.TRAN_CD) '
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IIITEM ON (IIRMDET.TRAN_CD=IIITEM.TRAN_CD AND IIITEM.ENTRY_TY=IIRMDET.ENTRY_TY AND IIRMDET.ITSERIAL=IIITEM.ITSERIAL)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN AC_MAST LR_ACMAST ON (LR_ACMAST.AC_ID=IIITEM.AC_ID)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' LEFT JOIN IT_MAST LR_ITMAST ON (LR_ITMAST.IT_CODE=IIITEM.IT_CODE)'
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+RTRIM(@FCON)
SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' ORDER BY IRITEM.DATE,IRMAIN.INV_NO,IRITEM.ITSERIAL '
print @SQLCOMMAND
EXEC SP_EXECUTESQL  @SQLCOMMAND

--SELECT 'A',* FROM #PENDCHALL

SELECT QTY,LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY_USED=SUM(QTY_USED+WASTAGE) 
INTO #QTYUSED
FROM IIRMDET 
WHERE LI_DATE<=@SDATE
AND DATE<=@SDATE --Added by Shrikant S. on 13 Apr, 2010 for TKT-968
GROUP BY LIENTRY_TY,LI_TRAN_CD,LI_ITSER,QTY

DELETE FROM #QTYUSED WHERE QTY<>QTY_USED
--SELECT 'B',* FROM #QTYUSED
DELETE FROM #PENDCHALL WHERE ENTRY_TY+RTRIM(CAST(TRAN_CD AS VARCHAR))+ITSERIAL IN (SELECT LIENTRY_TY+RTRIM(CAST(LI_TRAN_CD AS VARCHAR))+LI_ITSER FROM #QTYUSED)
SELECT * FROM #PENDCHALL
DROP TABLE #PENDCHALL







