set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful In IP Entry.
-- Modification Date/By/Reason: 07/10/2009 Rupesh Prajapati. Modified for BalQty For DC_NO=''
-- Remark:
-- =============================================
ALTER  PROCEDURE [dbo].[USP_ENT_BOMDET_CHK_IP] 
@ENTRY_TY  VARCHAR(2),@TRAN_CD  INT,@RULE VARCHAR(20),@INV_SR VARCHAR(20),@CATE VARCHAR(20),@DEPT VARCHAR(20)
,@AENTRY_TY VARCHAR(2),@ATRAN_CD  INT,@AITSERIAL VARCHAR(5),@RMITEMID INT
AS
DECLARE @SQLCOMMAND NVARCHAR(4000)
SELECT @INV_SR ='',@CATE='',@DEPT =''

SELECT 
--WI.INV_NO,WI.DATE,IT1.IT_NAME
--WI.IT_CODE,ITEM=IT.IT_NAME,WI.ENTRY_TY,WI.TRAN_CD,WI.ITSERIAL,WI.QTY,WI.BOMID,WI.BOMLEVEL
WI.BOMID,WI.BOMLEVEL,WI.ENTRY_TY,WI.TRAN_CD,WI.ITSERIAL
,D.RMITEMID,RMITEM=IT1.IT_NAME,RQTY=H.FGQTY*D.RMQTY,REQTY=(WI.QTY*D.RMQTY)/H.FGQTY
,IQTY=WI.QTY,BALQTY=WI.QTY,SQTYM=WI.QTY,SQTY=WI.QTY,AQTY=WI.QTY
,IT1.TLISSPERP,IT1.TLISSPERM,TLISSQTYP=0,TLISSQTYM=0
INTO #BOMDET1 FROM ITEM WI 
INNER JOIN IT_MAST IT ON (WI.IT_CODE=IT.IT_CODE)
INNER JOIN BOMHEAD H ON (WI.BOMID=H.BOMID AND WI.BOMLEVEL=H.BOMLEVEL)
INNER JOIN BOMDET D ON (H.BOMID=D.BOMID AND H.BOMLEVEL=D.BOMLEVEL)
INNER JOIN IT_MAST IT1 ON (D.RMITEMID=IT1.IT_CODE )
WHERE WI.ENTRY_TY=@AENTRY_TY AND WI.TRAN_CD=@ATRAN_CD AND WI.ITSERIAL=@AITSERIAL AND D.RMITEMID=@RMITEMID

UPDATE #BOMDET1 SET IQTY=0,BALQTY=0,SQTYM=0,SQTY=0


SELECT I.IT_CODE          
,SQTYM=SUM(CASE WHEN M.[RULE] IN ('MODVATABLE','ANNEXURE IV') THEN (ISNULL(CASE WHEN PMKEY='+' THEN I.QTY ELSE -I.QTY END,0)) ELSE 0 END) 
,SQTY=SUM(CASE WHEN M.[RULE] NOT IN ('MODVATABLE','ANNEXURE IV') THEN (ISNULL(CASE WHEN PMKEY='+' THEN I.QTY ELSE -I.QTY END,0)) ELSE 0 END) 
INTO #IT_BAL FROM STKL_VW_ITEM I
INNER JOIN STKL_VW_MAIN M ON (M.TRAN_CD=I.TRAN_CD AND M.ENTRY_TY=I.ENTRY_TY)
WHERE NOT (I.ENTRY_TY=@ENTRY_TY AND I.TRAN_CD=@TRAN_CD)
and i.dc_no='' 
GROUP BY I.IT_CODE


UPDATE A SET A.SQTYM=B.SQTYM,A.SQTY=B.SQTY FROM  #BOMDET1 A INNER JOIN #IT_BAL B ON (A.RMITEMID=B.IT_CODE)


SELECT B.IT_CODE,B.BOMID,B.BOMLEVEL,IQTY=SUM(ISNULL(B.QTY,0)),AENTRY_TY,ATRAN_CD,AITSERIAL INTO #PROJECTITREF FROM PROJECTITREF B  WHERE NOT (ENTRY_TY=@ENTRY_TY AND TRAN_CD=@TRAN_CD ) AND ENTRY_TY='IP' AND AENTRY_TY=@AENTRY_TY AND ATRAN_CD=@ATRAN_CD AND ITSERIAL=@AITSERIAL GROUP BY B.IT_CODE,B.BOMID,B.BOMLEVEL,AENTRY_TY,ATRAN_CD,AITSERIAL 

UPDATE A SET A.IQTY=B.IQTY FROM  #BOMDET1 A INNER JOIN #PROJECTITREF B ON (A.BOMID=B.BOMID AND A.BOMLEVEL=B.BOMLEVEL AND A.ENTRY_TY=B.AENTRY_TY AND A.TRAN_CD=B.ATRAN_CD AND A.ITSERIAL=B.AITSERIAL AND A.RMITEMID=B.IT_CODE)

UPDATE #BOMDET1 SET BALQTY=REQTY-IQTY,AQTY=0

--DELETE FROM #BOMDET1 WHERE BALQTY=0


UPDATE #BOMDET1 SET TLISSPERP=(CASE WHEN ISNULL(TLISSPERP,0)=0 THEN 0 ELSE TLISSPERP END),TLISSPERM=(CASE WHEN ISNULL(TLISSPERM,0)=0 THEN 0 ELSE TLISSPERM END)
UPDATE #BOMDET1 SET TLISSQTYP=(REQTY*TLISSPERP)/100,TLISSQTYM=((REQTY*TLISSPERP)/100)

select REQTY,IQTY,BALQTY,SQTYM,SQTY,AQTY,TLISSQTYP,TLISSQTYM from #bomdet1 a 










