set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

ALTER Procedure [dbo].[USP_Crystal_trialbalance]
As 
Declare @Tblvar Varchar(20)
select @Tblvar = OBJECT_ID('Tempdb..#Curprint')
If @Tblvar <> '' And @Tblvar Is Not Null
Begin
	Drop Table #Curprint 
End
Declare @Balance Numeric(17,2),@Level Int,@OpDrcr CHAR(2),@CLDrcr CHAR(2)
DECLARE @OrderLevel VarChar(50),@TotalRecLine Char(1)
Select @Balance = 0
Select @Level = 0
Select @TotalRecLine = 'N'
Select @TotalRecLine as TotalRecLine,@OrderLevel as OrderLevel,@Level As [Level],' ' As MainFlg,Ac_Group_Id as Ac_Id,gAC_id as Ac_Group_Id,AC_GROUP_NAME as Ac_Name,[Group],@Balance As OpBal,@OPDrcr As OPDrcr ,@Balance As Debit,@Balance As Credit,@Balance As ClBal,@CLDrcr as CLDrcr Into #Curprint From Ac_Group_Mast Where 1 = 2 
Select * From #Curprint
