set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




ALTER PROCEDURE [dbo].[USP_REP_FSMV_IT]
@p_SDATE SMALLDATETIME,@p_EDATE SMALLDATETIME
AS
	SET NOCOUNT ON
	----TAKING ITEM FROM AC NAME,	OSQTY (on @SDATE)=OpStock - SALES + O/P FR PROD,
		---PDQTY(between @SDATE & @EDATE),	SLQTY(between @SDATE & @EDATE		INTO #IT_MV
	SELECT B.ITEM,
		AddQty=isnull((CASE WHEN B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE INV_STK='+') AND
						B.DATE BETWEEN CAST('04/01/'+CAST((CASE WHEN month(@p_SDATE)>3 THEN year(@p_SDATE) ELSE year(@p_SDATE)+1 END) AS VARCHAR) AS SMALLDATETIME) AND @p_SDATE
					THEN B.QTY END),0),
		LessQty=isnull((CASE WHEN B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE INV_STK='-') AND
						B.DATE BETWEEN CAST('04/01/'+CAST((CASE WHEN month(@p_SDATE)>3 THEN year(@p_SDATE) ELSE year(@p_SDATE)+1 END) AS VARCHAR) AS SMALLDATETIME) AND @p_SDATE
					THEN B.QTY END),0)
	INTO #OS1
	FROM UVW_ITEM B
	ORDER BY B.ITEM

	SELECT B.ITEM,B.WARE_NM,B.DEPT,
		PDqty=isnull((CASE WHEN B.ENTRY_TY ='OP' OR
						B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM LIKE 'OP')
					THEN B.QTY END),0),
		SLqty=isnull((CASE WHEN B.ENTRY_TY ='ST' OR
						B.ENTRY_TY IN (SELECT ENTRY_TY FROM LCODE WHERE BCODE_NM LIKE 'ST')
					THEN B.QTY END),0)
	INTO #OS2
	FROM UVW_ITEM B
	WHERE B.DATE BETWEEN @p_SDATE AND @p_EDATE
	ORDER BY B.ITEM,B.WARE_NM,B.DEPT

	SELECT A.ITEM,
		OSqty=CAST(isnull((SELECT sum(QTY) FROM OSITEM WHERE ITEM LIKE A.ITEM AND DATE <@p_SDATE),0)
			+isnull((SELECT sum(AddQty) FROM #OS1 WHERE ITEM LIKE A.ITEM),0)
			-isnull((SELECT sum(LessQty) FROM #OS1 WHERE ITEM LIKE A.ITEM),0) AS VARCHAR),
		A.WARE_NM,
		A.DEPT,
		PDqty=sum(A.PDqty),
		SLqty=sum(A.SLqty)
	FROM #OS2 A
	GROUP BY A.ITEM,A.WARE_NM,A.DEPT
	HAVING SUM(A.SLqty)>0
	ORDER BY sum(A.SLqty) DESC

	DROP TABLE #OS1



