set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go




-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful in Pickup OP entries from work order.
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================
ALTER PROCEDURE [dbo].[USP_ENT_DcStItemAllocation] 
@ENTRY_TY  VARCHAR(2),@TRAN_CD  INT,@IT_CODE int,@SDATE SMALLDATETIME,@DENTRY_TY VARCHAR(2),@DTRAN_CD INT,@DITSERIAL VARCHAR(5)
AS

SELECT 0 as sel,A.ENTRY_TY,A.TRAN_CD,B.DATE,A.IT_CODE,A.BATCHNO,A.MFGDT,A.EXPDT,A.ITSERIAL,B.INV_NO,B.CATE,C.IT_NAME
,ORGQTY=QTY,ADJQTY=QTY,BALQTY=QTY,QTY,A.AENTRY_TY,A.ATRAN_CD,A.AITSERIAL,A.SERIALNO,A.ASERIAL
INTO #BALITEM
FROM PROJECTITREF A
INNER JOIN STKL_VW_MAIN B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)
INNER JOIN IT_MAST C ON (A.IT_CODE=C.IT_CODE)
WHERE A.ENTRY_TY=@DENTRY_TY AND A.TRAN_CD=@DTRAN_CD AND A.ITSERIAL=@DITSERIAL

UPDATE #BALITEM SET ADJQTY=0,QTY=0

--DECLARE @SQLCOMMAND NVARCHAR(4000)
--SET @SQLCOMMAND='INSERT INTO #BALITEM'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT 0 as sel,A.ENTRY_TY,A.TRAN_CD,A.DATE,A.IT_CODE,A.BATCHNO,A.MFGDT,A.EXPDT,A.ITSERIAL,B.INV_NO,B.CATE,C.IT_NAME'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+',ORGQTY=QTY,ADJQTY=0,BALQTY=QTY,QTY=0'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'FROM STKL_VW_ITEM A'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN STKL_VW_MAIN B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'INNER JOIN IT_MAST C ON (A.IT_CODE=C.IT_CODE)'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'WHERE A.ENTRY_TY='+CHAR(39)+@DENTRY_TY+CHAR(39)+' AND A.TRAN_CD='+@DTRAN_CD+' A.ITSERIAL='++CHAR(39)+@DITSERIAL+CHAR(39)

--PRINT @SQLCOMMAND
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

--SELECT AENTRY_TY,ATRAN_CD,AITSERIAL,AQTY=SUM(AQTY) INTO #projectitref FROM  projectitref WHERE (1=2) GROUP BY AENTRY_TY,ATRAN_CD,AITSERIAL 

SELECT AENTRY_TY,ATRAN_CD,AITSERIAL,AQTY=SUM(AQTY)
INTO #projectitref
FROM  projectitref 
WHERE  NOT (ENTRY_TY =@ENTRY_TY AND TRAN_CD =@TRAN_CD)
GROUP BY AENTRY_TY,ATRAN_CD,AITSERIAL

--SET @SQLCOMMAND='INSERT INTO #projectitref'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'SELECT AENTRY_TY,ATRAN_CD,AITSERIAL,AQTY=SUM(AQTY)  FROM  projectitref ' 
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'WHERE  NOT (ENTRY_TY ='+char(39)+@ENTRY_TY+char(39)
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'AND TRAN_CD ='+cast(@TRAN_CD as varchar)+')'
--SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+'GROUP BY AENTRY_TY,ATRAN_CD,AITSERIAL'
--PRINT @SQLCOMMAND
--EXECUTE SP_EXECUTESQL @SQLCOMMAND

--UPDATE A SET  A.ADJQTY=ISNULL(B.AQTY,0),A.BALQTY=A.ORGQTY-ISNULL(B.AQTY,0) FROM #BALITEM A INNER JOIN #projectitref B ON (A.ENTRY_TY=B.AENTRY_TY AND A.TRAN_CD=B.ATRAN_CD AND A.ITSERIAL=B.AITSERIAL)

SELECT * FROM #BALITEM










