set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



-- =============================================
-- Author:		Ruepesh Prajapati
-- Create date: 16/05/2007
-- Description:	This is useful for Itemwise Batchwise Stock Ledger.
-- Modify date: 21/05/2008
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================


ALTER PROCEDURE [dbo].[USP_REP_ILEDGER_B]
	@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),
	@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
	@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),
	@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
	@SAMT NUMERIC,@EAMT NUMERIC,
	@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
	@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),
	@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
	@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
	@FINYR NVARCHAR(20),@EXTPAR NVARCHAR(60)
	AS
Declare @FCON as NVARCHAR(4000),@SQLCOMMAND as NVARCHAR(4000)
	Declare @OPENTRIES as VARCHAR(50),@OPENTRY_TY as VARCHAR(50)
	Declare @TBLNM as VARCHAR(50),@TBLNAME1 as VARCHAR(50),@TBLNAME2 as VARCHAR(50)
	
	EXECUTE USP_REP_FILTCON 
		@VTMPAC=null,@VTMPIT=@TMPIT,@VSPLCOND=@SPLCOND,
		@VSDATE=null,@VEDATE=@EDATE,
		@VSAC =null,@VEAC =null,
		@VSIT=@SITEM,@VEIT=@EITEM,
		@VSAMT=null,@VEAMT=null,
		@VSDEPT=@SDEPT,@VEDEPT=@EDEPT,
		@VSCATE =@SCAT,@VECATE =@ECAT,
		@VSWARE =@SWARE,@VEWARE  =@EWARE,
		@VSINV_SR =@SINVSR,@VEINV_SR =@EINVSR,
		@VMAINFILE='MVW',@VITFILE='IVW',@VACFILE=null,
		@VDTFLD = 'DATE',@VLYN=null,@VEXPARA=@EXTPAR,
		@VFCON =@FCON OUTPUT

	SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,IVW.QTY,IVW.DC_NO,IVW.WARE_NM,MVW.INV_NO,LCODE.INV_STK,IVW.BATCHNO,IVW.MFGDT,IVW.EXPDT
	,AC_MAST.AC_ID,AC_MAST.AC_NAME,IT_MAST.IT_CODE,IT_MAST.IT_NAME,IT_MAST.RATEUNIT
	,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END)
	INTO #TITEM1 FROM STKL_VW_ITEM IVW (NOLOCK)
	INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
	INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
	INNER JOIN LMAIN_VW MVW (NOLOCK) 
	ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY
	INNER JOIN LCODE (NOLOCK) 
	ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN ('+','-')
	WHERE 1=2

		

	SET @SQLCOMMAND = 'INSERT INTO #TITEM1 SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,IVW.QTY,IVW.DC_NO,IVW.WARE_NM,MVW.INV_NO,LCODE.INV_STK,IVW.BATCHNO,IVW.MFGDT,IVW.EXPDT
		,AC_MAST.AC_ID,AC_MAST.AC_NAME,IT_MAST.IT_CODE,IT_MAST.IT_NAME,IT_MAST.RATEUNIT
		,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END)
		FROM STKL_VW_ITEM IVW (NOLOCK)
		INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
		INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
		INNER JOIN LMAIN_VW MVW (NOLOCK) 
		ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY
		INNER JOIN LCODE (NOLOCK) 
		ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN ('+CHAR(39)+'+'+CHAR(39)+','+CHAR(39)+'-'+CHAR(39)+')'+RTRIM(@FCON) 
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND IVW.BATCHNO<>'+CHAR(39)+SPACE(1)+CHAR(39)+ ' AND IT_MAST.[TYPE] LIKE '+CHAR(39)+'%FINISHED%'+CHAR(39)+' AND IVW.ENTRY_TY NOT IN('+CHAR(39)+'ST'+CHAR(39)+','+CHAR(39)+'DC'+CHAR(39)+') AND IVW.DC_NO=SPACE(1)'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	SET @SQLCOMMAND = 'INSERT INTO #TITEM1 SELECT IVW.TRAN_CD,IVW.ENTRY_TY,IVW.DATE,IVW.ITSERIAL,PROJECTITREF.QTY,IVW.DC_NO,IVW.WARE_NM,MVW.INV_NO,LCODE.INV_STK,PROJECTITREF.BATCHNO,PROJECTITREF.MFGDT,PROJECTITREF.EXPDT
		,AC_MAST.AC_ID,AC_MAST.AC_NAME,IT_MAST.IT_CODE,IT_MAST.IT_NAME,IT_MAST.RATEUNIT
		,BEH=(CASE WHEN LCODE.EXT_VOU=1 THEN LCODE.BCODE_NM ELSE LCODE.ENTRY_TY END)
		FROM PROJECTITREF
		INNER JOIN STKL_VW_ITEM  IVW ON (IVW.TRAN_CD=PROJECTITREF.TRAN_CD AND IVW.ENTRY_TY=PROJECTITREF.ENTRY_TY AND IVW.ITSERIAL=PROJECTITREF.ITSERIAL)
		INNER JOIN AC_MAST (NOLOCK) ON IVW.AC_ID = AC_MAST.AC_ID
		INNER JOIN IT_MAST (NOLOCK) ON IVW.IT_CODE = IT_MAST.IT_CODE
		INNER JOIN LMAIN_VW MVW (NOLOCK) 
		ON IVW.TRAN_CD = MVW.TRAN_CD AND IVW.ENTRY_TY = MVW.ENTRY_TY
		INNER JOIN LCODE (NOLOCK) 
		ON IVW.ENTRY_TY = LCODE.ENTRY_TY AND LCODE.INV_STK IN ('+CHAR(39)+'+'+CHAR(39)+','+CHAR(39)+'-'+CHAR(39)+')'+RTRIM(@FCON)
	SET @SQLCOMMAND=RTRIM(@SQLCOMMAND)+' '+' AND PROJECTITREF.BATCHNO<>'+CHAR(39)+SPACE(1)+CHAR(39)+ ' AND IT_MAST.[TYPE] LIKE '+CHAR(39)+'%FINISHED%'+CHAR(39)+' AND PROJECTITREF.ENTRY_TY IN('+CHAR(39)+'ST'+CHAR(39)+','+CHAR(39)+'DC'+CHAR(39)+') AND IVW.DC_NO=SPACE(1)'

	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND




	SELECT TRAN_CD=0,ENTRY_TY=' '
	,DATE=@SDATE
	,QTY=IsNull(sum(CASE WHEN TVW.INV_STK = '+' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END),0)
	 -IsNull(sum(CASE WHEN TVW.INV_STK = '-' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END),0)
	,ITSERIAL=' ',WARE_NM=' ',INV_NO=' ',AC_ID=0,AC_NAME='Balance B/f',INV_STK=' '
	,TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT
	,TVW.BATCHNO,TVW.MFGDT,TVW.EXPDT
	INTO #TITEM2 
	FROM  #TITEM1 TVW
	WHERE ((TVW.DATE < @SDATE) OR TVW.BEH IN ('OS')) 
	GROUP BY TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT,TVW.BATCHNO,TVW.MFGDT,TVW.EXPDT
	UNION ALL
	SELECT TVW.TRAN_CD,TVW.ENTRY_TY,TVW.DATE
	,QTY=IsNull(CASE WHEN TVW.INV_STK = '+' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END,0)
		  -IsNull(CASE WHEN TVW.INV_STK = '-' AND IsNull(TVW.DC_NO,' ') = ' ' THEN TVW.QTY END,0)
	,TVW.ITSERIAL,TVW.WARE_NM,TVW.INV_NO,TVW.AC_ID,TVW.AC_NAME,TVW.INV_STK
	,TVW.IT_CODE,TVW.IT_NAME,TVW.RATEUNIT
	,TVW.BATCHNO,TVW.MFGDT,TVW.EXPDT
	FROM #TITEM1 TVW
	WHERE ((TVW.DATE BETWEEN @SDATE AND @EDATE) AND TVW.ENTRY_TY NOT IN ('OS'))


SELECT TVW.* FROM #TITEM2 TVW	WHERE TVW.QTY <> 0 	ORDER BY TVW.IT_NAME,TVW.BATCHNO,TVW.DATE,TVW.INV_STK
EXECUTE SP_EXECUTESQL @SQLCOMMAND

DROP TABLE #TITEM1
DROP TABLE #TITEM2


