set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

-- =============================================
-- Author:		Ruepesh Prajapati.
-- Create date: 16/05/2007
-- Description:	This Stored procedure is useful in OP Entries
-- Modify date: 16/05/2007
-- Modified By: 
-- Modify date: 
-- Remark:
-- =============================================

ALTER PROCEDURE [dbo].[USP_ENT_CHK_OP_ALLOCATION]
@ENTRY_TY VARCHAR(2),@TRAN_CD INT ,@IT_CODE INT,@ITSERIAL VARCHAR(5)
,@AENTRY_TY VARCHAR(2),@ATRAN_CD INT ,@AITSERIAL VARCHAR(5)
AS

SELECT SEL=0,I.INV_NO,I.DATE,I.IT_CODE,IT.IT_NAME,ORGQTY=I.QTY,ALLQTY=I.QTY,QTY,BALQTY=QTY,ENTRY_TY,TRAN_CD,ITSERIAL,BOMID,BOMLEVEL,WIPQTY=I.QTY
,TLRECPERP=ISNULL(IT.TLRECPERP,0),TLRECPERM=ISNULL(IT.TLRECPERM,0),TLRECQTYP=I.QTY,TLRECQTYM=I.QTY
INTO #WKOPITEM
FROM ITEM I
INNER JOIN IT_MAST IT ON (I.IT_CODE=IT.IT_CODE)
WHERE I.ENTRY_TY=@AENTRY_TY AND I.TRAN_CD=@ATRAN_CD AND I.ITSERIAL=@AITSERIAL

UPDATE #WKOPITEM SET ALLQTY=0,QTY=0,BALQTY=0,WIPQTY=0,TLRECQTYP=0,TLRECQTYM=0
-->Calculate Allocated Quantity
	
	select aentry_ty,atran_cd,aitserial,qty=sum(qty) into #PROJECTITREF from PROJECTITREF b  WHERE NOT (ENTRY_TY=@ENTRY_TY AND TRAN_CD=@TRAN_CD) AND ENTRY_TY='OP' AND AENTRY_TY=@AENTRY_TY AND ATRAN_CD=@ATRAN_CD AND AITSERIAL=@AITSERIAL group by aentry_ty,atran_cd,aitserial	
	update a SET ALLQTY=b.qty from #WKOPITEM a inner join #PROJECTITREF b on (a.entry_ty=b.aentry_ty and a.tran_cd=b.atran_cd and a.itserial=b.aitserial)
	update #WKOPITEM SET BALQTY=ORGQTY-ALLQTY
--<Calculate Allocated Quantity
SELECT INV_NO,IT_NAME,IT_CODE,ORGQTY,ENTRY_TY,TRAN_CD,ITSERIAL,BOMID,BOMLEVEL INTO #WKOPITEM1 FROM #WKOPITEM

SELECT A.INV_NO,A.IT_NAME,A.IT_CODE,A.ORGQTY,A.ENTRY_TY,A.TRAN_CD,A.ITSERIAL,A.BOMID,A.BOMLEVEL
,C.RMQTY ,B.FGQTY,C.RMITEMID,C.RMITEM
,REQQTY=(A.ORGQTY*C.RMQTY)/B.FGQTY
,ISSUEDQTY=B.FGQTY,WIPQTY=B.FGQTY
INTO  #WKOPITEM2
FROM #WKOPITEM1 A 
INNER JOIN BOMHEAD B ON (A.BOMID=B.BOMID AND A.BOMLEVEL=B.BOMLEVEL)
INNER JOIN BOMDET C ON (C.BOMID=B.BOMID AND C.BOMLEVEL=B.BOMLEVEL)
ORDER BY A.TRAN_CD

UPDATE #WKOPITEM2 SET ISSUEDQTY=0,WIPQTY=0 
SELECT A.BOMID,A.BOMLEVEL,A.IT_CODE,A.ITEM,A.QTY,B.ENTRY_TY,B.TRAN_CD,B.ITSERIAL,B.AENTRY_TY,B.ATRAN_CD,B.AITSERIAL INTO #IBAL1 FROM IPITEM A INNER JOIN PROJECTITREF B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.ITSERIAL=B.ITSERIAL) WHERE AENTRY_TY=@AENTRY_TY AND ATRAN_CD=@ATRAN_CD AND AITSERIAL=@AITSERIAL

UPDATE A SET ISSUEDQTY=QTY FROM #WKOPITEM2 A INNER JOIN #IBAL1 B ON (A.ENTRY_TY=B.AENTRY_TY AND A.TRAN_CD=B.ATRAN_CD AND A.ITSERIAL=B.AITSERIAL AND B.IT_CODE=A.RMITEMID)

UPDATE #WKOPITEM2 SET WIPQTY =(ORGQTY*ISSUEDQTY)/REQQTY
SELECT ENTRY_TY,TRAN_CD,ITSERIAL,IT_CODE,WIPQTY=MIN(WIPQTY) INTO #WKOPITEM3 FROM #WKOPITEM2 GROUP BY ENTRY_TY,TRAN_CD,ITSERIAL,IT_CODE ORDER BY ENTRY_TY,TRAN_CD,ITSERIAL,IT_CODE

-->Calculate WIP Quantity
	UPDATE A SET A.WIPQTY=B.WIPQTY-A.ALLQTY FROM #WKOPITEM A INNER JOIN #WKOPITEM3 B ON (A.ENTRY_TY=B.ENTRY_TY AND A.TRAN_CD=B.TRAN_CD AND A.ITSERIAL =B.ITSERIAL) --,IT_CODE
--<Calculate WIP Quantity
UPDATE #WKOPITEM SET tlrecqtyp=(orgqty*tlrecperp)/100,tlrecqtym=(orgqty*tlrecperm)/100

delete from #WKOPITEM where WIPQTY<=0
delete from #WKOPITEM where balqty-tlrecqtym<=0

SELECT  IT_CODE,ORGQTY,ALLQTY,BALQTY,WIPQTY,ENTRY_TY,TRAN_CD,ITSERIAL,TLRECQTYP,TLRECQTYM FROM #WKOPITEM A

DROP TABLE  #IBAL1
DROP TABLE  #WKOPITEM1
DROP TABLE  #WKOPITEM2
DROP TABLE  #WKOPITEM3










