set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

  
  
ALTER     PROCEDURE [dbo].[USP_REP_ITEM_LIST]
@TMPAC NVARCHAR(60),@TMPIT NVARCHAR(60),@SPLCOND NVARCHAR(500),@SDATE SMALLDATETIME,@EDATE SMALLDATETIME,
@SNAME NVARCHAR(60),@ENAME NVARCHAR(60),@SITEM NVARCHAR(60),@EITEM NVARCHAR(60),
@SAMT NUMERIC,@EAMT NUMERIC,
@SDEPT NVARCHAR(60),@EDEPT NVARCHAR(60),
@SCAT NVARCHAR(60),@ECAT NVARCHAR(60),@SINVSR NVARCHAR(60),@EINVSR NVARCHAR(60),
@SWARE NVARCHAR(60),@EWARE NVARCHAR(60),
@FINYR NVARCHAR(20), @EXTPAR NVARCHAR(60)
AS
	SET NOCOUNT ON
	--------- STORED PROC FOR ACCOUNT MASTER LIST ----------


	DECLARE @QryStr NVARCHAR(4000)

	SET @QryStr='SELECT IT_NAME,IT_DESC,RATEPER,RATEUNIT,RATE,CURR_COST,REORDER FROM IT_MAST'

	IF @TMPIT<>''			---TABLE CONTAINING AC_NAMES IN CASE TMPAC(AC GROUP) NOT BLANK
	BEGIN
		SET @QryStr=rtrim(@QryStr)+CHAR(13)+'WHERE IT_NAME IN (SELECT IT_NAME FROM '+@TMPIT+')'+CHAR(13)+
			'ORDER BY IT_NAME'
	END
	ELSE
	BEGIN
		SET @QryStr=rtrim(@QryStr)+CHAR(13)+'WHERE IT_NAME BETWEEN '+CHAR(39)+@SITEM+CHAR(39)+' AND '+CHAR(39)+@EITEM+CHAR(39)+CHAR(13)+
			'ORDER BY IT_NAME'
	END

	execute sp_executesql @QryStr

