set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


ALTER PROCEDURE [dbo].[USP_ENT_CHK_ACGROUP]  
@GRP VARCHAR(100),@FLDLST VARCHAR(100)
AS
DECLARE @GRPID AS INT,@MCOND AS BIT,@LVL  AS INT,@SQLCOMMAND NVARCHAR(200)
SET @MCOND=1
CREATE TABLE #ACGRPID (GACID DECIMAL(9),LVL DECIMAL(9))
SET @LVL=0
INSERT INTO #ACGRPID SELECT AC_GROUP_ID,@LVL  FROM AC_GROUP_MAST WHERE AC_GROUP_NAME=@GRP
WHILE @MCOND=1
BEGIN
	IF EXISTS (SELECT AC_GROUP_ID FROM AC_GROUP_MAST WHERE GAC_ID IN (SELECT DISTINCT GACID  FROM #ACGRPID WHERE LVL=@LVL)) --WHERE LVL=@LVL
	BEGIN
		PRINT @LVL
		INSERT INTO #ACGRPID SELECT AC_GROUP_ID,@LVL+1 FROM AC_GROUP_MAST WHERE GAC_ID IN (SELECT DISTINCT GACID  FROM #ACGRPID WHERE LVL=@LVL)
		SET @LVL=@LVL+1
	END
	ELSE
	BEGIN
		SET @MCOND=0	
	END
END

SET @SQLCOMMAND='SELECT DISTINCT '+RTRIM(@FLDLST)+' FROM AC_MAST WHERE AC_GROUP_ID IN (SELECT DISTINCT GACID FROM #ACGRPID)'
--SET @SQLCOMMAND='SELECT DISTINCT top 1 '+RTRIM(@FLDLST)+' FROM AC_MAST WHERE AC_GROUP_ID IN (SELECT DISTINCT GACID FROM #ACGRPID)'
PRINT @SQLCOMMAND
EXECUTE SP_EXECUTESQL @SQLCOMMAND
--EXECUTE USP_ENT_CHK_ACGROUP 'SUNDRY CREDITORS',' AC_NAME AS BUYER,ADD1,ADD2,ADD3,CITY '
--SELECT DISTINCT AC_NAME AS BUYER,ADD1,ADD2,ADD3,CITY FROM AC_MAST WHERE AC_GROUP_ID IN (SELECT DISTINCT GACID FROM #ACGRPID)

