If Exists (Select [Name] From SysObjects Where xType='P' and [Name]='USP_ENT_AmendedRate_OpenOrd')
Begin
	Drop Procedure USP_ENT_AmendedRate_OpenOrd
end
Go
Create Procedure [dbo].[USP_ENT_AmendedRate_OpenOrd]
@Entry_ty Varchar(2)
as 

SELECT Entry_ty,Tran_cd,Itserial,Amend_No=0, 
	Rate = MAX(CASE WHEN tbl_fld = 'RATE' THEN CONVERT(NUMERIC(18,2), Old_value) END),
	EffectDt = MAX(CASE WHEN tbl_fld='EFFECTDT' THEN CONVERT(SMALLDATETIME, Old_value,103) END)
	Into #tmpRate FROM AMEND_DETAIL 
		WHERE Amend_no=1 and Entry_ty='OO' 
			GROUP BY Entry_ty,Tran_cd,Itserial 
	Union all 
SELECT Entry_ty,Tran_cd,Itserial,Amend_No, 
	Rate = MAX(CASE WHEN tbl_fld = 'RATE' THEN CONVERT(NUMERIC(18,2), New_Value) END), 
	EffectDt = MAX(CASE WHEN tbl_fld='EFFECTDT' THEN CONVERT(SMALLDATETIME, New_Value,103) END) 
	FROM AMEND_DETAIL 
		Where Entry_ty='OO'  
			GROUP BY Entry_ty,Tran_cd,Itserial,Amend_No 
				Order by Entry_ty,Tran_cd,Itserial,amend_no 


CREATE INDEX Idx_ETI on #tmpRate (Entry_ty, Tran_cd,Itserial)

If @Entry_ty='SO'
Begin
	Select * from #tmpRate Order by Entry_ty,Tran_cd,Itserial,Amend_no
End

If @Entry_ty='ST'
Begin
	Select 
	Item.Entry_ty,Item.Tran_cd,Item.Itserial,tbl.Amend_No,tbl.Rate,tbl.EffectDt 
	,oEntry_ty=tbl.Entry_ty,oTran_cd=tbl.Tran_cd,oItserial=tbl.Itserial
	from Soitem Item
	Inner Join SoItref itref On (itref.Entry_ty=Item.Entry_ty and itref.Tran_cd=Item.Tran_cd and itref.Itserial=Item.Itserial)
	Inner Join #tmpRate tbl on (tbl.Entry_ty=itref.rEntry_ty and tbl.Tran_cd=itref.Itref_tran and tbl.Itserial=itref.ritserial)
	Where Item.Entry_ty='SO' 
		Group By Item.Entry_ty,Item.Tran_cd,Item.Itserial,tbl.Amend_No,tbl.Rate,tbl.EffectDt,tbl.Entry_ty,tbl.Tran_cd,tbl.Itserial 
			Order by Item.Entry_ty,Item.Tran_cd,Item.Itserial,tbl.amend_no 

	
End


