if exists(select [name] from sysobjects where [name]='USP_REP_Depretiation_Schedule_Report' and xtype='P')
drop procedure USP_REP_Depretiation_Schedule_Report

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- AUTHOR	  :	PANKAJ M BORSE.
-- CREATE DATE: 10/01/2013
-- DESCRIPTION:	THIS STORED PROCEDURE IS USEFUL TO GENERATE ACCOUNTS  USP_REP_DEPRETIATION_SCHEDULE_REPORT.
-- MODIFIED BY: Birendra for Bug-18417 on 19/10/2013
-- MODIFY DATE: 
-- REMARK:
-- =============================================
Create PROCEDURE  [dbo].[USP_REP_Depretiation_Schedule_Report]  
@TMPAC NVARCHAR(50),@TMPIT NVARCHAR(50),@SPLCOND VARCHAR(8000),@SDATE  SMALLDATETIME,@EDATE SMALLDATETIME
,@SAC AS VARCHAR(60),@EAC AS VARCHAR(60)
,@SIT AS VARCHAR(60),@EIT AS VARCHAR(60)
,@SAMT FLOAT,@EAMT FLOAT
,@SDEPT AS VARCHAR(60),@EDEPT AS VARCHAR(60)
,@SCATE AS VARCHAR(60),@ECATE AS VARCHAR(60)
,@SWARE AS VARCHAR(60),@EWARE AS VARCHAR(60)
,@SINV_SR AS VARCHAR(60),@EINV_SR AS VARCHAR(60)
,@LYN VARCHAR(20)
,@EXPARA  AS VARCHAR(60)= NULL
AS

DECLARE @IT_NAME VARCHAR(60),@METHODNM VARCHAR(30),@PIT_NAME VARCHAR(60),@PCHDATE1 VARCHAR(50)
--DECLARE @NOOFYR INT, @U_DEPRPER INT, @PVAL DECIMAL(12,2),@ORGVAL DECIMAL(12,2), @DEPR DECIMAL(12,2), @DEPR1 DECIMAL(12,2), @ADD1 INT, @DEL1 INT, @ADS INT, @BALPVAL INT, @STDAYS DECIMAL(12,2), @YR INT, @PCHVAL INT, @NETVAL INT, @OPEN_ASS_VAL INT, @PYEAR INT, @FRM_MONTH INT, @PCH_MONTH INT, @PCH_YEAR INT, @CM_YEAR INT, @FRM_YEAR INT, @TOT_DAYS INT, @AC_DEPR INT
--Birendra: Bug-18417
DECLARE @NOOFYR INT, @U_DEPRPER Decimal(10,2), @PVAL DECIMAL(12,2),@ORGVAL DECIMAL(12,2), @DEPR DECIMAL(12,2), @DEPR1 DECIMAL(12,2), @ADD1 INT, @DEL1 INT, @ADS INT, @BALPVAL DECIMAL(18,2), @STDAYS DECIMAL(12,2), @YR INT, @PCHVAL DECIMAL(18,2), @NETVAL DECIMAL(18,2), @OPEN_ASS_VAL DECIMAL(18,2), @PYEAR INT, @FRM_MONTH INT, @PCH_MONTH INT, @PCH_YEAR INT, @CM_YEAR INT, @FRM_YEAR INT, @TOT_DAYS INT, @AC_DEPR INT
DECLARE @BSDEPR INT,@TDEPR INT,@TOTALDAYS INT,@DIFFDAYS INT,@NOYEAR INT,@CNT INT,@CNT1 INT,@YEAR INT,@FVAL INT,@TEMPDAYS INT
DECLARE @RCNT INT,@RCNT1 INT, @DEPR2 DECIMAL(12,2),@DEPR3 INT,@BSDATE VARCHAR(15),@TEMPVAL DECIMAL(12,2),@TEMPDEPR DECIMAL(12,2)
DECLARE @SPERDEP DECIMAL(12,2),@ADDVALUE DOUBLE PRECISION,@LESSVALUE DOUBLE PRECISION,@ADD_VAL DOUBLE PRECISION,@DEL_VAL DOUBLE PRECISION,@CM_MONTH DOUBLE PRECISION,@PREV_DAYS DOUBLE PRECISION
DECLARE @CMDATE DATETIME, @PCHDATE DATETIME, @TEMPDATE DATETIME, @TDATE DATETIME,@ADDDATE DATETIME,@TEMP_DATE DATETIME
DECLARE @BALDAYS INT, @OPEN_DAYS INT,@BSTDT DATETIME,@TEMPASSVAL DECIMAL(12,2)
DECLARE @SQLCOMMAND NVARCHAR(4000),@TTDATE DATETIME,@bsdt1 datetime
Declare @leapday int,@PVAL1 DECIMAL(12,2),@year1 int,@day1 int,@DEPVAL1 DECIMAL(12,2),@PVAL2 DECIMAL(12,2),@year2 int,@day2 int,@DEPVAL2 DECIMAL(12,2) --Birendra :Bug-18417 on 01/10/2013:
BEGIN
create table #TEMP1 (
	[IT_NAME1] [varchar](50) NULL,
	[METHODNM] [varchar](50) NULL,
	[NOOFYR] [int] NULL,
	[DEPRPER] [decimal](10, 2) NULL,
	[COMNCDT] [datetime] NULL,
	[PVALUE] [decimal](15, 2) NULL,
	[Depreciation] [decimal](18, 2) NULL,
	[ADDITION] [decimal](18, 2) NULL,
	[DELETION] [decimal](18, 2) NULL,
	[BALPVAL] [decimal](18, 2) NULL,
	[OPEN_VALUE] [decimal](18, 2) NULL
)
--DELETE FROM TEMP1
DECLARE  IT_MAST12 CURSOR FOR SELECT IT_NAME,METHODNM,PVALUE,NOOFYR,DEPRPER,COMNCDT FROM IT_MAST WHERE METHODNM<>''
OPEN IT_MAST12
FETCH  NEXT FROM IT_MAST12 INTO @IT_NAME,@METHODNM,@PVAL,@NOOFYR,@U_DEPRPER,@CMDATE
WHILE @@FETCH_STATUS=0
BEGIN
      SET @DEPR = 0
	  SET @ADD_VAL = 0
	  SET @DEL_VAL = 0
  	  SET @PCHVAL=0
--************************* WDV **************************************

 IF (@METHODNM='WDV')
   BEGIN

	  SET @TOTALDAYS=DATEDIFF(D,@CMDATE,@EDATE)
	  SET @DIFFDAYS=DATEDIFF(D,@SDATE,@EDATE)
	  SET @NOYEAR=@TOTALDAYS
	  SET @CNT=0
	  SET @FVAL=0	
	  SET @YEAR=YEAR(@EDATE)
  	  SET @PCHVAL=@PVAL	
		WHILE(@NOYEAR>=0)
		 BEGIN
		   IF (((@YEAR % 4 = 0) AND (@YEAR % 100 != 0)) OR (@YEAR % 400 = 0))
			begin --Birendra :Bug-18417 on 01/10/2013:
				SET @NOYEAR=@NOYEAR-366
				set @leapday=366 --Birendra :Bug-18417 on 01/10/2013:
			end 
		   ELSE
			begin --Birendra :Bug-18417 on 01/10/2013:
				SET @NOYEAR=@NOYEAR-365
				set @leapday=365 --Birendra :Bug-18417 on 01/10/2013:
			end
		   IF ( @NOYEAR<0 AND @CNT=0)
				SET @CNT=1
		   ELSE
				SET @CNT=@CNT+1		
		 END
			IF @CNT>1
				SET @TOTALDAYS=@TOTALDAYS-(365*(@CNT-1))
		 SET @ADDDATE=@EDATE
		 SET @TEMPDATE=@CMDATE
--Birendra :Bug-18417 on 19/10/2013:Start:
		SET @ADDVALUE=0
		SET @LESSVALUE=0	
		set @year1 =((DATEDIFF(D,@CMDATE,@EDATE)+1)/365)
		set @day1= DATEDIFF(D,@CMDATE,@EDATE)-(@year1)*365
		set @pval1=0
		if @year1>0  
		set @pval1 =(@pval*power((1-@U_DEPRPER/100),@YEAR1))
		set @DEPVAL1=@pval-@pval1
		if @day1>1
		Begin
			set @pval1 =(@pval1- (@pval1*power((1-@U_DEPRPER/100),1)))*@day1/365
			set @DEPVAL1=@DEPVAL1+@pval1
		end
		    DECLARE #WDV CURSOR FOR SELECT PURCHASEDATE,ADDVALUE,LESSVALUE FROM ADDVL WHERE ASSETCODE=@IT_NAME
			OPEN #WDV
			FETCH #WDV INTO @PCHDATE1,@ADDVALUE,@LESSVALUE
			 WHILE @@FETCH_STATUS=0 
				BEGIN
					SET @PCHDATE=CONVERT(DATETIME,@PCHDATE1,105)	
					set @depval2=0
					set @year2 =((DATEDIFF(D,@PCHDATE,@EDATE)+1)/365)
					set @day2= DATEDIFF(D,@PCHDATE,@EDATE)-(@year2)*365
 				    SET @ADD_VAL = @ADD_VAL+@ADDVALUE
				    SET @DEL_VAL = @DEL_VAL+@LESSVALUE

					set @pval2=0
					if @year2>0  
					set @pval2 =((@ADDVALUE-@LESSVALUE)*power((1-@U_DEPRPER/100),@YEAR2))
					set @DEPVAL2=@ADDVALUE-@LESSVALUE-@pval2
--print @PCHDATE
--print @EDATE
--print DATEDIFF(D,@PCHDATE,@EDATE)
--
--print @year2
--print @day2
					if @day2>1
					Begin
						--set @pval2 =(@pval2- (@pval2*power((1-@U_DEPRPER/100),1)))*@day2/365
						set @DEPVAL2 =(@DEPVAL2- (@DEPVAL2*power((1-@U_DEPRPER/100),1)))*@day2/365
--						set @DEPVAL2=@DEPVAL2+@pval2
					end
					set @DepVal1=@Depval1+@Depval2
					set @PCHVAL=@PCHVAL+@ADDVALUE-@LESSVALUE

				 FETCH NEXT FROM #WDV INTO @PCHDATE1,@ADDVALUE,@LESSVALUE
				END
			CLOSE #WDV
			DEALLOCATE #WDV
		set @DEPR=@DepVal1
		SET @BALPVAL = @Pchval-@DEPR
		IF (@PVAL = @PCHVAL)
           SET @OPEN_ASS_VAL = @PCHVAL
        ELSE
            SET @OPEN_ASS_VAL = @PVAL


--Birendra :Bug-18417 on 19/10/2013:End:
--
--		 WHILE (@CNT>0)
--		  BEGIN
--			SET @ADDVALUE=0
--			SET @LESSVALUE=0		
--			SET @CNT1=0
--			SET @PVAL=@PVAL-@FVAL
--		    DECLARE #WDV CURSOR FOR SELECT PURCHASEDATE,ADDVALUE,LESSVALUE FROM ADDVL WHERE ASSETCODE=@IT_NAME
--			OPEN #WDV
--			FETCH #WDV INTO @PCHDATE1,@ADDVALUE,@LESSVALUE
--			SET @PCHDATE=CONVERT(DATETIME,@PCHDATE1,105)	
--			 WHILE @@FETCH_STATUS=0 AND @CNT1=0
--				BEGIN
--				  SET @TEMPDAYS=DATEDIFF(D,@EDATE,DATEADD(YYYY,1,@TEMPDATE))
--					IF(@ADDVALUE<>0 AND @ADDDATE>=@PCHDATE AND @PCHDATE<DATEADD(YYYY,1,@TEMPDATE) AND @PCHDATE>=@TEMPDATE)
--						BEGIN
--							SET @PVAL=@PVAL+@ADDVALUE
--							IF(MONTH(@ADDDATE)=MONTH(@PCHDATE) AND YEAR(@PCHDATE)=YEAR(@ADDDATE))
--								BEGIN
--								SET @ADD_VAL=@ADDVALUE
--								END
--							ELSE
--								SET @ADD_VAL=0
--						END
--					ELSE IF (@LESSVALUE<>0 AND @ADDDATE>=@PCHDATE AND @PCHDATE<DATEADD(YYYY,1,@TEMPDATE) AND @PCHDATE>=@TEMPDATE)
--						BEGIN
--							SET @PVAL=@PVAL-@LESSVALUE
--							IF(MONTH(@ADDDATE)=MONTH(@PCHDATE) AND YEAR(@PCHDATE)=YEAR(@ADDDATE))
--								SET @DEL_VAL=@LESSVALUE
--							ELSE
--								SET @DEL_VAL=0
--						END
--					ELSE
--						BEGIN
--                            SET @PVAL = @PVAL
--                            SET @CNT1 = 1
--                            SET @FVAL = @PVAL*@U_DEPRPER/100
--						END
--				 FETCH NEXT FROM #WDV INTO @PCHDATE1,@ADDVALUE,@LESSVALUE
--				 SET @PCHDATE=CONVERT(DATETIME,@PCHDATE1,105)
--				END
--			CLOSE #WDV
--			DEALLOCATE #WDV
--			SET @TEMPDATE = DATEADD(YYYY,1,@TEMPDATE)
--            SET @FVAL = @PVAL*@U_DEPRPER/100
--            SET @CNT = @CNT - 1
--		  END	
--
--		IF (@PVAL = @PCHVAL)
--           SET @OPEN_ASS_VAL = @PCHVAL
--        ELSE
--            SET @OPEN_ASS_VAL = @PVAL
--        IF (@TOTALDAYS <= 182)
--            SET @DEPR = (@PVAL*@U_DEPRPER/100)/2
--        ELSE
--            BEGIN
--				SET @DEPR = @PVAL*@U_DEPRPER/100
--			END
--        SET @PVAL = @PVAL - @DEPR
--        SET @BALPVAL = @PVAL	
	  INSERT INTO #TEMP1(IT_NAME1,METHODNM,NOOFYR,DEPRPER,PVALUE,DEPRECIATION,BALPVAL,OPEN_VALUE,ADDITION,DELETION,COMNCDT) VALUES(@IT_NAME,@METHODNM,@NOOFYR,@U_DEPRPER,@PCHVAL, @DEPR,@BALPVAL,@OPEN_ASS_VAL,@ADD_VAL,@DEL_VAL,@CMDATE)
   END

--************************* WDV END **************************************
--************************* STREIGHT LINE **************************************
--Birendra : Bug-18417 on 14/12/2013 :Start:
 IF (@METHODNM='STRAIGHT LINE')
   BEGIN
      SET @DEPR = 0
	  SET @ADD_VAL = 0
	  SET @DEL_VAL = 0
	  SET @OPEN_ASS_VAL=0
	  SET @SPERDEP=0	
	  SET @STDAYS=0	
	  SET @BALPVAL=0		
  	  SET @PCHVAL=@PVAL	
	  SET @TOTALDAYS=DATEDIFF(D,@CMDATE,@EDATE)
	  SET @DIFFDAYS=DATEDIFF(D,@SDATE,@EDATE)
	  SET @YEAR=YEAR(@CMDATE)	
	  SET @TEMPDEPR=0	
	  SET @NOYEAR=@TOTALDAYS+1	
	  SET @TEMP_DATE=@CMDATE
	  SET @TEMPASSVAL=0	
	  SET @CM_MONTH=MONTH(@CMDATE)
      SET @CM_YEAR=YEAR(@CMDATE) 	
	  set @CNT=0	
	  SET @ORGVAL=@PVAL
		WHILE(@NOYEAR>=0)
		 BEGIN
		   IF (((@YEAR % 4 = 0) AND (@YEAR % 100 != 0)) OR (@YEAR % 400 = 0))
			  BEGIN	
				SET @NOYEAR=@NOYEAR-366
				SET @CNT=@CNT+1	
              END
		   ELSE
			  BEGIN	
				SET @NOYEAR=@NOYEAR-365
				SET @CNT=@CNT+1		
			  END	
			SET @YEAR=@YEAR+1
		 END


	 SET @PYEAR=@NOOFYR

	 SET @YR=YEAR(@CMDATE)
	 SET @YEAR=YEAR(@CMDATE)
		WHILE(@PYEAR>0)
		 BEGIN
		   IF (((@YEAR % 4 = 0) AND (@YEAR % 100 != 0)) OR (@YEAR % 400 = 0))
				SET @STDAYS=@STDAYS+366
		   ELSE
			 BEGIN	
				SET @STDAYS=@STDAYS+365
			 END 
				SET @YR=@YR+1
				SET @PYEAR=@PYEAR-1	
				SET @YEAR=@YEAR+1	
		 END

	 SET @TOT_DAYS=@STDAYS
	 SET @RCNT=0
	 SET @RCNT1=0
	 SET @DEPR2=0
	 SET @DEPR3=0
	 SET @TDATE='2012-01-01'

	 SET @TDATE=DATEADD(M,MONTH(@CMDATE)-1,@TDATE)
     set @TDATE=DATEADD(YY,YEAR(@CMDATE)-YEAR(@TDATE),@TDATE)
	 SET @CM_YEAR=YEAR(@TDATE)
	 SET @CM_MONTH=MONTH(@TDATE)
	 SET @CNT=0

	 WHILE(@CM_YEAR<=YEAR(@EDATE) AND @CNT=0)

		BEGIN
		  SET @DIFFDAYS=DATEDIFF(D,@TEMP_DATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
		  SET @TOTALDAYS=DATEDIFF(D,@CMDATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
          SET @TEMPDATE = @TDATE
          SET @DEPR2 = 0
          SET @DEPR3 = 0
          SET @DEPR = 0

			DECLARE #STREIGHT CURSOR FOR SELECT ASSETCODE,PURCHASEDATE,ADDVALUE,LESSVALUE,COMMENCEDATE FROM ADDVL WHERE ASSETCODE=@IT_NAME
	 		OPEN #STREIGHT
			IF(@RCNT=0)
				BEGIN
					FETCH NEXT FROM #STREIGHT INTO @PIT_NAME,@PCHDATE1,@ADDVALUE,@LESSVALUE,@CMDATE
					SET @PCHDATE=CONVERT(DATETIME,@PCHDATE1,105)	
					SET @RCNT=@RCNT+1
					SET @RCNT1=@RCNT1+1
				END

		 SET @BALDAYS=0
		 IF(@ADDVALUE<>0 AND @CM_MONTH=MONTH(@PCHDATE) AND @CM_YEAR=YEAR(@PCHDATE) AND @PIT_NAME=@IT_NAME)	 	 		   	
			BEGIN
				SET @OPEN_ASS_VAL=@PVAL
				
				SET @OPEN_DAYS=DATEDIFF(D,@PCHDATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
				SET @SPERDEP=@PVAL/@STDAYS
				SET @DEPR=@TEMPDAYS*@SPERDEP
				SET @DEPR=(@DIFFDAYS+1)*@SPERDEP
                SET @DEPR2=@DEPR
                SET @SPERDEP=@ADDVALUE/@STDAYS
                SET @DEPR1=(@OPEN_DAYS+1)*@SPERDEP
                SET @DEPR=@DEPR1+@DEPR2
                SET @PVAL=@PVAL+@ADDVALUE
                SET @PVAL=@PVAL-@DEPR
                SET @BALPVAL=@PVAL
				IF(@PCHDATE>=@SDATE AND @PCHDATE<=@EDATE)
					SET @ADD_VAL=@ADD_VAL+@ADDVALUE
				ELSE
				BEGIN
					SET @ADD_VAL=@ADD_VAL+0						
				END
				set @PCHVAL=@PCHVAL+@ADDVALUE
				SET @RCNT=0
			END
		 ELSE IF(@LESSVALUE<>0 AND @CM_MONTH=MONTH(@PCHDATE) AND @CM_YEAR=YEAR(@PCHDATE) AND @PIT_NAME=@IT_NAME)
			BEGIN
				SET @OPEN_ASS_VAL=@PVAL
				SET @OPEN_DAYS=DATEDIFF(D,@PCHDATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
				SET @SPERDEP=@PVAL/@STDAYS
				SET @DEPR=@TEMPDAYS*@SPERDEP
				SET @DEPR=(@DIFFDAYS+1)*@SPERDEP
                SET @DEPR2=@DEPR
                SET @SPERDEP=@LESSVALUE/@STDAYS
                SET @DEPR1=(@OPEN_DAYS+1)*@SPERDEP
                SET @DEPR=@DEPR1+@DEPR2
                SET @PVAL=@PVAL+@LESSVALUE
                SET @PVAL=@PVAL-@DEPR
                SET @BALPVAL=@PVAL
				IF(@PCHDATE>=@SDATE AND @PCHDATE<=@EDATE)
					SET @DEL_VAL=@DEL_VAL+@LESSVALUE
				ELSE
					BEGIN
					SET @DEL_VAL=@DEL_VAL+0						
					END
				SET @RCNT=0
				set @PCHVAL=@PCHVAL-@LESSVALUE
			END
		 ELSE
			BEGIN

				IF(@TOTALDAYS<@DIFFDAYS)
					BEGIN
						SET @OPEN_ASS_VAL = @PVAL
                        SET @SPERDEP=@ORGVAL/@STDAYS
                        SET @DEPR=@TOTALDAYS*@SPERDEP
                        SET @PVAL=@PVAL-@DEPR
                        SET @BALPVAL=@PVAL
					END
				ELSE
					BEGIN
						SET @OPEN_ASS_VAL=@PVAL
                        SET @SPERDEP=ROUND(@ORGVAL/@STDAYS,4)
                        SET @DEPR=(@DIFFDAYS+1)*@SPERDEP
                        SET @PVAL=@PVAL-@DEPR
                        SET @BALPVAL=@PVAL
					END
			END	

		SET @TEMPDEPR=@TEMPDEPR+@DEPR
		IF(@TDATE<@SDATE)
			BEGIN
				SET @TEMPDEPR=0
			END	
		IF(@SDATE>=@TDATE AND @SDATE<=DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)) )
			BEGIN
				SET @TEMPASSVAL=@OPEN_ASS_VAL
			END

		IF (@CM_YEAR=YEAR(@EDATE) AND @CM_MONTH=MONTH(@EDATE))
		  BEGIN
			SET @CNT=1
		  END
		 SET @CM_MONTH=@CM_MONTH+1
		 IF(@CM_MONTH>12)
			BEGIN
				SET @CM_MONTH=1
			END	

		 SET @TEMP_DATE=DATEADD(M,1,@TEMP_DATE)
		 SET @TDATE=DATEADD(M,1,@TDATE)
		 SET @CM_YEAR=YEAR(@TEMP_DATE)	
 		 cLOSE #STREIGHT 
		 DEALLOCATE #STREIGHT

		END
		IF (DATEDIFF(D,@SDATE,@EDATE)>31)
			BEGIN
				SET @DEPR=@TEMPDEPR
			END	
		SET @OPEN_ASS_VAL=@TEMPASSVAL
	  INSERT INTO #TEMP1(IT_NAME1,METHODNM,NOOFYR,DEPRPER,PVALUE,DEPRECIATION,BALPVAL,OPEN_VALUE,ADDITION,DELETION,COMNCDT) VALUES(@IT_NAME,@METHODNM,@NOOFYR,@U_DEPRPER,@PCHVAL, @DEPR,@BALPVAL,@OPEN_ASS_VAL,@ADD_VAL,@DEL_VAL,@CMDATE)

   END

--Birendra : Bug-18417 on 14/12/2013 :End:
-- IF (@METHODNM='STRAIGHT LINE')
--   BEGIN
--      SET @DEPR = 0
--	  SET @ADD_VAL = 0
--	  SET @DEL_VAL = 0
--	  SET @OPEN_ASS_VAL=0
--	  SET @SPERDEP=0	
--	  SET @STDAYS=0	
--	  SET @BALPVAL=0		
--  	  SET @PCHVAL=@PVAL	
--	  SET @TOTALDAYS=DATEDIFF(D,@CMDATE,@EDATE)
--	  SET @DIFFDAYS=DATEDIFF(D,@SDATE,@EDATE)
--	  SET @YEAR=YEAR(@CMDATE)	
--	  SET @TEMPDEPR=0	
--	  SET @NOYEAR=@TOTALDAYS+1	
--	  SET @TEMP_DATE=@CMDATE
--	  SET @TEMPASSVAL=0	
--	  SET @CM_MONTH=MONTH(@CMDATE)
--      SET @CM_YEAR=YEAR(@CMDATE) 	
--	  set @CNT=0	
--	  SET @ORGVAL=@PVAL
--		WHILE(@NOYEAR>=0)
--		 BEGIN
--		   IF (((@YEAR % 4 = 0) AND (@YEAR % 100 != 0)) OR (@YEAR % 400 = 0))
--			  BEGIN	
--				SET @NOYEAR=@NOYEAR-366
--				SET @CNT=@CNT+1	
--              END
--		   ELSE
--			  BEGIN	
--				SET @NOYEAR=@NOYEAR-365
--				SET @CNT=@CNT+1		
--			  END	
--			SET @YEAR=@YEAR+1
--		 END
--
--
--	 SET @PYEAR=@NOOFYR
--
--	 SET @YR=YEAR(@CMDATE)
--	 SET @YEAR=YEAR(@CMDATE)
--		WHILE(@PYEAR>0)
--		 BEGIN
--		   IF (((@YEAR % 4 = 0) AND (@YEAR % 100 != 0)) OR (@YEAR % 400 = 0))
--				SET @STDAYS=@STDAYS+366
--		   ELSE
--			 BEGIN	
--				SET @STDAYS=@STDAYS+365
--			 END 
--				SET @YR=@YR+1
--				SET @PYEAR=@PYEAR-1	
--				SET @YEAR=@YEAR+1	
--		 END
--
--	 SET @TOT_DAYS=@STDAYS
--	 SET @RCNT=0
--	 SET @RCNT1=0
--	 SET @DEPR2=0
--	 SET @DEPR3=0
--	 SET @TDATE='2012-01-01'
--
--	 SET @TDATE=DATEADD(M,MONTH(@CMDATE)-1,@TDATE)
--     set @TDATE=DATEADD(YY,YEAR(@CMDATE)-YEAR(@TDATE),@TDATE)
--	 SET @CM_YEAR=YEAR(@TDATE)
--	 SET @CM_MONTH=MONTH(@TDATE)
--	 SET @CNT=0
--
--	 WHILE(@CM_YEAR<=YEAR(@EDATE) AND @CNT=0)
--
--		BEGIN
--		  SET @DIFFDAYS=DATEDIFF(D,@TEMP_DATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
--		  SET @TOTALDAYS=DATEDIFF(D,@CMDATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
--          SET @TEMPDATE = @TDATE
--          SET @DEPR2 = 0
--          SET @DEPR3 = 0
--          SET @DEPR = 0
--
--			DECLARE #STREIGHT CURSOR FOR SELECT ASSETCODE,PURCHASEDATE,ADDVALUE,LESSVALUE,COMMENCEDATE FROM ADDVL WHERE ASSETCODE=@IT_NAME
--	 		OPEN #STREIGHT
--			IF(@RCNT=0)
--				BEGIN
--					FETCH NEXT FROM #STREIGHT INTO @PIT_NAME,@PCHDATE1,@ADDVALUE,@LESSVALUE,@CMDATE
--					SET @PCHDATE=CONVERT(DATETIME,@PCHDATE1,105)	
--					SET @RCNT=@RCNT+1
--					SET @RCNT1=@RCNT1+1
--				END
--
--		 SET @BALDAYS=0
--		 IF(@ADDVALUE<>0 AND @CM_MONTH=MONTH(@PCHDATE) AND @CM_YEAR=YEAR(@PCHDATE) AND @PIT_NAME=@IT_NAME)	 	 		   	
--			BEGIN
--				SET @OPEN_ASS_VAL=@PVAL
--				
--				SET @OPEN_DAYS=DATEDIFF(D,@PCHDATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
--				SET @SPERDEP=@PVAL/@STDAYS
--				SET @DEPR=@TEMPDAYS*@SPERDEP
--				SET @DEPR=(@DIFFDAYS+1)*@SPERDEP
--                SET @DEPR2=@DEPR
--                SET @SPERDEP=@ADDVALUE/@STDAYS
--                SET @DEPR1=(@OPEN_DAYS+1)*@SPERDEP
--                SET @DEPR=@DEPR1+@DEPR2
--                SET @PVAL=@PVAL+@ADDVALUE
--                SET @PVAL=@PVAL-@DEPR
--                SET @BALPVAL=@PVAL
--				IF(@PCHDATE>=@SDATE AND @PCHDATE<=@EDATE)
--					SET @ADD_VAL=@ADDVALUE
--				ELSE
--					BEGIN
--					SET @ADD_VAL=0						
--					END
--				SET @RCNT=0
--			END
--		 ELSE IF(@LESSVALUE<>0 AND @CM_MONTH=MONTH(@PCHDATE) AND @CM_YEAR=YEAR(@PCHDATE) AND @PIT_NAME=@IT_NAME)
--			BEGIN
--				SET @OPEN_ASS_VAL=@PVAL
--				SET @OPEN_DAYS=DATEDIFF(D,@PCHDATE,DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)))
--				SET @SPERDEP=@PVAL/@STDAYS
--				SET @DEPR=@TEMPDAYS*@SPERDEP
--				SET @DEPR=(@DIFFDAYS+1)*@SPERDEP
--                SET @DEPR2=@DEPR
--                SET @SPERDEP=@LESSVALUE/@STDAYS
--                SET @DEPR1=(@OPEN_DAYS+1)*@SPERDEP
--                SET @DEPR=@DEPR1+@DEPR2
--                SET @PVAL=@PVAL+@LESSVALUE
--                SET @PVAL=@PVAL-@DEPR
--                SET @BALPVAL=@PVAL
--				IF(@PCHDATE>=@SDATE AND @PCHDATE<=@EDATE)
--					SET @DEL_VAL=@LESSVALUE
--				ELSE
--					BEGIN
--					SET @DEL_VAL=0						
--					END
--				SET @RCNT=0
--			END
--		 ELSE
--			BEGIN
--
--				IF(@TOTALDAYS<@DIFFDAYS)
--					BEGIN
--						SET @OPEN_ASS_VAL = @PVAL
--                        SET @SPERDEP=@ORGVAL/@STDAYS
--                        SET @DEPR=@TOTALDAYS*@SPERDEP
--                        SET @PVAL=@PVAL-@DEPR
--                        SET @BALPVAL=@PVAL
--					END
--				ELSE
--					BEGIN
--						SET @OPEN_ASS_VAL=@PVAL
--                        SET @SPERDEP=ROUND(@ORGVAL/@STDAYS,4)
--                        SET @DEPR=(@DIFFDAYS+1)*@SPERDEP
--                        SET @PVAL=@PVAL-@DEPR
--                        SET @BALPVAL=@PVAL
--					END
--			END	
--
--		SET @TEMPDEPR=@TEMPDEPR+@DEPR
--		IF(@TDATE<@SDATE)
--			BEGIN
--				SET @TEMPDEPR=0
--			END	
--		IF(@SDATE>=@TDATE AND @SDATE<=DATEADD(S,-1,DATEADD(MM, DATEDIFF(M,0,@TDATE)+1,0)) )
--			BEGIN
--				SET @TEMPASSVAL=@OPEN_ASS_VAL
--			END
--
--		IF (@CM_YEAR=YEAR(@EDATE) AND @CM_MONTH=MONTH(@EDATE))
--		  BEGIN
--			SET @CNT=1
--		  END
--		 SET @CM_MONTH=@CM_MONTH+1
--		 IF(@CM_MONTH>12)
--			BEGIN
--				SET @CM_MONTH=1
--			END	
--
--		 SET @TEMP_DATE=DATEADD(M,1,@TEMP_DATE)
--		 SET @TDATE=DATEADD(M,1,@TDATE)
--		 SET @CM_YEAR=YEAR(@TEMP_DATE)	
-- 		 cLOSE #STREIGHT 
--		 DEALLOCATE #STREIGHT
--
--		END
--		IF (DATEDIFF(D,@SDATE,@EDATE)>31)
--			BEGIN
--				SET @DEPR=@TEMPDEPR
--			END	
--		SET @OPEN_ASS_VAL=@TEMPASSVAL
--	  INSERT INTO #TEMP1(IT_NAME1,METHODNM,NOOFYR,DEPRPER,PVALUE,DEPRECIATION,BALPVAL,OPEN_VALUE,ADDITION,DELETION,COMNCDT) VALUES(@IT_NAME,@METHODNM,@NOOFYR,@U_DEPRPER,@PCHVAL, @DEPR,@BALPVAL,@OPEN_ASS_VAL,@ADD_VAL,@DEL_VAL,@CMDATE)
--
--   END
--************************* STREIGHT LINE END **********************************
--************************* BASED ON USAGE **************************************

 IF (@METHODNM='BASED ON USAGE')
   BEGIN

      SET @DEPR = 0
	  SET @ADD_VAL = 0
	  SET @DEL_VAL = 0
  	  SET @PCHVAL=@PVAL	
	  SET @BALPVAL=0
	  SET @TEMPVAL=@PVAL	
	  SET @CNT=0


	  DECLARE #BSUSAGE CURSOR FOR SELECT DATE1,DEPR FROM BS_USAGE WHERE ASSETCODE=@IT_NAME
      OPEN #BSUSAGE
      FETCH #BSUSAGE INTO @BSDATE,@BSDEPR
        WHILE @@FETCH_STATUS=0
		  BEGIN
			SET @bsdt1=CONVERT(DATETIME,@BSDATE,105)
			IF(@EDATE>@BSDT1)
			  BEGIN
					IF (@BSDT1>@EDATE)
						BREAK
				SET @BSTDT=@BSDT1
				SET @TEMPVAL=@PVAL - @DEPR

				SET @TDEPR=@BSDEPR
				SET @DEPR=@DEPR+@TDEPR
				SET @CNT=1
			  END
			FETCH NEXT FROM #BSUSAGE INTO @BSDATE,@BSDEPR
			SET @bsdt1=CONVERT(DATETIME,@BSDATE,105)
		  END
IF (@BSTDT<@SDATE)
 BEGIN
     SET @BALPVAL = @PVAL - @DEPR
	 SET @OPEN_ASS_VAL = @BALPVAL
	 SET @DEPR=0	
 END
ELSE IF @CNT=1
 BEGIN
	 SET @OPEN_ASS_VAL = @TEMPVAL
     SET @BALPVAL = @PVAL - @DEPR

 END
ELSE
 BEGIN
	 SET @OPEN_ASS_VAL = @PVAL
     SET @BALPVAL = @PVAL - @DEPR
 END


	  INSERT INTO #TEMP1(IT_NAME1,METHODNM,NOOFYR,DEPRPER,PVALUE,DEPRECIATION,BALPVAL,OPEN_VALUE,ADDITION,DELETION,COMNCDT) VALUES(@IT_NAME,@METHODNM,@NOOFYR,@U_DEPRPER,@PCHVAL, @DEPR,@BALPVAL,@OPEN_ASS_VAL,@ADD_VAL,@DEL_VAL,@CMDATE)
		CLOSE #BSUSAGE
		DEALLOCATE #BSUSAGE   
END
--************************* BASED ON USAGE END **************************************

FETCH NEXT FROM IT_MAST12 INTO @IT_NAME,@METHODNM,@PVAL,@NOOFYR,@U_DEPRPER,@CMDATE

END


DELETE FROM #TEMP1 WHERE  COMNCDT>@EDATE

--select a.*,b.valuesold from #temp1 a right outer join assetdisposal b on(a.it_name1=b.assetcode) where  a.it_name1<>b.assetcode or convert(datetime,b.DisposalDate,101) between (@sdate) and (@edate) 
--select a.*,b.valuesold,b.DisposalDate into #temp2 from #temp1 a left outer join assetdisposal b on(a.it_name1=b.assetcode) 
--Birendra :
--select a.*,isnull(b.valuesold,0) as valuesold,isnull(b.DisposalDate,'') as DisposalDate  into #temp2 from #temp1 a left outer join assetdisposal b on(a.it_name1=b.assetcode) 
--Birendra: changes for disposable date
select a.*,isnull(b.valuesold,0) as valuesold,isnull(b.DisposalDate,@EDATE) as DisposalDate  into #temp2 from #temp1 a left outer join assetdisposal b on(a.it_name1=b.assetcode) 
--delete from #temp2 where convert(datetime,DisposalDate,101) not between (@sdate) and (@edate)
--delete from #temp2 where convert(datetime,DisposalDate,101)<convert(datetime,@sdate,101)
--Birendra :

--delete from #temp2 where convert(datetime,DisposalDate,101) not between (@sdate) and (@edate)
--delete from #temp2 where convert(datetime,DisposalDate,101)<(convert(datetime,@sdate,101))
--Birendra :

delete from #temp2 where convert(Datetime,disposaldate,103)<@sdate

select * from #temp2
----select * from #temp1
CLOSE IT_MAST12
DEALLOCATE IT_MAST12


END