set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go



--EXUnits as Integer 
-- =============================================
-- Author:		<Rup>
-- Create date: <21/03/2007>
-- Description:	<Modvat Pass/Not Pass Report (Combine)>
-- =============================================
ALTER PROCEDURE [dbo].[USP_REP_1_MODPASSC] 
	@sdate as smalldatetime,@edate as smalldatetime
AS
BEGIN
	DECLARE @SQLCOMMAND NVARCHAR(4000),@SCONDP VARCHAR(100),@SCONDM VARCHAR(100),@SFLD VARCHAR(50),@HEAD_NM VARCHAR(30),@SRNO INT
	--declare @sdate as smalldatetime,@edate as smalldatetime
	--set @sdate='2007/03/14'
	--set @Edate='2007/03/31'
	SELECT ENTRY_TY,BHEV=(CASE WHEN EXT_VOU =0 THEN ENTRY_TY ELSE BCODE_NM END) INTO #L FROM LCODE 
	SELECT SRNO='10',HEAD=SPACE(30),I.IT_CODE,OPBAL=I.QTY,PURCHASE=I.QTY,SALESR=I.QTY,OREC=I.QTY,SALESM=I.QTY,SALESN=I.QTY,OISS=I.QTY,BAL=I.QTY,WARE_NM	into #MODPASSC FROM TRADEITEM I  WHERE 1=2
	SET	@HEAD_NM='Quantity'
	SET @SCONDP='I.PMKEY='+'''+'''
	SET @SCONDM='I.PMKEY='+'''-'''
	--SET @SFLD='(QTY-CASE WHEN RQTY IS NULL THEN 0 ELSE RQTY END)'
	SET @SFLD='I.QTY'

	SET @SQLCOMMAND='INSERT into #MODPASSC SELECT SRNO=0,HEAD='+CHAR(39)+@HEAD_NM+CHAR(39)+',I.IT_CODE,'
	SET @SQLCOMMAND=@SQLCOMMAND+'OPBAL=(SUM(CASE WHEN '+@SCONDP+' AND (L.BHEV='+'''OS'''+' OR I.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)-SUM(CASE WHEN '+@SCONDM+' AND (L.BHEV='+'''OS'''+' OR I.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END))' 
	SET @SQLCOMMAND=@SQLCOMMAND+',PURCHASE=SUM(CASE WHEN ('+@SCONDP+' AND L.BHEV IN ('+'''AR'''+','+'''PT'''+')  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',SALESR =SUM(CASE WHEN ('+@SCONDP+' AND L.BHEV='+'''GT'''+'  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN '+@SFLD+' ELSE 0 END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',OREC=SUM(CASE WHEN ('+@SCONDP+' AND L.BHEV NOT IN('+'''AR'''+','+'''SR'''+','+'''OS'''+')  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN '+@SFLD+' ELSE 0 END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',SALESM=SUM(CASE WHEN ('+@SCONDM+' AND L.BHEV IN ('+'''ST'''+','+'''DC'''+') AND M.[RULE]='+'''EXCISE'''+' AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',SALESN=SUM(CASE WHEN ('+@SCONDM+' AND L.BHEV IN ('+'''ST'''+','+'''DC'''+') AND M.[RULE]='+'''NON-EXCISE'''+' AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',OISS=SUM(CASE WHEN (+'+@SCONDM+' AND L.BHEV NOT IN('+'''ST'''+','+'''OS'''+','+'''DC'''+')  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',BAL=SUM(CASE WHEN '+@SCONDP+' THEN '+@SFLD+' ELSE '+@SFLD+' END)'
	SET @SQLCOMMAND=@SQLCOMMAND+',I.WARE_NM'
	SET @SQLCOMMAND=@SQLCOMMAND+' FROM TRADEITEM I '
	--SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN ITREF IREF ON (I.ENTRY_TY=IREF.RENTRY_TY AND I.TRAN_CD=IREF.ITREF_TRAN AND I.ITSERIAL=IREF.RITSERIAL)'
	SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN TRADEMAIN M ON (I.ENTRY_TY=M.ENTRY_TY AND I.TRAN_CD=M.TRAN_CD)'
	SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN #L L  ON (I.ENTRY_TY=L.ENTRY_TY) '
	SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN GTMAIN GTM  ON (I.ENTRY_TY=GTM.ENTRY_TY AND I.TRAN_CD=GTM.TRAN_CD )'
	SET @SQLCOMMAND=@SQLCOMMAND+' WHERE M.ENTRY_TY IN ('+'''AR'''+','+'''IR'''+','+'''DC'''+','+'''II'''+','+'''SS'''+') OR (M.ENTRY_TY='+'''GT'''+' AND GTM.U_SINFO=0)'
	SET @SQLCOMMAND=@SQLCOMMAND+' GROUP BY I.IT_CODE,I.WARE_NM'
	PRINT @SQLCOMMAND
	EXECUTE SP_EXECUTESQL @SQLCOMMAND
	
	
	
	DECLARE  CER_MODPASSC CURSOR FOR SELECT DISTINCT HEAD_NM,FLD_NM,CORDER 
	FROM DCMAST  WHERE CODE='E'
	OPEN CER_MODPASSC
	FETCH NEXT FROM CER_MODPASSC INTO @HEAD_NM,@SFLD,@SRNO
	WHILE @@FETCH_STATUS=0
	BEGIN
		SET @SFLD='I.'+@SFLD
		SET @SQLCOMMAND='INSERT into #MODPASSC SELECT SRNO='+CAST(@SRNO AS VARCHAR)+',HEAD='+CHAR(39)+@HEAD_NM+CHAR(39)+',I.IT_CODE,'
		SET @SQLCOMMAND=@SQLCOMMAND+'OPBAL=(SUM(CASE WHEN '+@SCONDP+' AND (L.BHEV='+'''OS'''+' OR I.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)-SUM(CASE WHEN '+@SCONDM+' AND (L.BHEV='+'''OS'''+' OR I.DATE<'+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END))' 
		SET @SQLCOMMAND=@SQLCOMMAND+',PURCHASE=SUM(CASE WHEN ('+@SCONDP+' AND L.BHEV IN ('+'''AR'''+','+'''PT'''+')  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',SALESR =SUM(CASE WHEN ('+@SCONDP+' AND L.BHEV='+'''GT'''+'  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN '+@SFLD+' ELSE 0 END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',OREC=SUM(CASE WHEN ('+@SCONDP+' AND L.BHEV NOT IN('+'''AR'''+','+'''SR'''+','+'''OS'''+')  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+') THEN '+@SFLD+' ELSE 0 END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',SALESM=SUM(CASE WHEN ('+@SCONDM+' AND L.BHEV IN ('+'''ST'''+','+'''DC'''+') AND M.[RULE]='+'''EXCISE'''+' AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',SALESN=SUM(CASE WHEN ('+@SCONDM+' AND L.BHEV IN ('+'''ST'''+','+'''DC'''+') AND M.[RULE]='+'''NON-EXCISE'''+' AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',OISS=SUM(CASE WHEN (+'+@SCONDM+' AND L.BHEV NOT IN('+'''ST'''+','+'''OS'''+','+'''DC'+''')  AND I.DATE>='+CHAR(39)+CAST(@SDATE AS VARCHAR)+CHAR(39)+')THEN '+@SFLD+' ELSE 0 END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',BAL=SUM(CASE WHEN '+@SCONDP+' THEN '+@SFLD+' ELSE '+@SFLD+' END)'
		SET @SQLCOMMAND=@SQLCOMMAND+',I.WARE_NM'
		SET @SQLCOMMAND=@SQLCOMMAND+' FROM TRADEITEM I '
		SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN TRADEMAIN M ON (I.ENTRY_TY=M.ENTRY_TY AND I.TRAN_CD=M.TRAN_CD)'
		SET @SQLCOMMAND=@SQLCOMMAND+' INNER JOIN #L L  ON (I.ENTRY_TY=L.ENTRY_TY) '
		SET @SQLCOMMAND=@SQLCOMMAND+' LEFT JOIN GTMAIN GTM  ON (I.ENTRY_TY=GTM.ENTRY_TY AND I.TRAN_CD=GTM.TRAN_CD )'
		SET @SQLCOMMAND=@SQLCOMMAND+' WHERE M.ENTRY_TY IN ('+'''AR'''+','+'''IR'''+','+'''DC'''+','+'''II'''+','+'''SS'''+') OR (M.ENTRY_TY='+'''GT'''+' AND GTM.U_SINFO=0)'
		SET @SQLCOMMAND=@SQLCOMMAND+' GROUP BY I.IT_CODE,I.WARE_NM'
		--PRINT @SQLCOMMAND
		EXECUTE SP_EXECUTESQL @SQLCOMMAND
		FETCH NEXT FROM CER_MODPASSC INTO @HEAD_NM,@SFLD,@SRNO
	END--FETCH NEXT FROM CER_MODPASSC
	CLOSE CER_MODPASSC
	DEALLOCATE CER_MODPASSC

	--SELECT * FROM #MODPASSC
		
	SELECT SRNO,Head as [Description],it.it_name as [Item Description],it.rateunit as [UOM],opbal as [Opening Balance],Purchase,salesr as [Sales Return],orec as [Other Receipt],salesm as [Sales (Modvatable)],salesn as [Sales (Non-modvatable)],oiss as [Other Issue],bal as [Ballance],WARE_NM AS [Warehouse Name]
	FROM #MODPASSC 	
	INNER JOIN IT_MAST IT ON (#MODPASSC.it_code=IT.IT_code) ORDER BY SRNO,HEAD,it_name
	
END


